flows.json
[{"id":"a69df1cc3d44ad70","type":"tab","label":"Export flows","disabled":false,"info":"","env":[]},{"id":"ba3387d8c4ba1124","type":"tab","label":"Http Formatting","disabled":false,"info":"","env":[]},{"id":"6b43dd0b86d0508f","type":"tab","label":"Prep","disabled":false,"info":"","env":[]},{"id":"46ee80b8a4f502b5","type":"tab","label":"Set attributes","disabled":false,"info":"","env":[]},{"id":"816b18275c5bc79f","type":"subflow","name":"Expense Account regex","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"daa9d0d0fa38b0eb"}]}],"out":[{"x":1440,"y":40,"wires":[{"id":"90fecf295cd5fc2d","port":0}]},{"x":1240,"y":100,"wires":[{"id":"968ebb6d4801f1f3","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6dda729768875793","type":"subflow","name":"Try extract transaction description","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"05eade19e3d9ca56"}]}],"out":[{"x":3080,"y":60,"wires":[{"id":"09c3b8c5f4b6aee7","port":0}]},{"x":3080,"y":120,"wires":[{"id":"9fecfc405e86434f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9194aea876e56ce1","type":"subflow","name":"Try fix existing transactions","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"67bee52d12b1a409"}]}],"out":[{"x":3020,"y":80,"wires":[{"id":"1fa76948b14e197e","port":0}]},{"x":3020,"y":160,"wires":[{"id":"b178c7e54fc21a1f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"696aa485b47f3ed1","type":"subflow","name":"Extract account from description","info":"","category":"","in":[{"x":60,"y":240,"wires":[{"id":"184ba8c2ce758ea5"}]}],"out":[{"x":2400,"y":240,"wires":[{"id":"df1b3dd6eb41d8fc","port":0}]},{"x":2400,"y":300,"wires":[{"id":"fd3786f0559d5d42","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0671602043798046","type":"subflow","name":"Apply","info":"","category":"","in":[{"x":70,"y":60,"wires":[{"id":"a0ac90ca5719d41e"}]}],"out":[{"x":2180,"y":60,"wires":[{"id":"3d1d881b4af1de4d","port":0},{"id":"1be25d452a681ef4","port":0},{"id":"1be25d452a681ef4","port":1}]},{"x":2180,"y":120,"wires":[{"id":"3d1d881b4af1de4d","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"93cc749f16e91b2e","type":"subflow","name":"Global rules","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"101dcbc8312a94dc"}]}],"out":[{"x":1820,"y":40,"wires":[{"id":"b3532fc2deade31d","port":0}]},{"x":1820,"y":100,"wires":[{"id":"f326256c3361ed93","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"01b051af50aa23e2","type":"link in","z":"816b18275c5bc79f","name":"finish with success","links":["352772c1eb8430be","a872c018e5b638b2","43dbae7afcd028b4","39ed0e6b8dd73f80","343a85767ce33601","0495d7bc88c3fa94","b58f7b1f70714d7f","782d54a220f8d77e","d8e6c565d5e1691f","67f7cf7bf93998f1"],"x":1165,"y":40,"wires":[["90fecf295cd5fc2d"]]},{"id":"968ebb6d4801f1f3","type":"link in","z":"816b18275c5bc79f","name":"finish with fail","links":["2331a9bb7cf4b486","3aaa70210f254252","9448ed873c3bba74"],"x":1165,"y":100,"wires":[[]]},{"id":"90fecf295cd5fc2d","type":"function","z":"816b18275c5bc79f","name":"copy attributes","func":"msg.regex.attributes = msg.attributes.attributes;\nmsg.regex.add_tags = msg.attributes.add_tags;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":40,"wires":[[]]},{"id":"daa9d0d0fa38b0eb","type":"link call","z":"816b18275c5bc79f","name":"","links":["2712d51fe2844eb6"],"linkType":"static","timeout":"30","x":210,"y":40,"wires":[["31d991ae290e2066"]]},{"id":"31d991ae290e2066","type":"switch","z":"816b18275c5bc79f","name":"Is Coke","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^C[0-9]+ COKE_[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":40,"wires":[["340656f78a6f36d2"],["8bd8a0d87c365a9a"]]},{"id":"340656f78a6f36d2","type":"change","z":"816b18275c5bc79f","name":"set output to Coke","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"Coke","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":40,"wires":[["39ed0e6b8dd73f80"]]},{"id":"39ed0e6b8dd73f80","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":40,"wires":[]},{"id":"8bd8a0d87c365a9a","type":"switch","z":"816b18275c5bc79f","name":"Is Misumi","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^MISUMI USA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":80,"wires":[["f1cb95fe8739cc1b"],["ee16f58e7d62a5c5"]]},{"id":"f1cb95fe8739cc1b","type":"change","z":"816b18275c5bc79f","name":"set output to Misumi","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"Misumi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["343a85767ce33601"]]},{"id":"343a85767ce33601","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":80,"wires":[]},{"id":"9448ed873c3bba74","type":"link out","z":"816b18275c5bc79f","name":"finish with fail","mode":"link","links":["968ebb6d4801f1f3"],"x":695,"y":320,"wires":[]},{"id":"ee16f58e7d62a5c5","type":"switch","z":"816b18275c5bc79f","name":"Is Namecheap","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^NAME-CHEAP\\.COM","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":120,"wires":[["76ed9a3dffd6b6fe"],["86cd48c5cf4aa977"]]},{"id":"76ed9a3dffd6b6fe","type":"change","z":"816b18275c5bc79f","name":"set output to Namecheap","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"Namecheap","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":120,"wires":[["0495d7bc88c3fa94"]]},{"id":"0495d7bc88c3fa94","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":120,"wires":[]},{"id":"86cd48c5cf4aa977","type":"switch","z":"816b18275c5bc79f","name":"Is RedBubble","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^\\*REDBUBB ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":160,"wires":[["9361fdca2d19a3b5"],["4b453f1f4712bfe9"]]},{"id":"9361fdca2d19a3b5","type":"change","z":"816b18275c5bc79f","name":"Set output to RedBubble","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"RedBubble","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":160,"wires":[["b58f7b1f70714d7f"]]},{"id":"b58f7b1f70714d7f","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":160,"wires":[]},{"id":"4b453f1f4712bfe9","type":"switch","z":"816b18275c5bc79f","name":"Is Unknown Paypal Transaction","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ PAYPAL PTE LTD$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":200,"wires":[["631b677bd06dbd57"],["aeffbe65f5855ae8"]]},{"id":"631b677bd06dbd57","type":"change","z":"816b18275c5bc79f","name":"Set output to Unknown Paypal Transaction","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"Unknown Paypal Transaction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":200,"wires":[["782d54a220f8d77e"]]},{"id":"782d54a220f8d77e","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":200,"wires":[]},{"id":"aeffbe65f5855ae8","type":"switch","z":"816b18275c5bc79f","name":"Is UPS","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^UPS\\*[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":400,"y":240,"wires":[["8eac60c8e44cd3ba"],["0cf2507a4a772f9f"]]},{"id":"8eac60c8e44cd3ba","type":"change","z":"816b18275c5bc79f","name":"Set output to UPS","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"UPS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["d8e6c565d5e1691f"]]},{"id":"d8e6c565d5e1691f","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":240,"wires":[]},{"id":"0cf2507a4a772f9f","type":"switch","z":"816b18275c5bc79f","name":"Is Unknown Internet Banking Deposit","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^Internet Banking INTERNET DEPOSIT [0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":280,"wires":[["9d67fe53dd6296f3"],["9448ed873c3bba74"]]},{"id":"9d67fe53dd6296f3","type":"change","z":"816b18275c5bc79f","name":"Set output to Unknown Internet Banking Deposit","rules":[{"t":"set","p":"regex.output","pt":"msg","to":"Unknown Internet Banking Deposit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":280,"wires":[["67f7cf7bf93998f1"]]},{"id":"67f7cf7bf93998f1","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":1075,"y":280,"wires":[]},{"id":"aef8bcaec909662f","type":"link in","z":"6dda729768875793","name":"finish flow with success","links":["2e97aee3b532b863","46d10a633e45e6af","5013fe6a6f489657","57e398e867de8f34","67e236cc67873ddf","880eaca47457eb40","9c6063c4c00cea84","a0ea9338e513d4ba","ce0840d30b15b98e","315a78f88aeab388","abcf6e573853d225","b94f3e29c09e3899","b33580ecffb48518","d8e345e82c62870f","096d48169914ee92"],"x":2735,"y":60,"wires":[["09c3b8c5f4b6aee7"]]},{"id":"9fecfc405e86434f","type":"link in","z":"6dda729768875793","name":"finish with fail","links":["ea44cb9849b9e872"],"x":2735,"y":120,"wires":[[]]},{"id":"a79533c475561b25","type":"switch","z":"6dda729768875793","name":"Is Visa debit purchase","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":760,"y":440,"wires":[["0441e057a6bdae3c"],["69eb438512e22737"]]},{"id":"0441e057a6bdae3c","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.description.working = msg.description.working.replace(\"Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":440,"wires":[["23e98aae3187d150"]]},{"id":"e380ae1691d5c043","type":"switch","z":"6dda729768875793","name":"Is Interac Retail purchase","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":700,"wires":[["e9c5220dd98299b0"],["8df0c90e53c6f996"]]},{"id":"23e98aae3187d150","type":"switch","z":"6dda729768875793","name":"Is Paypal","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^PAYPAL\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1240,"y":440,"wires":[["56bcbefc3723c5e2"],["1c70b095d49381fc"]]},{"id":"56bcbefc3723c5e2","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.description.working = msg.description.working.replace(\"PAYPAL \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":440,"wires":[["1c70b095d49381fc"]]},{"id":"5dec8e51955a258a","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.description.working = msg.description.working.replace(\"Point of Sale - Interac RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":740,"wires":[["dff233818966ec5f"]]},{"id":"8df0c90e53c6f996","type":"switch","z":"6dda729768875793","name":"Is Preauthorized debit transfer","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer PREAUTHORIZED DEBIT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":860,"wires":[["9cf074bff90f80af"],["633a7e027b75044c"]]},{"id":"9cf074bff90f80af","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.description.working = msg.description.working.replace(\"Electronic Funds Transfer PREAUTHORIZED DEBIT \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":860,"wires":[["5f1dbf79bf23d3c2"]]},{"id":"dd3a51d742a94ec8","type":"switch","z":"6dda729768875793","name":"Is Visa international debit purchase","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":800,"y":520,"wires":[["5376380ccf3f7291"],["e380ae1691d5c043"]]},{"id":"5376380ccf3f7291","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.description.working = msg.description.working.replace(\"Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":520,"wires":[["23e98aae3187d150"]]},{"id":"e105a9ff6d0f2919","type":"switch","z":"6dda729768875793","name":"Check known account","property":"description.known_account","propertyType":"msg","rules":[{"t":"eq","v":"Scotia Momentum VISA Infinite","vt":"str"},{"t":"eq","v":"CIBC VISA","vt":"str"},{"t":"eq","v":"CIBC - Smart Plus","vt":"str"},{"t":"eq","v":"CIBC - Premium Growth","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":420,"y":60,"wires":[["c20e048d0b26b6de"],["3c398ec46d2cec86"],["78ba0ab8a1c07c39"],["fb0503a797d3fb8c"],["fb0503a797d3fb8c"]]},{"id":"46d10a633e45e6af","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1735,"y":700,"wires":[]},{"id":"a0ea9338e513d4ba","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1475,"y":860,"wires":[]},{"id":"e9c5220dd98299b0","type":"switch","z":"6dda729768875793","name":"Has numeric code before vendor","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE [0-9]+\\s+.+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":700,"wires":[["661c450d21f1d805"],["5dec8e51955a258a"]]},{"id":"661c450d21f1d805","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Point of Sale - Interac RETAIL PURCHASE [0-9]+\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":700,"wires":[["dff233818966ec5f"]]},{"id":"1c70b095d49381fc","type":"switch","z":"6dda729768875793","name":"Contains exchange rate information","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9\\s]+.* [0-9]+\\.[0-9]{2} (CAD|USD) @ [0-9]+\\.[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1480,"y":480,"wires":[["72b83d76d7b6375b"],["a36bb8eb9975c92f"]]},{"id":"72b83d76d7b6375b","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = / [0-9]+\\.[0-9]{2} (CAD|USD) @ [0-9]+\\.[0-9]+$/\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":480,"wires":[["a36bb8eb9975c92f"]]},{"id":"a36bb8eb9975c92f","type":"switch","z":"6dda729768875793","name":"Has trailing transaction number","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.+ [0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1790,"y":540,"wires":[["fa3bb8f695d98021"],["d11c94839d158c58"]]},{"id":"fa3bb8f695d98021","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = / [0-9]+$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":540,"wires":[["d11c94839d158c58"]]},{"id":"67e236cc67873ddf","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":2275,"y":580,"wires":[]},{"id":"0b46cdec0d132efd","type":"switch","z":"6dda729768875793","name":"Has trailing location data","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]+.* {2,}(([A-Za-z]+)|([0-9]{3}-[0-9]{3}-?[0-9]{4})|([A-Za-z]+\\.[A-Za-z]+)) +[A-Za-z]{2}$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1050,"y":80,"wires":[["b72fa73ec844e1b8"],["b9be1c3c2b494e3b"]]},{"id":"b72fa73ec844e1b8","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = / {2,}(([A-Za-z]+)|([0-9]{3}-[0-9]{3}-?[0-9]{4})|([A-Za-z]+\\.[A-Za-z]+)) +[A-Za-z]{2}$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":80,"wires":[["764a6543f7cc23bd"]]},{"id":"9c6063c4c00cea84","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":2295,"y":80,"wires":[]},{"id":"c20e048d0b26b6de","type":"switch","z":"6dda729768875793","name":"Has trailing Google Pay flag","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]+.*\\s+\\(GOOGLE PAY\\)$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":780,"y":40,"wires":[["6141e09181d7b0fc"],["0b46cdec0d132efd"]]},{"id":"6141e09181d7b0fc","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /\\s+\\(GOOGLE PAY\\)$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":40,"wires":[["0b46cdec0d132efd"]]},{"id":"633a7e027b75044c","type":"switch","z":"6dda729768875793","name":"Is Internet bill payment","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Internet Banking INTERNET BILL PAY [0-9]+\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":900,"wires":[["13f0721e1b4ebb08"],["549a94d282dec927"]]},{"id":"13f0721e1b4ebb08","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Internet Banking INTERNET BILL PAY [0-9]+\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":900,"wires":[["5013fe6a6f489657"]]},{"id":"5013fe6a6f489657","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1175,"y":900,"wires":[]},{"id":"ea44cb9849b9e872","type":"link out","z":"6dda729768875793","name":"finish with fail","mode":"link","links":["9fecfc405e86434f"],"x":975,"y":1060,"wires":[]},{"id":"05eade19e3d9ca56","type":"function","z":"6dda729768875793","name":"prepare for work","func":"msg.description.working = msg.description.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":40,"wires":[["e105a9ff6d0f2919"]]},{"id":"09c3b8c5f4b6aee7","type":"function","z":"6dda729768875793","name":"prepare work for output","func":"msg.description.output = msg.description.working;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":60,"wires":[[]]},{"id":"3c398ec46d2cec86","type":"function","z":"6dda729768875793","name":"trim description (CIBC VISA format)","func":"// re with named groups to help u understand\n// ^(?P<message>.+?)\\s*(?P<company_number> [0-9]{10})?(?:(?P<city> [A-Z]+)|(?P<phone> [0-9]{3}-[0-9]{3}-?[0-9]{4}))?(?P<website> [^\\s]+\\.[^\\s]{2,})?(?P<state>, [A-Z]{2})(?P<currency>(?: [0-9]+\\.[0-9]+ USD|CAD) @ [0-9]+\\.[0-9]+$)?$\nconst re = /\\s*( [0-9]{10})?(( [A-Z]+)|( [0-9]{3}-[0-9]{3}-?[0-9]{4}))?( [^\\s]+\\.[^\\s]{2,})?(, [A-Z]{2})(( [0-9]+\\.[0-9]+ USD|CAD) @ [0-9]+\\.[0-9]+$)?$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["1f6d9e90fd4a3716"]]},{"id":"02570fdd04939917","type":"link in","z":"6dda729768875793","name":"try extract trailing store number","links":[],"x":2735,"y":200,"wires":[["2096e11973e43d04"]]},{"id":"2096e11973e43d04","type":"switch","z":"6dda729768875793","name":"Has trailing store number","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^(.+?[^0-9]+?.+?)(#|(\\s+(((#\\s?)|C|(#C)|(#R))?)))[0-9]+\\*?$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2900,"y":200,"wires":[["fec5b7523c6d1649"],["378f48762153cc06"]]},{"id":"fec5b7523c6d1649","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /(#|(\\s+(((#\\s?)|C|(#C)|(#R))?)))[0-9]+\\*?$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3140,"y":200,"wires":[["a9265eac5457cd5e"]]},{"id":"a9265eac5457cd5e","type":"link out","z":"6dda729768875793","name":"link out 13","mode":"return","links":[],"x":3275,"y":200,"wires":[]},{"id":"764a6543f7cc23bd","type":"link call","z":"6dda729768875793","name":"","links":["02570fdd04939917"],"linkType":"static","timeout":"30","x":2110,"y":80,"wires":[["9c6063c4c00cea84"]]},{"id":"d11c94839d158c58","type":"link call","z":"6dda729768875793","name":"","links":["02570fdd04939917"],"linkType":"static","timeout":"30","x":2090,"y":580,"wires":[["67e236cc67873ddf"]]},{"id":"dff233818966ec5f","type":"link call","z":"6dda729768875793","name":"","links":["02570fdd04939917"],"linkType":"static","timeout":"30","x":1550,"y":700,"wires":[["46d10a633e45e6af"]]},{"id":"5f1dbf79bf23d3c2","type":"link call","z":"6dda729768875793","name":"","links":["02570fdd04939917"],"linkType":"static","timeout":"30","x":1290,"y":860,"wires":[["a0ea9338e513d4ba"]]},{"id":"d8ea7c0d1d26e5fa","type":"link in","z":"6dda729768875793","name":"try extracting trailing non-seperated location data","links":[],"x":2735,"y":320,"wires":[["2e78edd97ea22b22"]]},{"id":"2e78edd97ea22b22","type":"switch","z":"6dda729768875793","name":"Ends with Edmonton, AB","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.*(Edmonton|EDMONTON)\\s+AB$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":320,"wires":[["8ad7d21da08598c4"],["28674bdf0d09819b"]]},{"id":"8ad7d21da08598c4","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /(Edmonton|EDMONTON)\\s+AB$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":320,"wires":[["a606094d9693e414"]]},{"id":"a606094d9693e414","type":"link out","z":"6dda729768875793","name":"link out 14","mode":"return","links":[],"x":3255,"y":320,"wires":[]},{"id":"b9be1c3c2b494e3b","type":"link call","z":"6dda729768875793","name":"","links":["d8ea7c0d1d26e5fa"],"linkType":"static","timeout":"30","x":1380,"y":120,"wires":[["536ee95489c0ed11"]]},{"id":"1f6d9e90fd4a3716","type":"link call","z":"6dda729768875793","name":"","links":["02570fdd04939917"],"linkType":"static","timeout":"30","x":1110,"y":200,"wires":[["315a78f88aeab388"]]},{"id":"315a78f88aeab388","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1295,"y":200,"wires":[]},{"id":"28674bdf0d09819b","type":"switch","z":"6dda729768875793","name":"Ends with Vancouver, BC","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.*(Vancouver|VANCOUVER)\\s+BC$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":360,"wires":[["a3d3912029f98265"],["468899a2f9e43a68"]]},{"id":"a3d3912029f98265","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /(Vancouver|VANCOUVER)\\s+BC$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":360,"wires":[["a606094d9693e414"]]},{"id":"58dbd5b0e3b7127c","type":"link in","z":"6dda729768875793","name":"try extracting location data with whitespace","links":[],"x":2735,"y":520,"wires":[["6fc08e44a30f008e"]]},{"id":"6fc08e44a30f008e","type":"switch","z":"6dda729768875793","name":"Ends with St. Albert, AB","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.+?\\s+ST\\. ALBERT\\s+AB$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":520,"wires":[["856012413ba1ceaf"],["30b8359c27656eca"]]},{"id":"856012413ba1ceaf","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /\\s+ST\\. ALBERT\\s+AB$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3160,"y":520,"wires":[["7997aefdaa6c2abf"]]},{"id":"7997aefdaa6c2abf","type":"link out","z":"6dda729768875793","name":"link out 15","mode":"return","links":[],"x":3295,"y":520,"wires":[]},{"id":"536ee95489c0ed11","type":"link call","z":"6dda729768875793","name":"","links":["58dbd5b0e3b7127c"],"linkType":"static","timeout":"30","x":1770,"y":120,"wires":[["764a6543f7cc23bd"]]},{"id":"30b8359c27656eca","type":"switch","z":"6dda729768875793","name":"Ends with Halifax, MID-HNS","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.+?\\s+HALIFAX\\s+MID-HNS$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2900,"y":560,"wires":[["eee9a409e54a2907"],["d9992aeb2faf87cb"]]},{"id":"eee9a409e54a2907","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /\\s+HALIFAX\\s+MID-HNS$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3160,"y":560,"wires":[["7997aefdaa6c2abf"]]},{"id":"468899a2f9e43a68","type":"switch","z":"6dda729768875793","name":"Ends with Montreal, QC","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.*(Montreal|MONTREAL)\\s+QC$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":400,"wires":[["4cbe49ff9b2bceb5"],["a78df71de07b6ecf"]]},{"id":"4cbe49ff9b2bceb5","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /(Montreal|MONTREAL)\\s+QC$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":400,"wires":[["a606094d9693e414"]]},{"id":"d9992aeb2faf87cb","type":"switch","z":"6dda729768875793","name":"Ends with San Francisco, CA","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.+?\\s+SAN FRANCISCOCA$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2900,"y":600,"wires":[["0833c8a149d8165f"],["f9ca75bfbdaa396e"]]},{"id":"0833c8a149d8165f","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /\\s+SAN FRANCISCOCA$$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3160,"y":600,"wires":[["7997aefdaa6c2abf"]]},{"id":"f9ca75bfbdaa396e","type":"switch","z":"6dda729768875793","name":"Ends with West Edmonton, AB","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]{2,}.+?\\s+WEST EDMONTONAB$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2910,"y":640,"wires":[["b453c6e25f38b515"],["fc4f486a579e77e8"]]},{"id":"b453c6e25f38b515","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /\\s+WEST EDMONTONAB$$/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3160,"y":640,"wires":[["7997aefdaa6c2abf"]]},{"id":"fc4f486a579e77e8","type":"link out","z":"6dda729768875793","name":"link out 16","mode":"return","links":[],"x":3095,"y":680,"wires":[]},{"id":"fb0503a797d3fb8c","type":"switch","z":"6dda729768875793","name":"Is e-transfer","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Internet Banking E-TRANSFER [0-9]+\\s+.*[A-Za-z]{2,}.*$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":320,"wires":[["dc503c1aaab6fe6b"],["a79533c475561b25"]]},{"id":"dc503c1aaab6fe6b","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Internet Banking E-TRANSFER [0-9]+\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":320,"wires":[["abcf6e573853d225"]]},{"id":"abcf6e573853d225","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1235,"y":320,"wires":[]},{"id":"549a94d282dec927","type":"switch","z":"6dda729768875793","name":"Is ATM Fee","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer NETWORK TRANSACTION FEE","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":940,"wires":[["85f95b987b489300"],["12fae16b9ff774a9"]]},{"id":"85f95b987b489300","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Electronic Funds Transfer NETWORK TRANSACTION FEE\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":940,"wires":[["b94f3e29c09e3899"]]},{"id":"b94f3e29c09e3899","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1175,"y":940,"wires":[]},{"id":"78ba0ab8a1c07c39","type":"switch","z":"6dda729768875793","name":"Is Visa Debit Google Pay Purchase","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE GOOGLE \\*[0-9A-Za-z ]+ [0-9]{5,}$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":280,"wires":[["ca945a22ab2eef2f"],["fb0503a797d3fb8c"]]},{"id":"ca945a22ab2eef2f","type":"function","z":"6dda729768875793","name":"Remove \"GOOGLE\"","func":"msg.description.working = msg.description.working.replace(\"GOOGLE *\", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":280,"wires":[["8a1598a41f059031"]]},{"id":"99b2f07d285ccee6","type":"link in","z":"6dda729768875793","name":"link in 1","links":["cd442d96eae21541","8a1598a41f059031","1e9612ec7db29945"],"x":605,"y":440,"wires":[["a79533c475561b25"]]},{"id":"8a1598a41f059031","type":"link out","z":"6dda729768875793","name":"link out 18","mode":"link","links":["99b2f07d285ccee6"],"x":1235,"y":280,"wires":[]},{"id":"12fae16b9ff774a9","type":"switch","z":"6dda729768875793","name":"Is deposit","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer DEPOSIT","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":980,"wires":[["0d695636ccf0d9fa"],["d56acc2c5b24461e"]]},{"id":"0d695636ccf0d9fa","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Electronic Funds Transfer DEPOSIT\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":980,"wires":[["b33580ecffb48518"]]},{"id":"b33580ecffb48518","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1175,"y":980,"wires":[]},{"id":"d56acc2c5b24461e","type":"switch","z":"6dda729768875793","name":"Is Paycheck","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer PAY","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1020,"wires":[["0cf8ab3b0409c688"],["ea44cb9849b9e872"]]},{"id":"0cf8ab3b0409c688","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Electronic Funds Transfer PAY\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1020,"wires":[["096d48169914ee92"]]},{"id":"096d48169914ee92","type":"link out","z":"6dda729768875793","name":"finish with success","mode":"link","links":["aef8bcaec909662f"],"x":1175,"y":1020,"wires":[]},{"id":"69eb438512e22737","type":"switch","z":"6dda729768875793","name":"Is Visa debit purchase reversal","property":"description.working","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT PURCHASE REVERSAL ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":480,"wires":[["7a2e6f7473c64487"],["dd3a51d742a94ec8"]]},{"id":"7a2e6f7473c64487","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Point of Sale - Visa Debit VISA DEBIT PURCHASE REVERSAL\\s+/;\nmsg.description.working = msg.description.working.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":480,"wires":[["23e98aae3187d150"]]},{"id":"a78df71de07b6ecf","type":"link out","z":"6dda729768875793","name":"link out 21","mode":"return","links":[],"x":3055,"y":440,"wires":[]},{"id":"378f48762153cc06","type":"link out","z":"6dda729768875793","name":"link out 22","mode":"return","links":[],"x":3075,"y":240,"wires":[]},{"id":"67bee52d12b1a409","type":"switch","z":"9194aea876e56ce1","name":"Is From CIBC Smart Plus","property":"existing.input.source_name","propertyType":"msg","rules":[{"t":"eq","v":"CIBC - Smart Plus","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[["460cb085d51a96ae"],["0cd7de4de672f40e"]]},{"id":"460cb085d51a96ae","type":"switch","z":"9194aea876e56ce1","name":"Is to NSLSC","property":"existing.input.destination_name","propertyType":"msg","rules":[{"t":"eq","v":"National Student Loans Service Centre (NSLSC)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":80,"wires":[["7691d94c7d91e789"],["0cd7de4de672f40e"]]},{"id":"5043ffa706371c42","type":"change","z":"9194aea876e56ce1","name":"Set destination to Canada Student Loan","rules":[{"t":"set","p":"existing.output.destination_name","pt":"msg","to":"Canada Student Loan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":80,"wires":[["ccdbdfa67af9ca7b"]]},{"id":"b178c7e54fc21a1f","type":"link in","z":"9194aea876e56ce1","name":"finish with fail","links":["b08d873a87e89682","182c2c75fe719c69","b020c4e686d3b353","0cd7de4de672f40e","89363768d89f81a3","c4b0a11f72e78139"],"x":2945,"y":160,"wires":[[]]},{"id":"ccdbdfa67af9ca7b","type":"link out","z":"9194aea876e56ce1","name":"finish with success","mode":"link","links":["1fa76948b14e197e"],"x":2815,"y":80,"wires":[]},{"id":"1fa76948b14e197e","type":"link in","z":"9194aea876e56ce1","name":"finish with success","links":["ccdbdfa67af9ca7b"],"x":2945,"y":80,"wires":[[]]},{"id":"ae140771558a980c","type":"switch","z":"9194aea876e56ce1","name":"Is description Canada Student Loan?","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"Canada Student Loan","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1990,"y":80,"wires":[["5043ffa706371c42"],["c4b0a11f72e78139"]]},{"id":"0cd7de4de672f40e","type":"link out","z":"9194aea876e56ce1","name":"finish with fail","mode":"link","links":["b178c7e54fc21a1f"],"x":395,"y":120,"wires":[]},{"id":"a642407e3cc20ea0","type":"subflow:6dda729768875793","z":"9194aea876e56ce1","name":"","x":940,"y":80,"wires":[["dc6d2edbe3a97b0b"],["0cd7de4de672f40e"]]},{"id":"7691d94c7d91e789","type":"function","z":"9194aea876e56ce1","name":"prepare for description","func":"msg.description.input = msg.existing.input.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":80,"wires":[["a642407e3cc20ea0"]]},{"id":"d8a2fed9b454d7c9","type":"http request","z":"9194aea876e56ce1","name":"lookup expense account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/expenseAccounts/get-key-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1430,"y":80,"wires":[["26415d500289fce0"]]},{"id":"0632b1d23c183cc2","type":"catch","z":"9194aea876e56ce1","name":"","scope":["d8a2fed9b454d7c9"],"uncaught":false,"x":1490,"y":120,"wires":[["c4b0a11f72e78139"]]},{"id":"26415d500289fce0","type":"switch","z":"9194aea876e56ce1","name":"found expense account?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1690,"y":80,"wires":[["ae140771558a980c"],["c4b0a11f72e78139"]]},{"id":"dc6d2edbe3a97b0b","type":"function","z":"9194aea876e56ce1","name":"prepare for http","func":"msg.payload = { key: msg.description.output };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":80,"wires":[["d8a2fed9b454d7c9"]]},{"id":"c4b0a11f72e78139","type":"link out","z":"9194aea876e56ce1","name":"finish with fail","mode":"link","links":["b178c7e54fc21a1f"],"x":1595,"y":120,"wires":[]},{"id":"b455a3c75bc4de93","type":"subflow:6dda729768875793","z":"696aa485b47f3ed1","name":"","x":720,"y":240,"wires":[["5d52c9eaafe45a7b"],["b69ed1d9f452b6b4"]]},{"id":"354d3fb331e8f1ed","type":"subflow:816b18275c5bc79f","z":"696aa485b47f3ed1","name":"","x":1470,"y":360,"wires":[["0f2841184a032e90"],["01ffba60081a929a","e4599739a9461b1c"]]},{"id":"959390922079aa9a","type":"function","z":"696aa485b47f3ed1","name":"prepare for regex","func":"msg.regex.input = msg.account.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":360,"wires":[["354d3fb331e8f1ed"]]},{"id":"0f2841184a032e90","type":"link call","z":"696aa485b47f3ed1","name":"","links":["c0923989a86fad7b"],"linkType":"static","timeout":"30","x":1710,"y":360,"wires":[["5689c21a6cef2202"]]},{"id":"5689c21a6cef2202","type":"link out","z":"696aa485b47f3ed1","name":"finish","mode":"link","links":["df1b3dd6eb41d8fc"],"x":1825,"y":360,"wires":[]},{"id":"e4599739a9461b1c","type":"link out","z":"696aa485b47f3ed1","name":"finish","mode":"link","links":["fd3786f0559d5d42"],"x":1825,"y":420,"wires":[]},{"id":"468f2adab1dc9b23","type":"http request","z":"696aa485b47f3ed1","name":"lookup expense account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/expenseAccounts/get-key-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1480,"y":300,"wires":[["4e4ac5117e645b45"]]},{"id":"b7595f69375c930c","type":"function","z":"696aa485b47f3ed1","name":"prepare for http","func":"msg.payload = { key: msg.account.description};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":240,"wires":[["da86200a36a17a08"]]},{"id":"892755453cb5a047","type":"link call","z":"696aa485b47f3ed1","name":"","links":["f5e9fd86f851d8b2"],"linkType":"static","timeout":"30","x":1960,"y":300,"wires":[["13019aab16099565"]]},{"id":"13019aab16099565","type":"link out","z":"696aa485b47f3ed1","name":"finish","mode":"link","links":["df1b3dd6eb41d8fc"],"x":2065,"y":300,"wires":[]},{"id":"4e4ac5117e645b45","type":"switch","z":"696aa485b47f3ed1","name":"found expense account?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1740,"y":300,"wires":[["892755453cb5a047"],["959390922079aa9a"]]},{"id":"da86200a36a17a08","type":"http request","z":"696aa485b47f3ed1","name":"lookup asset account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/assetAccounts/get-key-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1470,"y":240,"wires":[["7808afa5a2f0ea96"]]},{"id":"6a685fb34cab0a6d","type":"link call","z":"696aa485b47f3ed1","name":"","links":["f5e9fd86f851d8b2"],"linkType":"static","timeout":"30","x":1920,"y":240,"wires":[["468878207a102582"]]},{"id":"191750950ef9675e","type":"link out","z":"696aa485b47f3ed1","name":"finish","mode":"link","links":["df1b3dd6eb41d8fc"],"x":2245,"y":240,"wires":[]},{"id":"7808afa5a2f0ea96","type":"switch","z":"696aa485b47f3ed1","name":"found asset account?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":240,"wires":[["6a685fb34cab0a6d"],["6eb007fb5f142e17"]]},{"id":"468878207a102582","type":"function","z":"696aa485b47f3ed1","name":"set type to transfer","func":"msg.account.attributes.attributes.type = \"transfer\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":240,"wires":[["191750950ef9675e"]]},{"id":"6eb007fb5f142e17","type":"function","z":"696aa485b47f3ed1","name":"prepare for http","func":"msg.payload = { key: msg.account.description };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":300,"wires":[["468f2adab1dc9b23"]]},{"id":"5d52c9eaafe45a7b","type":"function","z":"696aa485b47f3ed1","name":"cache description","func":"msg.account.description = msg.description.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":240,"wires":[["b7595f69375c930c"]]},{"id":"b69ed1d9f452b6b4","type":"function","z":"696aa485b47f3ed1","name":"cache description","func":"msg.account.description = msg.input.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":280,"wires":[["b7595f69375c930c"]]},{"id":"01ffba60081a929a","type":"debug","z":"696aa485b47f3ed1","name":"Failed account lookup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"account.description","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":500,"wires":[]},{"id":"df1b3dd6eb41d8fc","type":"link in","z":"696aa485b47f3ed1","name":"finish with success","links":["13019aab16099565","191750950ef9675e","5689c21a6cef2202"],"x":2325,"y":240,"wires":[[]]},{"id":"72cd75db4cbf9f98","type":"function","z":"696aa485b47f3ed1","name":"set output","func":"msg.account.output = msg.regex.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":20,"wires":[["3632269646e813cc"]]},{"id":"3632269646e813cc","type":"function","z":"696aa485b47f3ed1","name":"set attributes","func":"msg.output.attributes = {\n    attributes: msg.regex.attributes,\n    add_tags: msg.regex.add_tags\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":20,"wires":[["e96534f85205920c"]]},{"id":"c0923989a86fad7b","type":"link in","z":"696aa485b47f3ed1","name":"post-regex","links":[],"x":65,"y":20,"wires":[["72cd75db4cbf9f98"]]},{"id":"e96534f85205920c","type":"link out","z":"696aa485b47f3ed1","name":"Post-regex","mode":"return","links":[],"x":475,"y":20,"wires":[]},{"id":"ba57ccdbbb6fe98f","type":"function","z":"696aa485b47f3ed1","name":"set output","func":"msg.account.output = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":80,"wires":[["5143a5b4ab68eb81"]]},{"id":"5143a5b4ab68eb81","type":"function","z":"696aa485b47f3ed1","name":"set attributes","func":"msg.account.attributes = JSON.parse(msg.payload.valueValue);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[["4095167f7c8f36ee"]]},{"id":"f5e9fd86f851d8b2","type":"link in","z":"696aa485b47f3ed1","name":"post-http","links":[],"x":65,"y":80,"wires":[["ba57ccdbbb6fe98f"]]},{"id":"4095167f7c8f36ee","type":"link out","z":"696aa485b47f3ed1","name":"","mode":"return","links":[],"x":475,"y":80,"wires":[]},{"id":"9f97f1bacdbef6a3","type":"function","z":"696aa485b47f3ed1","name":"prepare for description","func":"msg.description.input = msg.account.description;\nmsg.description.known_account = msg.account.known_account;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["b455a3c75bc4de93"]]},{"id":"fd3786f0559d5d42","type":"link in","z":"696aa485b47f3ed1","name":"finish with fail","links":["e4599739a9461b1c"],"x":2325,"y":300,"wires":[[]]},{"id":"184ba8c2ce758ea5","type":"link call","z":"696aa485b47f3ed1","name":"","links":["39e9897eedfd8201"],"linkType":"static","timeout":"30","x":210,"y":240,"wires":[["9f97f1bacdbef6a3"]]},{"id":"2e32302bccc2ecfe","type":"subflow:9194aea876e56ce1","z":"0671602043798046","name":"","x":380,"y":260,"wires":[["4b21d298a1508c7f"],["e5c9a6a79b268d21"]]},{"id":"5110a0bc16c77a96","type":"switch","z":"0671602043798046","name":"Destination is empty","property":"input.destination_name","propertyType":"msg","rules":[{"t":"eq","v":"(no name)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":60,"wires":[["f115b82b104a5985"],["b9ad63251040a6b3"]]},{"id":"f115b82b104a5985","type":"function","z":"0671602043798046","name":"prepare for account","func":"msg.account.description = msg.input.description;\nmsg.account.known_account = msg.input.source_name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":60,"wires":[["156373661cc77762"]]},{"id":"ee8b67114606ed53","type":"link in","z":"0671602043798046","name":"finish with changes","links":["08687204f3cafaea","1578a6cfd7052620","64e6be9ae761c0a1","714d4d31c0d4e847","09cd9bb324210959"],"x":1925,"y":60,"wires":[["1be25d452a681ef4"]]},{"id":"1578a6cfd7052620","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["ee8b67114606ed53"],"x":735,"y":260,"wires":[]},{"id":"5310e036a383b720","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["083098ade0f69ebf"],"x":1175,"y":360,"wires":[]},{"id":"4b21d298a1508c7f","type":"function","z":"0671602043798046","name":"copy result","func":"msg.output = msg.existing.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":260,"wires":[["1578a6cfd7052620"]]},{"id":"a0ac90ca5719d41e","type":"link call","z":"0671602043798046","name":"","links":["8ea063e41117a16c"],"linkType":"static","timeout":"30","x":170,"y":60,"wires":[["5110a0bc16c77a96"]]},{"id":"64e6be9ae761c0a1","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["ee8b67114606ed53"],"x":1635,"y":60,"wires":[]},{"id":"b9ad63251040a6b3","type":"switch","z":"0671602043798046","name":"Source is empty","property":"input.source_name","propertyType":"msg","rules":[{"t":"eq","v":"(no name)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":120,"wires":[["f4a089de7b0ebb80"],["2e32302bccc2ecfe"]]},{"id":"f4a089de7b0ebb80","type":"function","z":"0671602043798046","name":"prepare for description","func":"msg.account.description = msg.input.description;\nmsg.account.known_account = msg.input.destination_name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":180,"wires":[["094b7b6afd33059a"]]},{"id":"156373661cc77762","type":"subflow:696aa485b47f3ed1","z":"0671602043798046","name":"","x":910,"y":60,"wires":[["7e1479576a9d9cbc"],["714d4d31c0d4e847"]]},{"id":"7e1479576a9d9cbc","type":"function","z":"0671602043798046","name":"set destination","func":"msg.output.destination_name = msg.account.output;\ndelete (msg.output.destination_id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":60,"wires":[["6314b81bd67e8c0a"]]},{"id":"6314b81bd67e8c0a","type":"function","z":"0671602043798046","name":"set attributes","func":"for(const [key, value] of Object.entries(msg.account.attributes.attributes)) {\n    msg.output[key] = value;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":60,"wires":[["ff173017432b3b70"]]},{"id":"ff173017432b3b70","type":"function","z":"0671602043798046","name":"add tags","func":"if (!msg.output.tags && msg.account.attributes.add_tags.length > 0) {\n    msg.output.tags = [];\n}\n\nfor(const tag of msg.account.attributes.add_tags) {\n    if (msg.output.tags.indexOf(tag) === -1) {\n        msg.output.tags.push(tag);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":60,"wires":[["64e6be9ae761c0a1"]]},{"id":"094b7b6afd33059a","type":"subflow:696aa485b47f3ed1","z":"0671602043798046","name":"","x":910,"y":180,"wires":[["99039eb8c8c485d6"],["08687204f3cafaea"]]},{"id":"714d4d31c0d4e847","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["ee8b67114606ed53"],"x":1095,"y":100,"wires":[]},{"id":"08687204f3cafaea","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["ee8b67114606ed53"],"x":1085,"y":220,"wires":[]},{"id":"99039eb8c8c485d6","type":"function","z":"0671602043798046","name":"set source","func":"msg.output.source_name = msg.account.output;\ndelete(msg.output.source_id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":180,"wires":[["6314b81bd67e8c0a"]]},{"id":"6a80af3d534539c7","type":"http request","z":"0671602043798046","name":"Try get attributes from expense account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/expenseAccounts/get-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":720,"y":320,"wires":[["250b438df37bfd25"]]},{"id":"49e4fd416056dea3","type":"http request","z":"0671602043798046","name":"Try get attributes from expense account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/expenseAccounts/get-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":720,"y":360,"wires":[["9a1c98083f528554"]]},{"id":"9a1c98083f528554","type":"switch","z":"0671602043798046","name":"http success?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":360,"wires":[["5defc92e95c37ef6"],["5310e036a383b720"]]},{"id":"250b438df37bfd25","type":"switch","z":"0671602043798046","name":"http success?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":320,"wires":[["5defc92e95c37ef6"],["400806df03c07f58"]]},{"id":"e5c9a6a79b268d21","type":"function","z":"0671602043798046","name":"load source account for http","func":"msg.payload = { value: msg.input.source_name };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[["6a80af3d534539c7"]]},{"id":"083098ade0f69ebf","type":"link in","z":"0671602043798046","name":"finish with no changes","links":["5310e036a383b720"],"x":1925,"y":120,"wires":[["dec22f075348d92a","3d1d881b4af1de4d"]]},{"id":"400806df03c07f58","type":"function","z":"0671602043798046","name":"load destination account for http","func":"msg.payload = { value: msg.input.destination_name };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":360,"wires":[["49e4fd416056dea3"]]},{"id":"09cd9bb324210959","type":"link out","z":"0671602043798046","name":"finish","mode":"link","links":["ee8b67114606ed53"],"x":1515,"y":320,"wires":[]},{"id":"5defc92e95c37ef6","type":"function","z":"0671602043798046","name":"set attributes","func":"const pl = JSON.parse(msg.payload);\n\nfor(const [key, value] of Object.entries(pl.attributes)) {\n    msg.output[key] = value;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":320,"wires":[["e13cc3eb7496ef06"]]},{"id":"e13cc3eb7496ef06","type":"function","z":"0671602043798046","name":"add tags","func":"const pl = JSON.parse(msg.payload);\n\nif (!msg.output.tags && pl.add_tags.length > 0) {\n    msg.output.tags = [];\n}\n\nfor(const tag of pl.add_tags) {\n    if (msg.output.tags.indexOf(tag) === -1) {\n        msg.output.tags.push(tag);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":320,"wires":[["09cd9bb324210959"]]},{"id":"dec22f075348d92a","type":"debug","z":"0671602043798046","name":"No non-global changes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"input.description","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":160,"wires":[]},{"id":"3d1d881b4af1de4d","type":"subflow:93cc749f16e91b2e","z":"0671602043798046","name":"","x":2050,"y":120,"wires":[[],[]]},{"id":"1be25d452a681ef4","type":"subflow:93cc749f16e91b2e","z":"0671602043798046","name":"","x":2050,"y":60,"wires":[[],[]]},{"id":"b3532fc2deade31d","type":"link in","z":"93cc749f16e91b2e","name":"finish with changes","links":["7a0141e9bde16e03"],"x":1745,"y":40,"wires":[[]]},{"id":"f326256c3361ed93","type":"link in","z":"93cc749f16e91b2e","name":"finish with no changes","links":["52fbd8d538478268","684a5d4958f567f1"],"x":1745,"y":100,"wires":[[]]},{"id":"101dcbc8312a94dc","type":"switch","z":"93cc749f16e91b2e","name":"has bill","property":"output.bill_name","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":40,"wires":[["1b050f8ff148ce7c"]]},{"id":"1b050f8ff148ce7c","type":"switch","z":"93cc749f16e91b2e","name":"bill is not empty","property":"output.bill_name","propertyType":"msg","rules":[{"t":"regex","v":".*[^\\s]+.*","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":40,"wires":[["6936bd01032e2efc"],["52fbd8d538478268"]]},{"id":"6936bd01032e2efc","type":"switch","z":"93cc749f16e91b2e","name":"has budget","property":"output.budget_name","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":40,"wires":[["88a7f4f72066503a"],["2cca685073f5cd24"]]},{"id":"88a7f4f72066503a","type":"switch","z":"93cc749f16e91b2e","name":"budget is Bills","property":"output.budget_name","propertyType":"msg","rules":[{"t":"eq","v":"Bills","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":40,"wires":[["684a5d4958f567f1"],["2cca685073f5cd24"]]},{"id":"52fbd8d538478268","type":"link out","z":"93cc749f16e91b2e","name":"finish with no changes","mode":"link","links":["f326256c3361ed93"],"x":515,"y":80,"wires":[]},{"id":"2cca685073f5cd24","type":"function","z":"93cc749f16e91b2e","name":"set budget to bills","func":"msg.output.budget_name = \"Bills\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":80,"wires":[["7a0141e9bde16e03"]]},{"id":"684a5d4958f567f1","type":"link out","z":"93cc749f16e91b2e","name":"finish with no changes","mode":"link","links":["f326256c3361ed93"],"x":915,"y":40,"wires":[]},{"id":"7a0141e9bde16e03","type":"link out","z":"93cc749f16e91b2e","name":"finish with changes","mode":"link","links":["b3532fc2deade31d"],"x":915,"y":80,"wires":[]},{"id":"80e2e4bcc774b82f","type":"file in","z":"a69df1cc3d44ad70","name":"flows.json","filename":"/data/flows.json","filenameType":"str","format":"utf8","allProps":false,"x":240,"y":60,"wires":[["39846d681fc60b3b"]]},{"id":"1888823084e0a98d","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["27a255db48fad62d"]]},{"id":"f16db8939f2c9378","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["1888823084e0a98d"]]},{"id":"a5f77e77cd5be2bc","type":"file in","z":"a69df1cc3d44ad70","name":"flows_cred.json","filename":"/data/flows_cred.json","filenameType":"str","format":"utf8","allProps":false,"x":260,"y":140,"wires":[["e8a688bebd02d0b1"]]},{"id":"0ddfd7e8667fc727","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["f8bc9d7cba181393"]]},{"id":"39846d681fc60b3b","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["f16db8939f2c9378"]]},{"id":"e8a688bebd02d0b1","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["0ddfd7e8667fc727"]]},{"id":"f8bc9d7cba181393","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":140,"wires":[["27a255db48fad62d"]]},{"id":"cf7b876a90575c50","type":"http in","z":"a69df1cc3d44ad70","name":"Input","url":"/export-flows","method":"post","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["80e2e4bcc774b82f","a5f77e77cd5be2bc"]]},{"id":"6c23814ef803fe63","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1460,"y":60,"wires":[]},{"id":"05d521556dfcaab1","type":"catch","z":"a69df1cc3d44ad70","name":"","scope":null,"uncaught":false,"x":1060,"y":220,"wires":[["dfd73780bd322b26"]]},{"id":"63b61351e18b439a","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":1460,"y":220,"wires":[]},{"id":"dfd73780bd322b26","type":"function","z":"a69df1cc3d44ad70","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["63b61351e18b439a"]]},{"id":"27a255db48fad62d","type":"join","z":"a69df1cc3d44ad70","name":"","mode":"custom","build":"array","property":"filename","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":60,"wires":[["a740d78c4157ed40"]]},{"id":"a740d78c4157ed40","type":"function","z":"a69df1cc3d44ad70","name":"Prepare response payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["6c23814ef803fe63"]]},{"id":"89f60b01305b7ddd","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":780,"y":60,"wires":[]},{"id":"bf288044959c6028","type":"function","z":"ba3387d8c4ba1124","name":"Prepare payload","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\",\n    \"budget_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nif (\"source_id\" in msg.output) {\n    msg.payload[\"source_id\"] = msg.output[\"source_id\"];\n} else if (\"source_name\" in msg.output) {\n    msg.payload[\"source_name\"] = msg.output[\"source_name\"]\n}\n\nif (\"destination_id\" in msg.output) {\n    msg.payload[\"destination_id\"] = msg.output[\"destination_id\"];\n} else if (\"destination_name\" in msg.output) {\n    msg.payload[\"destination_name\"] = msg.output[\"destination_name\"]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":60,"wires":[["89f60b01305b7ddd"]]},{"id":"386173e34ec177ab","type":"http in","z":"ba3387d8c4ba1124","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["bd687d1e7a04b502"]]},{"id":"bd687d1e7a04b502","type":"function","z":"ba3387d8c4ba1124","name":"Prepare input","func":"const payloadStr = JSON.stringify(msg.payload);\nmsg.input = JSON.parse(payloadStr);\nmsg.output = JSON.parse(payloadStr);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["bd6e0a01906409b0"]]},{"id":"57f1995e41691864","type":"catch","z":"ba3387d8c4ba1124","name":"","scope":null,"uncaught":false,"x":100,"y":240,"wires":[["3017eab9f752b0a6"]]},{"id":"363078b35b8681c2","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":500,"y":240,"wires":[]},{"id":"3017eab9f752b0a6","type":"function","z":"ba3387d8c4ba1124","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["363078b35b8681c2"]]},{"id":"d0626505ac801bb7","type":"http in","z":"ba3387d8c4ba1124","name":"Extract key from description","url":"/extract-key/description","method":"post","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["141fd70ce6419df9"]]},{"id":"141fd70ce6419df9","type":"function","z":"ba3387d8c4ba1124","name":"Prepare input","func":"const payloadStr = JSON.stringify(msg.payload);\nmsg.input = JSON.parse(payloadStr);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["437065365af3c525"]]},{"id":"6c93a3b0eb2224d0","type":"subflow:6dda729768875793","z":"ba3387d8c4ba1124","name":"","x":960,"y":180,"wires":[["883d4ed41040290f"],["12f2c3fb04bcd180"]]},{"id":"437065365af3c525","type":"function","z":"ba3387d8c4ba1124","name":"prepare with source account","func":"msg.description = {\n    input: msg.input.description,\n    known_account: msg.input.source_name\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":180,"wires":[["6c93a3b0eb2224d0"]]},{"id":"883d4ed41040290f","type":"function","z":"ba3387d8c4ba1124","name":"prepare payload","func":"msg.payload = { key: msg.description.output };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":180,"wires":[["8b42454ed3accc8d"]]},{"id":"bb3b25e8aa5e9483","type":"function","z":"ba3387d8c4ba1124","name":"prepare payload","func":"msg.payload = { key: msg.input.description };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":220,"wires":[["8b42454ed3accc8d"]]},{"id":"8b42454ed3accc8d","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":2020,"y":180,"wires":[]},{"id":"1c210aac30e6b3b9","type":"subflow:6dda729768875793","z":"ba3387d8c4ba1124","name":"","x":1580,"y":220,"wires":[["883d4ed41040290f"],["bb3b25e8aa5e9483"]]},{"id":"12f2c3fb04bcd180","type":"function","z":"ba3387d8c4ba1124","name":"prepare with destination account","func":"msg.description = {\n    input: msg.input.description,\n    known_account: msg.input.destination_name\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":220,"wires":[["1c210aac30e6b3b9"]]},{"id":"bd6e0a01906409b0","type":"subflow:0671602043798046","z":"ba3387d8c4ba1124","name":"","x":430,"y":60,"wires":[["bf288044959c6028"],["1d617993e31b862a"]]},{"id":"1d617993e31b862a","type":"function","z":"ba3387d8c4ba1124","name":"Prepare payload","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":100,"wires":[["9fb7039e938b5ac4"]]},{"id":"9fb7039e938b5ac4","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"304","headers":{"Content-Type":"application/json"},"x":780,"y":100,"wires":[]},{"id":"2712d51fe2844eb6","type":"link in","z":"6b43dd0b86d0508f","name":"clean regex input","links":[],"x":55,"y":80,"wires":[["d36052cef51cc853"]]},{"id":"d36052cef51cc853","type":"function","z":"6b43dd0b86d0508f","name":"clean regex input","func":"msg.regex.attributes = {};\nmsg.regex.add_tags = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["f4ee84baa9d40321"]]},{"id":"f4ee84baa9d40321","type":"link out","z":"6b43dd0b86d0508f","name":"link out 11","mode":"return","links":[],"x":355,"y":80,"wires":[]},{"id":"8ea063e41117a16c","type":"link in","z":"6b43dd0b86d0508f","name":"init","links":[],"x":55,"y":40,"wires":[["8aec5b789d7d160a"]]},{"id":"8aec5b789d7d160a","type":"function","z":"6b43dd0b86d0508f","name":"init","func":"const payloadStr = JSON.stringify(msg.input);\nmsg.regex = {\n    attributes: {},\n    add_tags: []\n};\nmsg.attributes = {\n    attributes: {},\n    add_tags: []\n};\nmsg.description = {};\nmsg.existing = {\n    input: JSON.parse(payloadStr),\n    output: JSON.parse(payloadStr),\n};\nmsg.orchestration = {\n    description: \"\"\n};\nmsg.account = {\n    known_account: \"\",\n    description: \"\",\n    output: \"\",\n    attributes: {\n        attributes: {},\n        add_tags: []\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":40,"wires":[["d90f5a9600edd0c3"]]},{"id":"d90f5a9600edd0c3","type":"link out","z":"6b43dd0b86d0508f","name":"link out 12","mode":"return","links":[],"x":355,"y":40,"wires":[]},{"id":"39e9897eedfd8201","type":"link in","z":"6b43dd0b86d0508f","name":"clean account input","links":[],"x":55,"y":120,"wires":[["ae78b670407dedeb"]]},{"id":"ae78b670407dedeb","type":"function","z":"6b43dd0b86d0508f","name":"clean account input","func":"msg.account.output = \"\";\nmsg.account.attributes = {\n    attributes: {},\n    add_tags: []\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":120,"wires":[["618cf42c09a1d0da"]]},{"id":"618cf42c09a1d0da","type":"link out","z":"6b43dd0b86d0508f","name":"link out 20","mode":"return","links":[],"x":355,"y":120,"wires":[]},{"id":"5abb3f6783cb90c3","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Phone","links":[],"x":55,"y":40,"wires":[["9a04d2f898a0924f"]]},{"id":"8425c56c6c7f76e3","type":"link out","z":"46ee80b8a4f502b5","name":"link out 1","mode":"return","links":[],"x":515,"y":40,"wires":[]},{"id":"9a04d2f898a0924f","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Phone","func":"msg.attributes.attributes.bill_name = \"Phone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":40,"wires":[["8425c56c6c7f76e3"]]},{"id":"8ec02c32397fe34a","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Groceries","links":[],"x":55,"y":80,"wires":[["28d22ab8f5e45370"]]},{"id":"1bf184bf3bd198c4","type":"link out","z":"46ee80b8a4f502b5","name":"link out 2","mode":"return","links":[],"x":515,"y":80,"wires":[]},{"id":"28d22ab8f5e45370","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Groceries","func":"msg.attributes.attributes.bill_name = \"Groceries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":80,"wires":[["1bf184bf3bd198c4"]]},{"id":"8db009df8a074229","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Fuel","links":[],"x":55,"y":120,"wires":[["e610f505b7d248b8"]]},{"id":"4c36bb53e07cfecf","type":"link out","z":"46ee80b8a4f502b5","name":"link out 3","mode":"return","links":[],"x":515,"y":120,"wires":[]},{"id":"e610f505b7d248b8","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Fuel","func":"msg.attributes.attributes.bill_name = \"Fuel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":120,"wires":[["4c36bb53e07cfecf"]]},{"id":"42ba2541ccc37ead","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Internet","links":[],"x":55,"y":160,"wires":[["f929e97fe3fa8b15"]]},{"id":"85edc7cd09bf638f","type":"link out","z":"46ee80b8a4f502b5","name":"link out 4","mode":"return","links":[],"x":515,"y":160,"wires":[]},{"id":"f929e97fe3fa8b15","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Internet","func":"msg.attributes.attributes.bill_name = \"Internet\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":160,"wires":[["85edc7cd09bf638f"]]},{"id":"c9f9ea3cbabbef59","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Vehicle Insurance and Registration","links":[],"x":55,"y":200,"wires":[["e74ab2c3c13ac0ba"]]},{"id":"e23fe71ed96ffbf6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 5","mode":"return","links":[],"x":515,"y":200,"wires":[]},{"id":"e74ab2c3c13ac0ba","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Vehicle Insurance and Registration","func":"msg.attributes.attributes.bill_name = \"Vehicle Insurance and Registration\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["e23fe71ed96ffbf6"]]},{"id":"5bec47667a086540","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Subscription Services","links":[],"x":55,"y":240,"wires":[["35a594b6471c96fa"]]},{"id":"490a3fa4fddd4bd6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 6","mode":"return","links":[],"x":515,"y":240,"wires":[]},{"id":"35a594b6471c96fa","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Subscription Services","func":"msg.attributes.attributes.bill_name = \"Subscription Services\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":240,"wires":[["490a3fa4fddd4bd6"]]},{"id":"1680ed4a2ebcf362","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Utilities","links":[],"x":55,"y":280,"wires":[["aa1ead2b89aaf4df"]]},{"id":"64be5c57599a2f33","type":"link out","z":"46ee80b8a4f502b5","name":"link out 7","mode":"return","links":[],"x":515,"y":280,"wires":[]},{"id":"aa1ead2b89aaf4df","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Utilities","func":"msg.attributes.attributes.bill_name = \"Utilities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":280,"wires":[["64be5c57599a2f33"]]},{"id":"f632e9b33fdbecde","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Rent","links":[],"x":55,"y":320,"wires":[["0fac266418bf81fc"]]},{"id":"e6ba0a8bd0867667","type":"link out","z":"46ee80b8a4f502b5","name":"link out 8","mode":"return","links":[],"x":515,"y":320,"wires":[]},{"id":"0fac266418bf81fc","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Rent","func":"msg.attributes.attributes.bill_name = \"Rent\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":320,"wires":[["e6ba0a8bd0867667"]]},{"id":"ede35fac395ef381","type":"link in","z":"46ee80b8a4f502b5","name":"add tag Trade Shows","links":[],"x":55,"y":360,"wires":[["5b4a41533bb7a4e6"]]},{"id":"5b4a41533bb7a4e6","type":"function","z":"46ee80b8a4f502b5","name":"add tag Trade Shows","func":"msg.attributes.add_tags.push(\"Trade Shows\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":360,"wires":[["60e76fb1ecdd96f6"]]},{"id":"60e76fb1ecdd96f6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 9","mode":"return","links":[],"x":515,"y":360,"wires":[]},{"id":"ef7db36c91a02a57","type":"link in","z":"46ee80b8a4f502b5","name":"add tag Oscar","links":[],"x":55,"y":400,"wires":[["75ed8571b3713300"]]},{"id":"75ed8571b3713300","type":"function","z":"46ee80b8a4f502b5","name":"add tag Oscar","func":"msg.attributes.add_tags.push(\"Oscar\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":400,"wires":[["e6230d7c3cd05737"]]},{"id":"e6230d7c3cd05737","type":"link out","z":"46ee80b8a4f502b5","name":"link out 10","mode":"return","links":[],"x":515,"y":400,"wires":[]}]