flows.json
[{"id":"ba3387d8c4ba1124","type":"tab","label":"Http Formatting","disabled":false,"info":"","env":[]},{"id":"46ee80b8a4f502b5","type":"tab","label":"Set attributes","disabled":false,"info":"","env":[]},{"id":"a69df1cc3d44ad70","type":"tab","label":"Export flows","disabled":false,"info":"","env":[]},{"id":"802a1d7647a6b846","type":"subflow","name":"Account regexes 1","info":"","category":"","in":[{"x":20,"y":20,"wires":[{"id":"e79c8c6199502922"}]}],"out":[{"x":2450,"y":20,"wires":[{"id":"784250823960adce","port":0},{"id":"7dbef14c28215508","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"816b18275c5bc79f","type":"subflow","name":"Account regex","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"0f56200228dc2c60"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"01b051af50aa23e2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0388385d3e5898c8","type":"subflow","name":"Account regexes 2","info":"","category":"","in":[{"x":20,"y":20,"wires":[{"id":"34a56229d3f2646c"}]}],"out":[{"x":2500,"y":20,"wires":[{"id":"08895511ed9dd031","port":0},{"id":"8c52f8c53c21866f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6dda729768875793","type":"subflow","name":"Set destination","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"8038f979f466bc55"}]}],"out":[{"x":1470,"y":820,"wires":[{"id":"aef8bcaec909662f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0836b7eb01a9973b","type":"subflow","name":"Account regexes 3","info":"","category":"","in":[{"x":20,"y":20,"wires":[{"id":"10c0d1d533325548"}]}],"out":[{"x":2540,"y":20,"wires":[{"id":"6eca230bdb281acf","port":0},{"id":"9ee7dc3a3c57a671","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"428f65aa6a8fada5","type":"switch","z":"802a1d7647a6b846","name":"Is Amazon","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^Amazon.ca","vt":"str","case":false},{"t":"regex","v":"^AMZN Mktp CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":200,"wires":[["4c563d30cddebe82"],["4c563d30cddebe82"],["0af02e54f996ccc3"]]},{"id":"4c563d30cddebe82","type":"function","z":"802a1d7647a6b846","name":"set output to Amazon","func":"msg.regex.output = \"Amazon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[["9d882878080769d0"]]},{"id":"e79c8c6199502922","type":"switch","z":"802a1d7647a6b846","name":"Is Etsy","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^\\*ETSY.CO","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":20,"wires":[["36e8968f9f7c241f"],["64e88291e1d74272"]]},{"id":"36e8968f9f7c241f","type":"function","z":"802a1d7647a6b846","name":"set output to Etsy","func":"msg.regex.output = \"Etsy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":20,"wires":[["e4905ebb835f969c"]]},{"id":"3a5d5fe9873240c7","type":"function","z":"802a1d7647a6b846","name":"set output to Microsoft","func":"msg.regex.output = \"Microsoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["b2d4cc636b5f2f86"]]},{"id":"9387fdb2a7219fd4","type":"switch","z":"802a1d7647a6b846","name":"Is HomeSense","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^HOMESENSE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":360,"wires":[["6375e5d3cb609aeb"],["714c45a589fc1122"]]},{"id":"6375e5d3cb609aeb","type":"function","z":"802a1d7647a6b846","name":"set output to HomeSense","func":"msg.regex.output = \"HomeSense\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["54c84918d79cdb04"]]},{"id":"e8d4c3781bf53849","type":"switch","z":"802a1d7647a6b846","name":"Is Fatburger","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^FATBURGER SEC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":440,"wires":[["8f6fd00f76eb9a64"],["cf88d75fa0c49c16"]]},{"id":"8f6fd00f76eb9a64","type":"function","z":"802a1d7647a6b846","name":"set output to Fatburger","func":"msg.regex.output = \"Fatburger\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":440,"wires":[["fbdf3014dc838aaa"]]},{"id":"9429f47b3070f4b7","type":"switch","z":"802a1d7647a6b846","name":"Is SkipTheDishes","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":320,"wires":[["3e730314b7158866"],["9387fdb2a7219fd4"]]},{"id":"3e730314b7158866","type":"function","z":"802a1d7647a6b846","name":"set output to SkipTheDishes","func":"msg.regex.output = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["29d2a154b19538e4"]]},{"id":"cf88d75fa0c49c16","type":"switch","z":"802a1d7647a6b846","name":"Is Virgin","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^VIRGIN PLUS","vt":"str","case":false},{"t":"regex","v":"^VIRGIN MOBILE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":480,"wires":[["6b07e37ea586a7ae"],["6b07e37ea586a7ae"],["47109540732379a7"]]},{"id":"6b07e37ea586a7ae","type":"function","z":"802a1d7647a6b846","name":"set output to Virgin Mobile","func":"msg.regex.output = \"Virgin Mobile\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["3e23f21835ad64ec"]]},{"id":"64e88291e1d74272","type":"switch","z":"802a1d7647a6b846","name":"Is Ebay","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EBAY CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":60,"wires":[["3012f511aa175f58"],["da1c0eda77d30a90"]]},{"id":"3012f511aa175f58","type":"function","z":"802a1d7647a6b846","name":"set output to Ebay","func":"msg.regex.output = \"Ebay\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":60,"wires":[["658dda5ef4b3f17c"]]},{"id":"f33f8613c106ad4c","type":"switch","z":"802a1d7647a6b846","name":"Is Epic Games","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EPICINT","vt":"str","case":false},{"t":"regex","v":"^EPC\\*EPIC GAMES STORE\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":140,"wires":[["82f5b3e4ed3b322e"],["82f5b3e4ed3b322e"],["428f65aa6a8fada5"]]},{"id":"82f5b3e4ed3b322e","type":"function","z":"802a1d7647a6b846","name":"set output to Epic Games","func":"msg.regex.output = \"Epic Games\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["7dc7b3bdbd97f160"]]},{"id":"da1c0eda77d30a90","type":"switch","z":"802a1d7647a6b846","name":"Is Nexus Mods","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"*NEXUSMO","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":100,"wires":[["9ca2fb1e3af49261"],["f33f8613c106ad4c"]]},{"id":"9ca2fb1e3af49261","type":"function","z":"802a1d7647a6b846","name":"set output to Nexus Mods","func":"msg.regex.output = \"Nexus Mods\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":100,"wires":[["a81cc6c037ccd14e"]]},{"id":"714c45a589fc1122","type":"switch","z":"802a1d7647a6b846","name":"Is Dairy Queen","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^DAIRY QUEEN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":400,"wires":[["54b1822aa094c896"],["e8d4c3781bf53849"]]},{"id":"54b1822aa094c896","type":"function","z":"802a1d7647a6b846","name":"set output to Dairy Queen","func":"msg.regex.output = \"Dairy Queen\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":400,"wires":[["edc0bf27df3357f0"]]},{"id":"e4905ebb835f969c","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":20,"wires":[]},{"id":"cbe2abf9ecdd1501","type":"link in","z":"802a1d7647a6b846","name":"finish success","links":["29d2a154b19538e4","54c84918d79cdb04","658dda5ef4b3f17c","7dc7b3bdbd97f160","9d882878080769d0","a81cc6c037ccd14e","b2d4cc636b5f2f86","b33a7e1dd0f67c0e","bcf3c31a46faa7e5","e4905ebb835f969c","edc0bf27df3357f0","fbdf3014dc838aaa","3ee65bcb8e8bb461","6446ac2fe520db05","5b0ca49948b159f4","116776cb5aa57dd0","3df646897a6bbffe","2ecb4416c1d86330","9fae8d2f939e2705","3fe9f64e03a455f2","1a51cd3bcb9837f6","6f88e33aef16afbc","183e4bb24cf9d211","172fdf328df332f2","47598738d0040f48","0edc54a50eb203e4","5af8d67d2070a4cb","5d9a332c0ca5aa0f","f8e3f7d623029dfc","e88cf343bab0f273","919ac85964b060b8","aa5910f7a0c07f68","adc8fa79a9520bec","88ae86fe14f26fa2","7e09089520cbf6fe","43c1231776aa3ebc","678d14673abb07cd","57da3d4892551b3d","f954949642164ce7","5036d41a89085cbc","61e4e591350e74f0","52cb2af52bed48f6","609c07331c3f4a29","c3d5f4c9e6882165","f8bceafc7cd2492e","c09f108e724dacbc","36461610e5438944","a32bf598dba8b3a1","80c3a5b058634368","2739c773f256b886","f7d17c43fd58557b","cc1203f42c239417","7ad64c556fbd3356","245fa735c07e30b1","d636a3aac2484921","59958b9a2264a280","16c31fcc525fbbb5","0dc44ff388d9ac93","cb52094fb56c335e","f2fdf2f5b9efb1bf","10f88d46926702ee","fe4b024013461322","f748d87def43a12c","a13dac915965f0b1","ae77c9da5e85c32b","41783de8fab17df6","9f358a3fb2ec1a56","07305f63442e0832","155cfdbd1edf8341","0f4f5f4511baa4c0","27e4407e38e2fdfd","e6fd1d47b0a2a2c2","dae47ce32781f510","80a1ded50eeb1669","bda2a3c2c783a9a0","5cd7a9d3391b1107","48a2f2c3d13a6bd6","9c823640b3145893","46bb71b93e5ddca8","a83e692afd1a091b","d8763cbb47450c64","c1bb039c48504625","886e62b038bd0a10","37b89dc6a0517deb","3c5d7f4dff39dc75","193bb63eeee3e095","394152760794f57a","b4d0e072d57adb6d","6f0cb38c02c4c492","3c45e53600e8675f","8c37c3205b53bf6b","b22c2dbb40f52cdc"],"x":2195,"y":20,"wires":[["784250823960adce"]]},{"id":"a81cc6c037ccd14e","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":100,"wires":[]},{"id":"658dda5ef4b3f17c","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":60,"wires":[]},{"id":"7dc7b3bdbd97f160","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":140,"wires":[]},{"id":"9d882878080769d0","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":200,"wires":[]},{"id":"b2d4cc636b5f2f86","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":260,"wires":[]},{"id":"29d2a154b19538e4","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":320,"wires":[]},{"id":"54c84918d79cdb04","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":360,"wires":[]},{"id":"edc0bf27df3357f0","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":400,"wires":[]},{"id":"fbdf3014dc838aaa","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":440,"wires":[]},{"id":"b33a7e1dd0f67c0e","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":480,"wires":[]},{"id":"3e23f21835ad64ec","type":"link call","z":"802a1d7647a6b846","name":"","links":["5abb3f6783cb90c3"],"linkType":"static","timeout":"30","x":960,"y":480,"wires":[["b33a7e1dd0f67c0e"]]},{"id":"784250823960adce","type":"function","z":"802a1d7647a6b846","name":"set success","func":"msg.regex.success = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":20,"wires":[[]]},{"id":"7dbef14c28215508","type":"function","z":"802a1d7647a6b846","name":"set fail","func":"msg.regex.success = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":100,"wires":[[]]},{"id":"bd293b9fd653a7df","type":"link in","z":"802a1d7647a6b846","name":"finish fail","links":["ce500620cf2ec2e4","c6f957d6940f45c3"],"x":2195,"y":100,"wires":[["7dbef14c28215508"]]},{"id":"0af02e54f996ccc3","type":"switch","z":"802a1d7647a6b846","name":"Is Microsoft","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^Microsoft\\*Subscription","vt":"str","case":false},{"t":"regex","v":"^MICROSOFT\\*STORE","vt":"str","case":false},{"t":"eq","v":"Microsoft*Store","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":150,"y":260,"wires":[["3a5d5fe9873240c7"],["3a5d5fe9873240c7"],["3a5d5fe9873240c7"],["9429f47b3070f4b7"]]},{"id":"47109540732379a7","type":"switch","z":"802a1d7647a6b846","name":"Is SkipTheDishes","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":520,"wires":[["25367bcca3537486"],["f8f930ca1dd3dd58"]]},{"id":"25367bcca3537486","type":"function","z":"802a1d7647a6b846","name":"set output to SkipTheDishes","func":"msg.regex.output = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["3ee65bcb8e8bb461"]]},{"id":"f8f930ca1dd3dd58","type":"switch","z":"802a1d7647a6b846","name":"Is Safeway","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SAFEWAY #[0-9]+","vt":"str","case":false},{"t":"regex","v":"^SAFEWAY #[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":560,"wires":[["e55246ea122ad53b"],["e55246ea122ad53b"],["4a556f94e73568f9"]]},{"id":"e55246ea122ad53b","type":"function","z":"802a1d7647a6b846","name":"set output to Safeway","func":"msg.regex.output = \"Safeway\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":560,"wires":[["8874d9d85f253229"]]},{"id":"8831e367c22f4e6a","type":"switch","z":"802a1d7647a6b846","name":"Is Steam","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^STEAM PURCHASE","vt":"str","case":false},{"t":"regex","v":"^4259522985\\s+BELLEVUE\\s+WA","vt":"str","case":false},{"t":"regex","v":"^STEAMGAMES\\.COM 4259522985Hamburg","vt":"str","case":false},{"t":"eq","v":"*STEAM G","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":140,"y":680,"wires":[["94e9a94dc30a1ef7"],["94e9a94dc30a1ef7"],["94e9a94dc30a1ef7"],["94e9a94dc30a1ef7"],["69cfa416bac31ab0"]]},{"id":"94e9a94dc30a1ef7","type":"function","z":"802a1d7647a6b846","name":"set output to Steam","func":"msg.regex.output = \"Steam\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":680,"wires":[["116776cb5aa57dd0"]]},{"id":"69cfa416bac31ab0","type":"switch","z":"802a1d7647a6b846","name":"Is Hughes","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^HUGHES PETROLEUM LTD","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":740,"wires":[["f5e0059a5169dfb4"],["c6d68de5bf40df6b"]]},{"id":"f5e0059a5169dfb4","type":"function","z":"802a1d7647a6b846","name":"set output to Hughes","func":"msg.regex.output = \"Hughes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["66b6591aa8a40551"]]},{"id":"e85c97c7c3c69578","type":"switch","z":"802a1d7647a6b846","name":"Is Memory Express","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^Memory Express, Inc\\.","vt":"str","case":false},{"t":"regex","v":"^MemoryExpress EDM S","vt":"str","case":false},{"t":"eq","v":"MEMORY EXPRESS","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":170,"y":880,"wires":[["3460daa5f3913765"],["3460daa5f3913765"],["3460daa5f3913765"],["a6e42b644dcf9170"]]},{"id":"3460daa5f3913765","type":"function","z":"802a1d7647a6b846","name":"set output to Memory Express","func":"msg.regex.output = \"Memory Express\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":880,"wires":[["2ecb4416c1d86330"]]},{"id":"a6e42b644dcf9170","type":"switch","z":"802a1d7647a6b846","name":"Is Ubisoft","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^UBISOFT EMEA SAS","vt":"str","case":false},{"t":"regex","v":"^UBISOFT\\s+SAN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":940,"wires":[["873168f873aa4ce3"],["873168f873aa4ce3"],["f5c1787db8a3cfd3"]]},{"id":"873168f873aa4ce3","type":"function","z":"802a1d7647a6b846","name":"set output to Ubisoft","func":"msg.regex.output = \"Ubisoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":940,"wires":[["9fae8d2f939e2705"]]},{"id":"4a556f94e73568f9","type":"switch","z":"802a1d7647a6b846","name":"Is Superstore","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^REAL CDN SUPERSTORE #1","vt":"str","case":false},{"t":"regex","v":"^REAL CANADIAN SS\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":620,"wires":[["67dd056ac00c2c76"],["67dd056ac00c2c76"],["8831e367c22f4e6a"]]},{"id":"67dd056ac00c2c76","type":"function","z":"802a1d7647a6b846","name":"set output to Superstore","func":"msg.regex.output = \"Real Canadian Superstore\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":620,"wires":[["5fdc275040059c56"]]},{"id":"a5cdd0665c2a450a","type":"switch","z":"802a1d7647a6b846","name":"Is Lego Store","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^LEGO, Southgate","vt":"str","case":false},{"t":"regex","v":"^LEGO, West Edmonton Ma","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":1060,"wires":[["b9e5567f5ea833c7"],["b9e5567f5ea833c7"],["262f5184601ff65c"]]},{"id":"b9e5567f5ea833c7","type":"function","z":"802a1d7647a6b846","name":"set output to Lego Store","func":"msg.regex.output = \"LEGO\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1060,"wires":[["47598738d0040f48"]]},{"id":"262f5184601ff65c","type":"switch","z":"802a1d7647a6b846","name":"Is Coinamatic (laundry)","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^COINAMATIC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":1100,"wires":[["73781e3ffd0aa88f"],["157d57c3eb8ea819"]]},{"id":"73781e3ffd0aa88f","type":"function","z":"802a1d7647a6b846","name":"set output to Coinamatic (laundry)","func":"msg.regex.output = \"Coinamatic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1100,"wires":[["0edc54a50eb203e4"]]},{"id":"b2623775e7c506b9","type":"switch","z":"802a1d7647a6b846","name":"Is Telus","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^TELUS PRE-AUTH PAYMENT","vt":"str","case":false},{"t":"regex","v":"^TELUS COMM\\. WEB","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":1200,"wires":[["5ad87b0ed59f6830"],["5ad87b0ed59f6830"],["45a7b4a3b5fe1f41"]]},{"id":"5ad87b0ed59f6830","type":"function","z":"802a1d7647a6b846","name":"set output to Telus","func":"msg.regex.output = \"Telus\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1200,"wires":[["964c950c16e80e39"]]},{"id":"c6d68de5bf40df6b","type":"switch","z":"802a1d7647a6b846","name":"Is Petro Canada","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^PETROCAN-","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":780,"wires":[["2b56b4b10e3dd2b2"],["6b48fcf983b49622"]]},{"id":"2b56b4b10e3dd2b2","type":"function","z":"802a1d7647a6b846","name":"set output to Petro-Canada","func":"msg.regex.output = \"Petro-Canada\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":780,"wires":[["4d5571304460f622"]]},{"id":"45a7b4a3b5fe1f41","type":"switch","z":"802a1d7647a6b846","name":"Is Walmart","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^WAL-MART SUPERCENTER","vt":"str","case":false},{"t":"regex","v":"^WAL-MART #[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":1260,"wires":[["fe9fe1de29d930b1"],["fe9fe1de29d930b1"],["28866e98d9e4c82a"]]},{"id":"fe9fe1de29d930b1","type":"function","z":"802a1d7647a6b846","name":"set output to Walmart","func":"msg.regex.output = \"Walmart\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1260,"wires":[["5d9a332c0ca5aa0f"]]},{"id":"4f59efb72be699cb","type":"switch","z":"802a1d7647a6b846","name":"Is AMA","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^AMA CENTRE #52","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1340,"wires":[["7848267f7bf79aac"],["02bc4b69ce66e332"]]},{"id":"7848267f7bf79aac","type":"function","z":"802a1d7647a6b846","name":"set output to AMA","func":"msg.regex.output = \"AMA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1340,"wires":[["51053c998e6507f1"]]},{"id":"28866e98d9e4c82a","type":"switch","z":"802a1d7647a6b846","name":"Is IKEA","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^IKEA EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1300,"wires":[["7b687a58ef1a3d9c"],["4f59efb72be699cb"]]},{"id":"7b687a58ef1a3d9c","type":"function","z":"802a1d7647a6b846","name":"set output to IKEA","func":"msg.regex.output = \"IKEA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1300,"wires":[["f8e3f7d623029dfc"]]},{"id":"02bc4b69ce66e332","type":"switch","z":"802a1d7647a6b846","name":"Is Lowe's","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^LOWE'S EDMONTON SOUTH","vt":"str","case":false},{"t":"regex","v":"^LOWES #03716\\*","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":1380,"wires":[["1da782632d9b8c67"],["1da782632d9b8c67"],["b3c4eb0ec200d782"]]},{"id":"1da782632d9b8c67","type":"function","z":"802a1d7647a6b846","name":"set output to Lowe's","func":"msg.regex.output = \"Lowe's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1380,"wires":[["e88cf343bab0f273"]]},{"id":"b3c4eb0ec200d782","type":"switch","z":"802a1d7647a6b846","name":"Is Spotify","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SPOTIFY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1420,"wires":[["c11f610696296c5e"],["a3920b82cbc85471"]]},{"id":"c11f610696296c5e","type":"function","z":"802a1d7647a6b846","name":"set output to Spotify","func":"msg.regex.output = \"Spotify\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1420,"wires":[["e42b1d2bbe1499be"]]},{"id":"a3920b82cbc85471","type":"switch","z":"802a1d7647a6b846","name":"Is Epcor","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^KUBRA/EPCOR EZ-PAY FEE","vt":"str","case":false},{"t":"regex","v":"^EPCORWEBRECURRING","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":1460,"wires":[["880389313678e9e8"],["880389313678e9e8"],["1bde17bc4b175e7d"]]},{"id":"880389313678e9e8","type":"function","z":"802a1d7647a6b846","name":"set output to Epcor","func":"msg.regex.output = \"Epcor\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1460,"wires":[["aa99406843ec977c"]]},{"id":"1bde17bc4b175e7d","type":"switch","z":"802a1d7647a6b846","name":"Is Namaste","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^NAMASTE INDIA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1500,"wires":[["bb9f93b3d163746d"],["b99ffb51ca1ee0ca"]]},{"id":"bb9f93b3d163746d","type":"function","z":"802a1d7647a6b846","name":"set output to Namaste","func":"msg.regex.output = \"Namaste\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1500,"wires":[["61e4e591350e74f0"]]},{"id":"b99ffb51ca1ee0ca","type":"switch","z":"802a1d7647a6b846","name":"Is EPark","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^EDM EPARK ONLINE PAY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1540,"wires":[["f65f783888e9b1ce"],["bd1b25c7b1cace07"]]},{"id":"f65f783888e9b1ce","type":"function","z":"802a1d7647a6b846","name":"set output to EPark","func":"msg.regex.output = \"EPark\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1540,"wires":[["52cb2af52bed48f6"]]},{"id":"bd1b25c7b1cace07","type":"switch","z":"802a1d7647a6b846","name":"Is Empire Park","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^NBX\\*RENT","vt":"str","case":false},{"t":"eq","v":"SEC - EMPIRE PA","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":1580,"wires":[["e52f0b2ff60c653a"],["e52f0b2ff60c653a"],["d35d68e06ca8bf38"]]},{"id":"e52f0b2ff60c653a","type":"function","z":"802a1d7647a6b846","name":"set output to Empire Park","func":"msg.regex.output = \"Empire Park\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1580,"wires":[["16a76f4ceee8c2e9"]]},{"id":"f5c1787db8a3cfd3","type":"switch","z":"802a1d7647a6b846","name":"Is Dream Tea","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^DREAM TEA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":980,"wires":[["a5d4b431179dd760"],["6a9825c5a47997de"]]},{"id":"a5d4b431179dd760","type":"function","z":"802a1d7647a6b846","name":"set output to Dream Tea","func":"msg.regex.output = \"Dream Tea\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":980,"wires":[["3fe9f64e03a455f2"]]},{"id":"6a9825c5a47997de","type":"switch","z":"802a1d7647a6b846","name":"Is Mogouyan","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^Mogouyan Hand Pulled N","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1020,"wires":[["605d7690b30e2a23"],["a5cdd0665c2a450a"]]},{"id":"605d7690b30e2a23","type":"function","z":"802a1d7647a6b846","name":"set output to Mogouyan","func":"msg.regex.output = \"Mogouyan\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1020,"wires":[["1a51cd3bcb9837f6"]]},{"id":"157d57c3eb8ea819","type":"switch","z":"802a1d7647a6b846","name":"Is Apple","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^APPLE STORE","vt":"str","case":false},{"t":"regex","v":"^APPLE\\.COM\\/BILL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":1140,"wires":[["067765311aac3af7"],["067765311aac3af7"],["b2623775e7c506b9"]]},{"id":"067765311aac3af7","type":"function","z":"802a1d7647a6b846","name":"set output to Apple","func":"msg.regex.output = \"Apple\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1140,"wires":[["5af8d67d2070a4cb"]]},{"id":"d35d68e06ca8bf38","type":"switch","z":"802a1d7647a6b846","name":"Is Canadian Tire","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CDN TIRE STORE","vt":"str","case":false},{"t":"regex","v":"^WWW\\.CANADIANTIRE\\.CA","vt":"str","case":false},{"t":"regex","v":"^CANADIAN TIRE #$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":160,"y":1640,"wires":[["a7cf32ce558b40d6"],["a7cf32ce558b40d6"],["a7cf32ce558b40d6"],["c6f957d6940f45c3"]]},{"id":"a7cf32ce558b40d6","type":"function","z":"802a1d7647a6b846","name":"set output to Canadian Tire","func":"msg.regex.output = \"Canadian Tire\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1620,"wires":[["7e09089520cbf6fe"]]},{"id":"6b48fcf983b49622","type":"switch","z":"802a1d7647a6b846","name":"Is Shell","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SHELL C[0-9]+","vt":"str","case":false},{"t":"regex","v":"^SHELL DISCOVERY WAY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":820,"wires":[["e2c1911fcfac1a4c"],["e2c1911fcfac1a4c"],["e85c97c7c3c69578"]]},{"id":"e2c1911fcfac1a4c","type":"function","z":"802a1d7647a6b846","name":"set output to Shell","func":"msg.regex.output = \"Shell\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":820,"wires":[["1b67a250ed4730db"]]},{"id":"8874d9d85f253229","type":"link call","z":"802a1d7647a6b846","name":"","links":["8ec02c32397fe34a"],"linkType":"static","timeout":"30","x":970,"y":560,"wires":[["6446ac2fe520db05"]]},{"id":"5fdc275040059c56","type":"link call","z":"802a1d7647a6b846","name":"","links":["8ec02c32397fe34a"],"linkType":"static","timeout":"30","x":970,"y":620,"wires":[["5b0ca49948b159f4"]]},{"id":"66b6591aa8a40551","type":"link call","z":"802a1d7647a6b846","name":"","links":["8db009df8a074229"],"linkType":"static","timeout":"30","x":960,"y":740,"wires":[["3df646897a6bbffe"]]},{"id":"4d5571304460f622","type":"link call","z":"802a1d7647a6b846","name":"","links":["8db009df8a074229"],"linkType":"static","timeout":"30","x":960,"y":780,"wires":[["6f88e33aef16afbc"]]},{"id":"1b67a250ed4730db","type":"link call","z":"802a1d7647a6b846","name":"","links":["8db009df8a074229"],"linkType":"static","timeout":"30","x":960,"y":820,"wires":[["183e4bb24cf9d211"]]},{"id":"3ee65bcb8e8bb461","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":520,"wires":[]},{"id":"6446ac2fe520db05","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":560,"wires":[]},{"id":"5b0ca49948b159f4","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":620,"wires":[]},{"id":"116776cb5aa57dd0","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":680,"wires":[]},{"id":"3df646897a6bbffe","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":740,"wires":[]},{"id":"2ecb4416c1d86330","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":860,"wires":[]},{"id":"9fae8d2f939e2705","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":940,"wires":[]},{"id":"3fe9f64e03a455f2","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":980,"wires":[]},{"id":"1a51cd3bcb9837f6","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1020,"wires":[]},{"id":"6f88e33aef16afbc","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":780,"wires":[]},{"id":"183e4bb24cf9d211","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":820,"wires":[]},{"id":"964c950c16e80e39","type":"link call","z":"802a1d7647a6b846","name":"","links":["42ba2541ccc37ead"],"linkType":"static","timeout":"30","x":970,"y":1200,"wires":[["aa5910f7a0c07f68"]]},{"id":"51053c998e6507f1","type":"link call","z":"802a1d7647a6b846","name":"","links":["c9f9ea3cbabbef59"],"linkType":"static","timeout":"30","x":1050,"y":1340,"wires":[["919ac85964b060b8"]]},{"id":"47598738d0040f48","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1060,"wires":[]},{"id":"0edc54a50eb203e4","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1100,"wires":[]},{"id":"5af8d67d2070a4cb","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1140,"wires":[]},{"id":"5d9a332c0ca5aa0f","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1260,"wires":[]},{"id":"f8e3f7d623029dfc","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1300,"wires":[]},{"id":"e88cf343bab0f273","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1380,"wires":[]},{"id":"919ac85964b060b8","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":1340,"wires":[]},{"id":"aa5910f7a0c07f68","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":1200,"wires":[]},{"id":"e42b1d2bbe1499be","type":"link call","z":"802a1d7647a6b846","name":"","links":["5bec47667a086540"],"linkType":"static","timeout":"30","x":1010,"y":1420,"wires":[["adc8fa79a9520bec"]]},{"id":"aa99406843ec977c","type":"link call","z":"802a1d7647a6b846","name":"","links":["1680ed4a2ebcf362"],"linkType":"static","timeout":"30","x":970,"y":1460,"wires":[["88ae86fe14f26fa2"]]},{"id":"adc8fa79a9520bec","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":1420,"wires":[]},{"id":"88ae86fe14f26fa2","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":1460,"wires":[]},{"id":"16a76f4ceee8c2e9","type":"link call","z":"802a1d7647a6b846","name":"","links":["f632e9b33fdbecde"],"linkType":"static","timeout":"30","x":960,"y":1580,"wires":[["609c07331c3f4a29"]]},{"id":"7e09089520cbf6fe","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1620,"wires":[]},{"id":"61e4e591350e74f0","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1500,"wires":[]},{"id":"52cb2af52bed48f6","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":825,"y":1540,"wires":[]},{"id":"609c07331c3f4a29","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["cbe2abf9ecdd1501"],"x":1275,"y":1580,"wires":[]},{"id":"c6f957d6940f45c3","type":"link out","z":"802a1d7647a6b846","name":"finish","mode":"link","links":["bd293b9fd653a7df"],"x":435,"y":1700,"wires":[]},{"id":"0f56200228dc2c60","type":"subflow:802a1d7647a6b846","z":"816b18275c5bc79f","name":"","x":210,"y":40,"wires":[["eda63074d1e24944"]]},{"id":"5b936f2d7407d78b","type":"subflow:0388385d3e5898c8","z":"816b18275c5bc79f","name":"","x":210,"y":100,"wires":[["7109215fb0e84764"]]},{"id":"eda63074d1e24944","type":"switch","z":"816b18275c5bc79f","name":"Success?","property":"regex.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":40,"wires":[["a872c018e5b638b2"],["5b936f2d7407d78b"]]},{"id":"de75500802ddf08d","type":"subflow:0836b7eb01a9973b","z":"816b18275c5bc79f","name":"","x":210,"y":160,"wires":[["2331a9bb7cf4b486"]]},{"id":"7109215fb0e84764","type":"switch","z":"816b18275c5bc79f","name":"Success?","property":"regex.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":100,"wires":[["352772c1eb8430be"],["de75500802ddf08d"]]},{"id":"2331a9bb7cf4b486","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":535,"y":160,"wires":[]},{"id":"01b051af50aa23e2","type":"link in","z":"816b18275c5bc79f","name":"finish","links":["2331a9bb7cf4b486","352772c1eb8430be","a872c018e5b638b2"],"x":645,"y":40,"wires":[[]]},{"id":"352772c1eb8430be","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":535,"y":100,"wires":[]},{"id":"a872c018e5b638b2","type":"link out","z":"816b18275c5bc79f","name":"finish","mode":"link","links":["01b051af50aa23e2"],"x":535,"y":40,"wires":[]},{"id":"a23413d282bdf490","type":"link in","z":"0388385d3e5898c8","name":"finish success","links":["00be235bdcc04431","18a27c5b01867b58","26d4bc814190060f","2a92b454fcd4ebcd","39c74352883d37cc","47fe547e8b9fd635","527690acec0ac3ee","537e207607260415","5d2c205a0c30fddc","5deef68eb6080fa1","5ee09e9b28e24d7f","60e71bfb898cf9b9","6262b58036267c72","63cd2b889be3eab9","6daa3dfc24e5d6cd","6ef9105764417a70","73209ea12e370d57","778b39b151a50949","79eedf8a9eeaef4a","819e8128f4f8d5f9","88a57ba2a277a206","9a63a853907d0bec","9ef3395895400c30","ad93dbadbd29dcd6","ae0dd7636a09cba3","ae309e490f37ded5","b73da50dcbcbf84a","b9d7e11029fb89a0","bc648024a462c12e","bfb3c5880a9872bb","ca74cac27b89eeba","cb3f05d22ce4a1c2","cb7fbe025bc027e9","cc1a27302c107a67","d1c013f496ac01c7","d52b51a20555982b","d6d9f240d11df1cc","dafd44339877ce2a","e3419996e237362d","e4aa23be32ed7c41","e5e4b41412a51245","eb17102ca20fac55","edf5765a80b2ebd6","f70880a4323127af","f7826ff5afb95f03","f89e34ad3f53a67f"],"x":2235,"y":20,"wires":[["08895511ed9dd031"]]},{"id":"e00a4a7a89750319","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["1e128d4ed3be8bcf"],"x":435,"y":1940,"wires":[]},{"id":"08895511ed9dd031","type":"function","z":"0388385d3e5898c8","name":"set success","func":"msg.regex.success = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":20,"wires":[[]]},{"id":"8c52f8c53c21866f","type":"function","z":"0388385d3e5898c8","name":"set fail","func":"msg.regex.success = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":100,"wires":[[]]},{"id":"1e128d4ed3be8bcf","type":"link in","z":"0388385d3e5898c8","name":"finish fail","links":["e00a4a7a89750319"],"x":2235,"y":100,"wires":[["8c52f8c53c21866f"]]},{"id":"34a56229d3f2646c","type":"switch","z":"0388385d3e5898c8","name":"Is CDKeys","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CDKEYS\\.COM","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":20,"wires":[["8dae7cf5d82babdd"],["6dc6371835a5ec02"]]},{"id":"8dae7cf5d82babdd","type":"function","z":"0388385d3e5898c8","name":"set output to CDKeys","func":"msg.regex.output = \"CDKeys\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":20,"wires":[["537e207607260415"]]},{"id":"6dc6371835a5ec02","type":"switch","z":"0388385d3e5898c8","name":"Is Winners","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^WINNERS 430","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":60,"wires":[["c029ef0cb6b99830"],["c920ada0d67515ba"]]},{"id":"c029ef0cb6b99830","type":"function","z":"0388385d3e5898c8","name":"set output to Winners","func":"msg.regex.output = \"Winners\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":60,"wires":[["18a27c5b01867b58"]]},{"id":"c920ada0d67515ba","type":"switch","z":"0388385d3e5898c8","name":"Is Toyota on the Trail","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^TOYOTA ON THE TRAIL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":100,"wires":[["6329d322148d8aca"],["afb359c843ab21c6"]]},{"id":"6329d322148d8aca","type":"function","z":"0388385d3e5898c8","name":"set output to Toyota on the Trail","func":"msg.regex.output = \"Toyota on the Trail\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":100,"wires":[["5d2c205a0c30fddc"]]},{"id":"afb359c843ab21c6","type":"switch","z":"0388385d3e5898c8","name":"Is Wheaton Honda","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^WHEATON HONDA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":140,"wires":[["ef41a4c02821c8da"],["e29738655ddae361"]]},{"id":"ef41a4c02821c8da","type":"function","z":"0388385d3e5898c8","name":"set output to Wheaton Honda","func":"msg.regex.output = \"Wheaton Honda\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["ca74cac27b89eeba"]]},{"id":"e29738655ddae361","type":"switch","z":"0388385d3e5898c8","name":"Is Gateway Toyota","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^GATEWAY TOYOTA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":180,"wires":[["f03945f64801b452"],["61f0e07de72c9088"]]},{"id":"f03945f64801b452","type":"function","z":"0388385d3e5898c8","name":"set output to Gateway Toyota","func":"msg.regex.output = \"Gateway Toyota\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["5deef68eb6080fa1"]]},{"id":"61f0e07de72c9088","type":"switch","z":"0388385d3e5898c8","name":"Is Puma","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^PUMA SOUTH EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":220,"wires":[["c4dcddc3760abb21"],["ad806a1854756285"]]},{"id":"c4dcddc3760abb21","type":"function","z":"0388385d3e5898c8","name":"set output to Puma","func":"msg.regex.output = \"Puma\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["d6d9f240d11df1cc"]]},{"id":"ad806a1854756285","type":"switch","z":"0388385d3e5898c8","name":"Is OEB Breakfast","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^OEB BREAKFAST CO\\.","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":260,"wires":[["2573df7cb2990f47"],["d59a2c639e26a91a"]]},{"id":"2573df7cb2990f47","type":"function","z":"0388385d3e5898c8","name":"set output to OEB Breakfast","func":"msg.regex.output = \"OEB Breakfast Co.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["26d4bc814190060f"]]},{"id":"d59a2c639e26a91a","type":"switch","z":"0388385d3e5898c8","name":"Is TD Insurance","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SECURITY NATIONAL INSURANMONTREAL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":300,"wires":[["e671c8035f970d98"],["c27c202d046684fe"]]},{"id":"e671c8035f970d98","type":"function","z":"0388385d3e5898c8","name":"set output to TD Insurance","func":"msg.regex.output = \"TD Insurance\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["6cde6c7c5941a8a1"]]},{"id":"c27c202d046684fe","type":"switch","z":"0388385d3e5898c8","name":"Is IHop","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^IHOP","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":340,"wires":[["c18cf7dc8b74fa76"],["03e2d7af13a28d63"]]},{"id":"c18cf7dc8b74fa76","type":"function","z":"0388385d3e5898c8","name":"set output to IHop","func":"msg.regex.output = \"IHop\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[["819e8128f4f8d5f9"]]},{"id":"03e2d7af13a28d63","type":"switch","z":"0388385d3e5898c8","name":"Is NAPA","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+-NAPA EDMONTON SOU","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":380,"wires":[["4a26af719c7ea8c8"],["990f79f5fdb26aeb"]]},{"id":"4a26af719c7ea8c8","type":"function","z":"0388385d3e5898c8","name":"set output to NAPA","func":"msg.regex.output = \"NAPA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[["9ef3395895400c30"]]},{"id":"990f79f5fdb26aeb","type":"switch","z":"0388385d3e5898c8","name":"Is JD Sports","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^JDSF Retail \\( Canada \\) InVancouver","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":420,"wires":[["9bfb32618f53d8de"],["d2583cc4340a8558"]]},{"id":"9bfb32618f53d8de","type":"function","z":"0388385d3e5898c8","name":"set output to JD Sports","func":"msg.regex.output = \"JD Sports\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["88a57ba2a277a206"]]},{"id":"d2583cc4340a8558","type":"switch","z":"0388385d3e5898c8","name":"Is Coco Tea","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^COCO TEA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":460,"wires":[["0473e986993d6c0c"],["41cabaae961a3d51"]]},{"id":"0473e986993d6c0c","type":"function","z":"0388385d3e5898c8","name":"set output to Coco Tea","func":"msg.regex.output = \"Coco Tea\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["60e71bfb898cf9b9"]]},{"id":"41cabaae961a3d51","type":"switch","z":"0388385d3e5898c8","name":"Is Calendar Club","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CALENDAR CLUB OF CANADA #EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":500,"wires":[["40ed23f12511681d"],["b98be9ef9c6fbb4f"]]},{"id":"40ed23f12511681d","type":"function","z":"0388385d3e5898c8","name":"set output to Calendar Club","func":"msg.regex.output = \"Calendar Club\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["6daa3dfc24e5d6cd"]]},{"id":"b98be9ef9c6fbb4f","type":"switch","z":"0388385d3e5898c8","name":"Is Scotiabank","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"ANNUAL FEE","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":540,"wires":[["275c5689814d2627"],["ef42d98573a4a5b6"]]},{"id":"275c5689814d2627","type":"function","z":"0388385d3e5898c8","name":"set output to Scotiabank","func":"msg.regex.output = \"Scotiabank\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":540,"wires":[["ad93dbadbd29dcd6"]]},{"id":"ef42d98573a4a5b6","type":"switch","z":"0388385d3e5898c8","name":"Is McDonald's","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^MCDONALD'S #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":580,"wires":[["f9655e4bc73b923e"],["b3d520b59ef9ca9e"]]},{"id":"f9655e4bc73b923e","type":"function","z":"0388385d3e5898c8","name":"set output to McDonald's","func":"msg.regex.output = \"McDonald's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["dafd44339877ce2a"]]},{"id":"b3d520b59ef9ca9e","type":"switch","z":"0388385d3e5898c8","name":"Is Youtube","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^GOOGLE \\*YouTube Member","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":620,"wires":[["d516b539d29dd82f"],["bc9152cb11a6c8f7"]]},{"id":"d516b539d29dd82f","type":"function","z":"0388385d3e5898c8","name":"set output to Youtube","func":"msg.regex.output = \"Youtube\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":620,"wires":[["ae0dd7636a09cba3"]]},{"id":"bc9152cb11a6c8f7","type":"switch","z":"0388385d3e5898c8","name":"Is Home Depot","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^THE HOME DEPOT #7065","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":660,"wires":[["6ef72bcdb13329a8"],["75e23d17135b330c"]]},{"id":"6ef72bcdb13329a8","type":"function","z":"0388385d3e5898c8","name":"set output to Home Depot","func":"msg.regex.output = \"Home Depot\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":660,"wires":[["e5e4b41412a51245"]]},{"id":"75e23d17135b330c","type":"switch","z":"0388385d3e5898c8","name":"Is Pizza 73","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^PIZZA 73 #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":700,"wires":[["329bfe33efa7fe7a"],["ccd0536a6cd8c24a"]]},{"id":"329bfe33efa7fe7a","type":"function","z":"0388385d3e5898c8","name":"set output to Pizza 73","func":"msg.regex.output = \"Pizza 73\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":700,"wires":[["47fe547e8b9fd635"]]},{"id":"ccd0536a6cd8c24a","type":"switch","z":"0388385d3e5898c8","name":"Is Rockin' Robyn's","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^ROCKIN ROBYNS LTD","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":740,"wires":[["1120d9abe8ce62af"],["810914b8d6e6fbc8"]]},{"id":"1120d9abe8ce62af","type":"function","z":"0388385d3e5898c8","name":"set output to Rockin' Robyn's","func":"msg.regex.output = \"Rockin' Robyn's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":740,"wires":[["cb3f05d22ce4a1c2"]]},{"id":"810914b8d6e6fbc8","type":"switch","z":"0388385d3e5898c8","name":"Is Tres Carnales","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^TRES CARNALES TAQUERIA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":780,"wires":[["e86fe17a793275b2"],["d2a38011cebab2f5"]]},{"id":"e86fe17a793275b2","type":"function","z":"0388385d3e5898c8","name":"set output to Tres Carnales","func":"msg.regex.output = \"Tres Carnales\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":780,"wires":[["527690acec0ac3ee"]]},{"id":"d2a38011cebab2f5","type":"switch","z":"0388385d3e5898c8","name":"Is Animethon","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^ASAPA ANIMETHON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":820,"wires":[["b8432b6c7014a6b0"],["d51ed3568849d5a0"]]},{"id":"b8432b6c7014a6b0","type":"function","z":"0388385d3e5898c8","name":"set output to Animethon","func":"msg.regex.output = \"Animethon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[["79eedf8a9eeaef4a"]]},{"id":"d51ed3568849d5a0","type":"switch","z":"0388385d3e5898c8","name":"Is Nando's","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^NANDO'S EDMONTON GATEW","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":860,"wires":[["a9ae6ead032854f1"],["329a6f7444a80e4c"]]},{"id":"a9ae6ead032854f1","type":"function","z":"0388385d3e5898c8","name":"set output to Nando's","func":"msg.regex.output = \"Nando's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":860,"wires":[["eb17102ca20fac55"]]},{"id":"329a6f7444a80e4c","type":"switch","z":"0388385d3e5898c8","name":"Is Trapped","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SQ \\*TRAPPED EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":900,"wires":[["f75837c3efa5482e"],["5e0b22136f2cd6d8"]]},{"id":"f75837c3efa5482e","type":"function","z":"0388385d3e5898c8","name":"set output to Trapped","func":"msg.regex.output = \"Trapped\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":900,"wires":[["2a92b454fcd4ebcd"]]},{"id":"5e0b22136f2cd6d8","type":"switch","z":"0388385d3e5898c8","name":"Is A&W","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^A&W-CAP CORNER #1730","vt":"str","case":false},{"t":"regex","v":"^A&W #[0-9]+","vt":"str","case":false},{"t":"regex","v":"^A W #[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":140,"y":960,"wires":[["3508ee830fbcd5b2"],["3508ee830fbcd5b2"],["3508ee830fbcd5b2"],["b809eaa322692632"]]},{"id":"3508ee830fbcd5b2","type":"function","z":"0388385d3e5898c8","name":"set output to A&W","func":"msg.regex.output = \"A&W\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":960,"wires":[["d52b51a20555982b"]]},{"id":"b809eaa322692632","type":"switch","z":"0388385d3e5898c8","name":"Is Blowers & Grafton","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^BLOWERS & GRAFTON \\(EDMONT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1020,"wires":[["0c7a4d895e010f34"],["58c6937372c5648c"]]},{"id":"0c7a4d895e010f34","type":"function","z":"0388385d3e5898c8","name":"set output to Blowers & Grafton","func":"msg.regex.output = \"Blowers & Grafton\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1020,"wires":[["b73da50dcbcbf84a"]]},{"id":"58c6937372c5648c","type":"switch","z":"0388385d3e5898c8","name":"Is Dollarama","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^DOLLARAMA #\\s?[0-9]+\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1060,"wires":[["7aac0e5232ec9184"],["43f25b8a5b208d8a"]]},{"id":"7aac0e5232ec9184","type":"function","z":"0388385d3e5898c8","name":"set output to Dollarama","func":"msg.regex.output = \"Dollarama\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1060,"wires":[["d1c013f496ac01c7"]]},{"id":"43f25b8a5b208d8a","type":"switch","z":"0388385d3e5898c8","name":"Is Freshii","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^FRESHII CALGARY TRAIL EDM","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1100,"wires":[["10f090e3d466df14"],["1bf4cb7c77f82d80"]]},{"id":"10f090e3d466df14","type":"function","z":"0388385d3e5898c8","name":"set output to Freshii","func":"msg.regex.output = \"Freshii\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1100,"wires":[["bfb3c5880a9872bb"]]},{"id":"1bf4cb7c77f82d80","type":"switch","z":"0388385d3e5898c8","name":"Is United Sport & Cycle","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^UNITED SPORT & CYCLE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":1140,"wires":[["9593e4456451dbb5"],["568217a4b85d086e"]]},{"id":"9593e4456451dbb5","type":"function","z":"0388385d3e5898c8","name":"set output to United Sport & Cycle","func":"msg.regex.output = \"United Sport & Cycle\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1140,"wires":[["6ef9105764417a70"]]},{"id":"568217a4b85d086e","type":"switch","z":"0388385d3e5898c8","name":"Is Move Learn Play","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CITYOFEDMONTON-MOVELEARNP","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1180,"wires":[["2eb9cff9f70d9f3c"],["6674ead457724f69"]]},{"id":"2eb9cff9f70d9f3c","type":"function","z":"0388385d3e5898c8","name":"set output to City of Edmonton","func":"msg.regex.output = \"City of Edmonton\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1180,"wires":[["e3419996e237362d"]]},{"id":"6674ead457724f69","type":"switch","z":"0388385d3e5898c8","name":"Is Gander Disc Golf","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SP GANDER DISC GOLF","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1220,"wires":[["08658fd5ebd6d0ec"],["9b3c57cd97949474"]]},{"id":"08658fd5ebd6d0ec","type":"function","z":"0388385d3e5898c8","name":"set output to Gander Disc Golf","func":"msg.regex.output = \"Gander Disc Golf\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1220,"wires":[["edf5765a80b2ebd6"]]},{"id":"9b3c57cd97949474","type":"switch","z":"0388385d3e5898c8","name":"Is Spool3D","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SPOOL3D - 3D PRINTING","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1260,"wires":[["64255752b7c25848"],["0afb1a06bf19e4ba"]]},{"id":"64255752b7c25848","type":"function","z":"0388385d3e5898c8","name":"set output to Spool3D","func":"msg.regex.output = \"Spool3D\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1260,"wires":[["9a63a853907d0bec"]]},{"id":"0afb1a06bf19e4ba","type":"switch","z":"0388385d3e5898c8","name":"Is Uber Eats","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^UBER CANADA\\/UBEREATS","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1300,"wires":[["713e05c1d3f5d1e5"],["3d77a16798cf4486"]]},{"id":"713e05c1d3f5d1e5","type":"function","z":"0388385d3e5898c8","name":"set output to Uber Eats","func":"msg.regex.output = \"Uber Eats\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1300,"wires":[["f7826ff5afb95f03"]]},{"id":"3d77a16798cf4486","type":"switch","z":"0388385d3e5898c8","name":"Is AliExpress","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^aliexpress\\s+","vt":"str","case":false},{"t":"eq","v":"*ALIPAYS","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":1340,"wires":[["bae66e0b83a2e3bb"],["bae66e0b83a2e3bb"],["7bcd0503ac84ff89"]]},{"id":"bae66e0b83a2e3bb","type":"function","z":"0388385d3e5898c8","name":"set output to AliExpress","func":"msg.regex.output = \"AliExpress\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1340,"wires":[["778b39b151a50949"]]},{"id":"7bcd0503ac84ff89","type":"switch","z":"0388385d3e5898c8","name":"Is HiPi Industries","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^HIPI INDUSTRIES INC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1380,"wires":[["bfb1688f36e4eb9f"],["73203048a669a4e6"]]},{"id":"bfb1688f36e4eb9f","type":"function","z":"0388385d3e5898c8","name":"set output to HiPi Industries","func":"msg.regex.output = \"HiPi Industries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1380,"wires":[["00be235bdcc04431"]]},{"id":"73203048a669a4e6","type":"switch","z":"0388385d3e5898c8","name":"Is Namecheap","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^NAME-CHEAP\\.COM\\* AE9X76   WWW\\.NAMECHEAPAZ AMT","vt":"str","case":false},{"t":"eq","v":"*NAMECHE","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":1420,"wires":[["4855908907adee60"],["4855908907adee60"],["7c7fe4983f8769a5"]]},{"id":"4855908907adee60","type":"function","z":"0388385d3e5898c8","name":"set output to Namecheap","func":"msg.regex.output = \"Namecheap\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1420,"wires":[["cb7fbe025bc027e9"]]},{"id":"7c7fe4983f8769a5","type":"switch","z":"0388385d3e5898c8","name":"Is Starbucks","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^STARBUCKS COFFEE #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1460,"wires":[["8141b1fbe954bb4c"],["c12215c259f7611d"]]},{"id":"8141b1fbe954bb4c","type":"function","z":"0388385d3e5898c8","name":"set output to Starbucks","func":"msg.regex.output = \"Starbucks\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1460,"wires":[["39c74352883d37cc"]]},{"id":"c12215c259f7611d","type":"switch","z":"0388385d3e5898c8","name":"Is Wok Box","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^WOK BOX #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1500,"wires":[["f4fcb6b544d91727"],["992d0575cb1cee03"]]},{"id":"f4fcb6b544d91727","type":"function","z":"0388385d3e5898c8","name":"set output to Wok Box","func":"msg.regex.output = \"Wok Box\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1500,"wires":[["6262b58036267c72"]]},{"id":"992d0575cb1cee03","type":"switch","z":"0388385d3e5898c8","name":"Is The Hexagon Board Game Cafe","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^THE HEXAGON BOARD GAME CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":1540,"wires":[["9e3ecc17ca54c86b"],["332e744cd37ec1a0"]]},{"id":"9e3ecc17ca54c86b","type":"function","z":"0388385d3e5898c8","name":"set output to The Hexagon Board Game Cafe","func":"msg.regex.output = \"The Hexagon Board Game Cafe\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1540,"wires":[["f70880a4323127af"]]},{"id":"332e744cd37ec1a0","type":"switch","z":"0388385d3e5898c8","name":"Is Panini's Italian Cucina","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^PANINI'S ITALIAN CUCINA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":1580,"wires":[["69fa4015ba73ee27"],["175d18925467e95c"]]},{"id":"69fa4015ba73ee27","type":"function","z":"0388385d3e5898c8","name":"set output to Panini's Italian Cucina","func":"msg.regex.output = \"Panini's Italian Cucina\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1580,"wires":[["cc1a27302c107a67"]]},{"id":"175d18925467e95c","type":"switch","z":"0388385d3e5898c8","name":"Is Foot Locker","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^FOOT LOCKER CANADA","vt":"str","case":false},{"t":"eq","v":"FOOT LOCKER CAN","vt":"str"},{"t":"regex","v":"^[A-Z0-9]+ FOOT LOCKER CAN$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":160,"y":1640,"wires":[["0986a77f84d2df2d"],["0986a77f84d2df2d"],["0986a77f84d2df2d"],["7ca5eb7263f948a5"]]},{"id":"0986a77f84d2df2d","type":"function","z":"0388385d3e5898c8","name":"set output to Foot Locker","func":"msg.regex.output = \"Foot Locker\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1640,"wires":[["5ee09e9b28e24d7f"]]},{"id":"7ca5eb7263f948a5","type":"switch","z":"0388385d3e5898c8","name":"Is Sport Check","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^#[0-9]+ SPORT CHEK   ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1700,"wires":[["ee0d307308e89c9c"],["f2ed83324401bed2"]]},{"id":"ee0d307308e89c9c","type":"function","z":"0388385d3e5898c8","name":"set output to Sport Check","func":"msg.regex.output = \"Sport Check\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1700,"wires":[["63cd2b889be3eab9"]]},{"id":"f2ed83324401bed2","type":"switch","z":"0388385d3e5898c8","name":"Is Spencers Gifts","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SPENCERS GIFTS  [0-9]+\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1740,"wires":[["c3605e4578b05491"],["a5cacf66c33a76dc"]]},{"id":"c3605e4578b05491","type":"function","z":"0388385d3e5898c8","name":"set output to Spencers Gifts","func":"msg.regex.output = \"Spencers Gifts\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1740,"wires":[["73209ea12e370d57"]]},{"id":"a5cacf66c33a76dc","type":"switch","z":"0388385d3e5898c8","name":"Is The Source","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SOURCE\\s+[0-9]+\\s+","vt":"str","case":false},{"t":"eq","v":"*SOURCEB","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":1780,"wires":[["a500198599d085db"],["a500198599d085db"],["b60abea185a85e97"]]},{"id":"a500198599d085db","type":"function","z":"0388385d3e5898c8","name":"set output to The Source","func":"msg.regex.output = \"The Source\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1780,"wires":[["ae309e490f37ded5"]]},{"id":"b60abea185a85e97","type":"switch","z":"0388385d3e5898c8","name":"Is Zumiez","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^ZUMIEZ #[A-Z0-9]+\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1820,"wires":[["59402e2c46fed26c"],["7b65336535d14495"]]},{"id":"59402e2c46fed26c","type":"function","z":"0388385d3e5898c8","name":"set output to Zumiez","func":"msg.regex.output = \"Zumiez\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1820,"wires":[["bc648024a462c12e"]]},{"id":"7b65336535d14495","type":"switch","z":"0388385d3e5898c8","name":"Is Zara","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^ZARA WEM #[0-9]+   ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1860,"wires":[["bcc75e5d1e902297"],["8bb6299ece100f3a"]]},{"id":"bcc75e5d1e902297","type":"function","z":"0388385d3e5898c8","name":"set output to Zara","func":"msg.regex.output = \"Zara\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1860,"wires":[["b9d7e11029fb89a0"]]},{"id":"8bb6299ece100f3a","type":"switch","z":"0388385d3e5898c8","name":"Is Uniqlo","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^UNIQLO WEST EDMONTON MALL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1900,"wires":[["6166e79856999b23"],["e00a4a7a89750319"]]},{"id":"6166e79856999b23","type":"function","z":"0388385d3e5898c8","name":"set output to Uniqlo","func":"msg.regex.output = \"Uniqlo\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1900,"wires":[["f89e34ad3f53a67f"]]},{"id":"6cde6c7c5941a8a1","type":"link call","z":"0388385d3e5898c8","name":"","links":["c9f9ea3cbabbef59"],"linkType":"static","timeout":"30","x":1050,"y":300,"wires":[["e4aa23be32ed7c41"]]},{"id":"537e207607260415","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":20,"wires":[]},{"id":"18a27c5b01867b58","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":60,"wires":[]},{"id":"5d2c205a0c30fddc","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":100,"wires":[]},{"id":"ca74cac27b89eeba","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":140,"wires":[]},{"id":"5deef68eb6080fa1","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":180,"wires":[]},{"id":"e4aa23be32ed7c41","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":1275,"y":300,"wires":[]},{"id":"d6d9f240d11df1cc","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":220,"wires":[]},{"id":"26d4bc814190060f","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":260,"wires":[]},{"id":"819e8128f4f8d5f9","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":340,"wires":[]},{"id":"9ef3395895400c30","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":380,"wires":[]},{"id":"88a57ba2a277a206","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":420,"wires":[]},{"id":"60e71bfb898cf9b9","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":460,"wires":[]},{"id":"6daa3dfc24e5d6cd","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":500,"wires":[]},{"id":"ad93dbadbd29dcd6","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":540,"wires":[]},{"id":"dafd44339877ce2a","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":580,"wires":[]},{"id":"ae0dd7636a09cba3","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":620,"wires":[]},{"id":"e5e4b41412a51245","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":660,"wires":[]},{"id":"47fe547e8b9fd635","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":700,"wires":[]},{"id":"cb3f05d22ce4a1c2","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":740,"wires":[]},{"id":"527690acec0ac3ee","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":780,"wires":[]},{"id":"79eedf8a9eeaef4a","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":820,"wires":[]},{"id":"eb17102ca20fac55","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":860,"wires":[]},{"id":"2a92b454fcd4ebcd","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":900,"wires":[]},{"id":"d52b51a20555982b","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":960,"wires":[]},{"id":"b73da50dcbcbf84a","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1020,"wires":[]},{"id":"d1c013f496ac01c7","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1060,"wires":[]},{"id":"bfb3c5880a9872bb","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1100,"wires":[]},{"id":"6ef9105764417a70","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1140,"wires":[]},{"id":"e3419996e237362d","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1180,"wires":[]},{"id":"edf5765a80b2ebd6","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1220,"wires":[]},{"id":"9a63a853907d0bec","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1260,"wires":[]},{"id":"f7826ff5afb95f03","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1300,"wires":[]},{"id":"778b39b151a50949","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1340,"wires":[]},{"id":"00be235bdcc04431","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1380,"wires":[]},{"id":"cb7fbe025bc027e9","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1420,"wires":[]},{"id":"39c74352883d37cc","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1460,"wires":[]},{"id":"6262b58036267c72","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1500,"wires":[]},{"id":"f70880a4323127af","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1540,"wires":[]},{"id":"cc1a27302c107a67","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1580,"wires":[]},{"id":"5ee09e9b28e24d7f","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1640,"wires":[]},{"id":"63cd2b889be3eab9","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1700,"wires":[]},{"id":"73209ea12e370d57","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1740,"wires":[]},{"id":"ae309e490f37ded5","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1780,"wires":[]},{"id":"bc648024a462c12e","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1820,"wires":[]},{"id":"b9d7e11029fb89a0","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1860,"wires":[]},{"id":"f89e34ad3f53a67f","type":"link out","z":"0388385d3e5898c8","name":"finish","mode":"link","links":["a23413d282bdf490"],"x":825,"y":1900,"wires":[]},{"id":"8038f979f466bc55","type":"switch","z":"6dda729768875793","name":"Destination is empty","property":"input.destination_name","propertyType":"msg","rules":[{"t":"eq","v":"(no name)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":40,"wires":[["e105a9ff6d0f2919"],["bc1a7dd1108bcaf6"]]},{"id":"bc1a7dd1108bcaf6","type":"link out","z":"6dda729768875793","name":"finish flow","mode":"link","links":["aef8bcaec909662f"],"x":275,"y":100,"wires":[]},{"id":"a79533c475561b25","type":"switch","z":"6dda729768875793","name":"Is Visa debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":500,"y":140,"wires":[["0441e057a6bdae3c"],["dd3a51d742a94ec8"]]},{"id":"0441e057a6bdae3c","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":140,"wires":[["23e98aae3187d150"]]},{"id":"e380ae1691d5c043","type":"switch","z":"6dda729768875793","name":"Is Interac Retail purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":510,"y":380,"wires":[["e9c5220dd98299b0"],["8df0c90e53c6f996"]]},{"id":"23e98aae3187d150","type":"switch","z":"6dda729768875793","name":"Is Paypal","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PAYPAL\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":940,"y":140,"wires":[["56bcbefc3723c5e2"],["a36bb8eb9975c92f"]]},{"id":"56bcbefc3723c5e2","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"PAYPAL \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":140,"wires":[["1c70b095d49381fc"]]},{"id":"5dec8e51955a258a","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Interac RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":440,"wires":[["46d10a633e45e6af"]]},{"id":"8df0c90e53c6f996","type":"switch","z":"6dda729768875793","name":"Is Preauthorized debit transfer","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer PREAUTHORIZED DEBIT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":530,"y":500,"wires":[["9cf074bff90f80af"],["131fa2512ae3af62"]]},{"id":"9cf074bff90f80af","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Electronic Funds Transfer PREAUTHORIZED DEBIT \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":500,"wires":[["a0ea9338e513d4ba"]]},{"id":"dd3a51d742a94ec8","type":"switch","z":"6dda729768875793","name":"Is Visa international debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":540,"y":320,"wires":[["5376380ccf3f7291"],["e380ae1691d5c043"]]},{"id":"5376380ccf3f7291","type":"function","z":"6dda729768875793","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":320,"wires":[["23e98aae3187d150"]]},{"id":"e105a9ff6d0f2919","type":"switch","z":"6dda729768875793","name":"Is Scotiabank visa purchase","property":"input.source_name","propertyType":"msg","rules":[{"t":"eq","v":"Scotia Momentum VISA Infinite","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":520,"y":40,"wires":[["0b46cdec0d132efd"],["a79533c475561b25"]]},{"id":"d884197a34b5a728","type":"subflow:816b18275c5bc79f","z":"6dda729768875793","name":"","x":420,"y":820,"wires":[["77c25ff159065973"]]},{"id":"98b156d16dc62123","type":"function","z":"6dda729768875793","name":"set destination","func":"msg.output.destination_name = msg.regex.output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":820,"wires":[["9734ab39eed10326"]]},{"id":"77c25ff159065973","type":"switch","z":"6dda729768875793","name":"was regex successful?","property":"regex.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":820,"wires":[["98b156d16dc62123"],["7a5cd03fd4c8304b"]]},{"id":"9734ab39eed10326","type":"function","z":"6dda729768875793","name":"set attributes","func":"for(const [key, value] of Object.entries(msg.regex.attributes)) {\n    msg.output[key] = value;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":860,"wires":[["8dc04cc52a971bb5"]]},{"id":"aa76fcaae666b20d","type":"link in","z":"6dda729768875793","name":"To regex link in","links":["46d10a633e45e6af","4ae111779162ff23","57e398e867de8f34","638592c0b81745de","a0ea9338e513d4ba","f93d9cfa463df21c","7e6341bbf766b250","24dc13317f6d5c5e","7471817b688d6954","7681b1ccfb48c049","67e236cc67873ddf","ce0840d30b15b98e","9c6063c4c00cea84"],"x":75,"y":820,"wires":[["1a04224d94941ce1"]]},{"id":"46d10a633e45e6af","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":1355,"y":380,"wires":[]},{"id":"a0ea9338e513d4ba","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":995,"y":500,"wires":[]},{"id":"1a04224d94941ce1","type":"function","z":"6dda729768875793","name":"prepare for regex","func":"msg.regex.input = msg.input.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":820,"wires":[["d884197a34b5a728"]]},{"id":"57e398e867de8f34","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":1155,"y":40,"wires":[]},{"id":"aef8bcaec909662f","type":"link in","z":"6dda729768875793","name":"finish flow","links":["1ebd12c6a0b56242","346e8a028a470177","92a743204052c48d","bc1a7dd1108bcaf6","131fa2512ae3af62","7a5cd03fd4c8304b","fed42482b8d44af9"],"x":1365,"y":820,"wires":[[]]},{"id":"131fa2512ae3af62","type":"link out","z":"6dda729768875793","name":"finish flow","mode":"link","links":["aef8bcaec909662f"],"x":795,"y":580,"wires":[]},{"id":"7a5cd03fd4c8304b","type":"link out","z":"6dda729768875793","name":"finish flow","mode":"link","links":["aef8bcaec909662f"],"x":685,"y":900,"wires":[]},{"id":"fed42482b8d44af9","type":"link out","z":"6dda729768875793","name":"finish flow","mode":"link","links":["aef8bcaec909662f"],"x":1115,"y":820,"wires":[]},{"id":"8dc04cc52a971bb5","type":"function","z":"6dda729768875793","name":"add tags","func":"for(const [key, value] of Object.entries(msg.regex.attributes)) {\n    msg.output[key] = value;\n}\n\nif (!msg.output.tags && msg.regex.add_tags.length > 0) {\n    msg.output.tags = [];\n}\n\nfor(const tag of msg.regex.add_tags) {\n    if (msg.output.tags.indexOf(tag) === -1) {\n        msg.output.tags.push(tag);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":900,"wires":[["fed42482b8d44af9"]]},{"id":"e9c5220dd98299b0","type":"switch","z":"6dda729768875793","name":"Has numeric code before vendor","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE [0-9]+\\s+.+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":380,"wires":[["661c450d21f1d805"],["5dec8e51955a258a"]]},{"id":"661c450d21f1d805","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /^Point of Sale - Interac RETAIL PURCHASE [0-9]+\\s+/;\nmsg.input.description = msg.input.description.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":380,"wires":[["46d10a633e45e6af"]]},{"id":"1c70b095d49381fc","type":"switch","z":"6dda729768875793","name":"Is Non-CAD transaction","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]+.* [0-9]+\\.[0-9]{2} CAD @ 1\\.0+","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":140,"wires":[["72b83d76d7b6375b"],["a36bb8eb9975c92f"]]},{"id":"72b83d76d7b6375b","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = / [0-9]+\\.[0-9]{2} CAD @ 1.0+$/;\nmsg.input.description = msg.input.description.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":140,"wires":[["a36bb8eb9975c92f"]]},{"id":"a36bb8eb9975c92f","type":"switch","z":"6dda729768875793","name":"Has trailing transaction number","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^.+ [0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1170,"y":200,"wires":[["fa3bb8f695d98021"],["67e236cc67873ddf"]]},{"id":"fa3bb8f695d98021","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = / [0-9]+$/;\nmsg.input.description = msg.input.description.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":200,"wires":[["ce0840d30b15b98e"]]},{"id":"67e236cc67873ddf","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":1355,"y":260,"wires":[]},{"id":"ce0840d30b15b98e","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":1555,"y":200,"wires":[]},{"id":"0b46cdec0d132efd","type":"switch","z":"6dda729768875793","name":"Has trailing location data","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^.*[^0-9]+.*          [A-Za-z]+  [A-Za-z]{2}$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":40,"wires":[["b72fa73ec844e1b8"],["9c6063c4c00cea84"]]},{"id":"b72fa73ec844e1b8","type":"function","z":"6dda729768875793","name":"Trim description","func":"const re = /          [A-Za-z]+  [A-Za-z]{2}$/;\nmsg.input.description = msg.input.description.replace(re, \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":40,"wires":[["57e398e867de8f34"]]},{"id":"9c6063c4c00cea84","type":"link out","z":"6dda729768875793","name":"To regex link out","mode":"link","links":["aa76fcaae666b20d"],"x":955,"y":80,"wires":[]},{"id":"8c84a0498937ca39","type":"link out","z":"0836b7eb01a9973b","name":"finish flow","mode":"link","links":["94091d49c2d51dc0"],"x":235,"y":1540,"wires":[]},{"id":"c48fb648c50d0e5d","type":"link in","z":"0836b7eb01a9973b","name":"finish success","links":["b1de0cf4e5b528a7","5d07d982a3b93d38","8aa7e79583cb7e4f","f92a7794a809e27a","b42c62cb7f6732de","7fefd9ba689a0b62","1fbb6d3738dd95f7","c6c593f35f639485","9e3b045d97741f37","b5da2910ed843f67","acbbf6e778617f76","88cfbf2f930fe02e","2c6e404565b31379","157d42740d2f42fc","c74c468080f2ae76","9e0d7a7fb7a6ed95","b8d9920deba0f895","ec38e096ef41d6f1","a9406f5950979ea4","4d5fc2c023fede19","5f81f80bbc6d785d","fd019f4cf501fc8b","f652f2bbf460b9c3","a8460817af0ca101","be36e59cf3773f39","f35f690ae06eeea9","a5d53dbebd74e3fd","3904443ba6653732","c67c70f05f2ac829","b81cfab94988f41b","16fa81faef0caf7b","35323bf43d0aa611","631c62ce48d59bd0","1cd7a0203ad52d07","9edc5b95960016b7","7b043cf18eb946ae","74e5ced60b79f245","cb13241ed127a847","f89839b203e739df"],"x":2255,"y":20,"wires":[["9ee7dc3a3c57a671"]]},{"id":"9ee7dc3a3c57a671","type":"function","z":"0836b7eb01a9973b","name":"set success","func":"msg.regex.success = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2370,"y":20,"wires":[[]]},{"id":"6eca230bdb281acf","type":"function","z":"0836b7eb01a9973b","name":"set fail","func":"msg.regex.success = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":100,"wires":[[]]},{"id":"94091d49c2d51dc0","type":"link in","z":"0836b7eb01a9973b","name":"finish fail","links":["8c84a0498937ca39"],"x":2255,"y":100,"wires":[["6eca230bdb281acf"]]},{"id":"b1de0cf4e5b528a7","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":20,"wires":[]},{"id":"7dd363d1b81db57c","type":"function","z":"0836b7eb01a9973b","name":"set output to Urban Outfitters","func":"msg.regex.output = \"Urban Outfitters\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":20,"wires":[["b1de0cf4e5b528a7"]]},{"id":"10c0d1d533325548","type":"switch","z":"0836b7eb01a9973b","name":"Is Urban Outfitters","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^URBAN OUTFITTERS\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":20,"wires":[["7dd363d1b81db57c"],["5b23769459de1a5f"]]},{"id":"5d07d982a3b93d38","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":60,"wires":[]},{"id":"dee1d4a5198dccc5","type":"function","z":"0836b7eb01a9973b","name":"set output to Simons","func":"msg.regex.output = \"Simons\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":60,"wires":[["5d07d982a3b93d38"]]},{"id":"5b23769459de1a5f","type":"switch","z":"0836b7eb01a9973b","name":"Is Simons","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SIMONS \\(WEM\\)\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":60,"wires":[["dee1d4a5198dccc5"],["74de7be52066b1f0"]]},{"id":"ceb3bab89bf91d9f","type":"function","z":"0836b7eb01a9973b","name":"set output to ABco","func":"msg.regex.output = \"ABco\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":100,"wires":[["8aa7e79583cb7e4f"]]},{"id":"74de7be52066b1f0","type":"switch","z":"0836b7eb01a9973b","name":"Is ABco","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^ABCO\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":100,"wires":[["ceb3bab89bf91d9f"],["b356962b33c53a0c"]]},{"id":"4684d7277f3b7a58","type":"function","z":"0836b7eb01a9973b","name":"set output to Misumi","func":"msg.regex.output = \"Misumi\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["f92a7794a809e27a"]]},{"id":"b356962b33c53a0c","type":"switch","z":"0836b7eb01a9973b","name":"Is Misumi","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^MISUMI USA\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":140,"wires":[["4684d7277f3b7a58"],["b25a856bed92c1fc"]]},{"id":"8aa7e79583cb7e4f","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":100,"wires":[]},{"id":"f92a7794a809e27a","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":140,"wires":[]},{"id":"c20254ac7cc54cf1","type":"function","z":"0836b7eb01a9973b","name":"set output to The Sherlock Holmes Pub","func":"msg.regex.output = \"The Sherlock Holmes Pub\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["b42c62cb7f6732de"]]},{"id":"b25a856bed92c1fc","type":"switch","z":"0836b7eb01a9973b","name":"Is The Sherlock Holmes Pub","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^THE SHERLOCK HOLMES PUB\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":200,"y":180,"wires":[["c20254ac7cc54cf1"],["3aa7cd70f34d542f"]]},{"id":"b42c62cb7f6732de","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":180,"wires":[]},{"id":"25e0874a9a2f838c","type":"function","z":"0836b7eb01a9973b","name":"set output to Chick N Flames","func":"msg.regex.output = \"Chick N Flames\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["7fefd9ba689a0b62"]]},{"id":"3aa7cd70f34d542f","type":"switch","z":"0836b7eb01a9973b","name":"Is Chick N Flames","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CHICK N FLAMES\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":220,"wires":[["25e0874a9a2f838c"],["788e3428c497cceb"]]},{"id":"7fefd9ba689a0b62","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":220,"wires":[]},{"id":"55ac10796de1fd7c","type":"function","z":"0836b7eb01a9973b","name":"set output to Dorinku","func":"msg.regex.output = \"Dorinku\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["1fbb6d3738dd95f7"]]},{"id":"788e3428c497cceb","type":"switch","z":"0836b7eb01a9973b","name":"Is Dorinku","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^DORINKU\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":260,"wires":[["55ac10796de1fd7c"],["11846ac7476bbc52"]]},{"id":"1fbb6d3738dd95f7","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":260,"wires":[]},{"id":"966c5eb0523d5091","type":"function","z":"0836b7eb01a9973b","name":"set output to Hanjan South","func":"msg.regex.output = \"Hanjan South\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["c6c593f35f639485"]]},{"id":"11846ac7476bbc52","type":"switch","z":"0836b7eb01a9973b","name":"Is Hanjan South","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SQ \\*HANJAN SOUTH\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":300,"wires":[["966c5eb0523d5091"],["4eac48500e562bba"]]},{"id":"c6c593f35f639485","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":300,"wires":[]},{"id":"48a33b3c4b0c81ea","type":"function","z":"0836b7eb01a9973b","name":"set output to Landmark Cinemas","func":"msg.regex.output = \"Landmark Cinemas\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["9e3b045d97741f37"]]},{"id":"4eac48500e562bba","type":"switch","z":"0836b7eb01a9973b","name":"Is Landmark Cinemas","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^LANDMARK 8 CITY CENTRE\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":340,"wires":[["48a33b3c4b0c81ea"],["521fdfe6970a0532"]]},{"id":"9e3b045d97741f37","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":340,"wires":[]},{"id":"ff39bb70ae02cb66","type":"function","z":"0836b7eb01a9973b","name":"set output to London Drugs","func":"msg.regex.output = \"London Drugs\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[["b5da2910ed843f67"]]},{"id":"521fdfe6970a0532","type":"switch","z":"0836b7eb01a9973b","name":"Is London Drugs","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^LONDON DRUGS 26\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":380,"wires":[["ff39bb70ae02cb66"],["1f9fe6863bf01e99"]]},{"id":"b5da2910ed843f67","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":380,"wires":[]},{"id":"619bf9fc347c2634","type":"function","z":"0836b7eb01a9973b","name":"set output to Signatures Shows","func":"msg.regex.output = \"Signatures Shows\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["cf5529b8d0e0aed5"]]},{"id":"1f9fe6863bf01e99","type":"switch","z":"0836b7eb01a9973b","name":"Is Signatures Shows","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SIGNATURES SHOWS LTD\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":420,"wires":[["619bf9fc347c2634"],["c32314693bfd5877"]]},{"id":"acbbf6e778617f76","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":420,"wires":[]},{"id":"cf5529b8d0e0aed5","type":"link call","z":"0836b7eb01a9973b","name":"","links":["ede35fac395ef381"],"linkType":"static","timeout":"30","x":900,"y":420,"wires":[["acbbf6e778617f76"]]},{"id":"341b999dfc6e8381","type":"function","z":"0836b7eb01a9973b","name":"set output to Unknown Paypal Transaction","func":"msg.regex.output = \"Unknown Paypal Transaction\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["88cfbf2f930fe02e"]]},{"id":"c32314693bfd5877","type":"switch","z":"0836b7eb01a9973b","name":"Is Unknown Paypal Transaction","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"PAYPAL","vt":"str"},{"t":"eq","v":"*LIXINXI","vt":"str"},{"t":"eq","v":"*ZHUIJIE","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":210,"y":480,"wires":[["341b999dfc6e8381"],["341b999dfc6e8381"],["341b999dfc6e8381"],["e00b77bf2e9e29c2"]]},{"id":"88cfbf2f930fe02e","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":480,"wires":[]},{"id":"88bcabe491d10572","type":"function","z":"0836b7eb01a9973b","name":"set output to Pleasantview Townhomes","func":"msg.regex.output = \"Pleasantview Townhomes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":540,"wires":[["ca00de4dd562aa46"]]},{"id":"e00b77bf2e9e29c2","type":"switch","z":"0836b7eb01a9973b","name":"Is Pleasantview Townhomes","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"PLEASANTVIEW TO","vt":"str"},{"t":"regex","v":"^0+ RENTTRK MIDWEST$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":200,"y":540,"wires":[["88bcabe491d10572"],["88bcabe491d10572"],["3ecf75ef61261874"]]},{"id":"2c6e404565b31379","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":540,"wires":[]},{"id":"ca00de4dd562aa46","type":"link call","z":"0836b7eb01a9973b","name":"","links":["f632e9b33fdbecde"],"linkType":"static","timeout":"30","x":880,"y":540,"wires":[["2c6e404565b31379"]]},{"id":"205648e2100cf766","type":"function","z":"0836b7eb01a9973b","name":"set output to Tim Hortons","func":"msg.regex.output = \"Tim Hortons\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":600,"wires":[["157d42740d2f42fc"]]},{"id":"3ecf75ef61261874","type":"switch","z":"0836b7eb01a9973b","name":"Is Tim Hortons","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^TIM HORTONS #[0-9]+","vt":"str","case":false},{"t":"eq","v":"U OF A CAB TIMS","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":600,"wires":[["205648e2100cf766"],["205648e2100cf766"],["24cc66f11337448c"]]},{"id":"157d42740d2f42fc","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":600,"wires":[]},{"id":"8f695c90051f6267","type":"function","z":"0836b7eb01a9973b","name":"set output to Subway","func":"msg.regex.output = \"Subway\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":660,"wires":[["c74c468080f2ae76"]]},{"id":"24cc66f11337448c","type":"switch","z":"0836b7eb01a9973b","name":"Is Subway","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SUBWAY\\s+#\\s*[0-9]+","vt":"str","case":false},{"t":"regex","v":"[A-Z0-9]+ Subway","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":660,"wires":[["8f695c90051f6267"],["8f695c90051f6267"],["1749b15c553bcc49"]]},{"id":"c74c468080f2ae76","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":660,"wires":[]},{"id":"d6f6e540bfe7aca7","type":"function","z":"0836b7eb01a9973b","name":"set output to Petland","func":"msg.regex.output = \"Petland\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":700,"wires":[["9e0d7a7fb7a6ed95"]]},{"id":"1749b15c553bcc49","type":"switch","z":"0836b7eb01a9973b","name":"Is Petland","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"PETLAND-SOUTHPA","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":700,"wires":[["d6f6e540bfe7aca7"],["4842c616cad1dc2c"]]},{"id":"9e0d7a7fb7a6ed95","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":700,"wires":[]},{"id":"8b4bfa18b761b83d","type":"function","z":"0836b7eb01a9973b","name":"set output to Cineplex","func":"msg.regex.output = \"Cineplex\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["7c2815aedc976cde"]]},{"id":"4842c616cad1dc2c","type":"switch","z":"0836b7eb01a9973b","name":"Is Cineplex","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^CINEPLEX #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":740,"wires":[["8b4bfa18b761b83d"],["9bdcfc6849fded17"]]},{"id":"b8d9920deba0f895","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":740,"wires":[]},{"id":"7c2815aedc976cde","type":"link call","z":"0836b7eb01a9973b","name":"","links":["ef7db36c91a02a57"],"linkType":"static","timeout":"30","x":880,"y":740,"wires":[["b8d9920deba0f895"]]},{"id":"2ac667527df9d1d7","type":"link call","z":"0836b7eb01a9973b","name":"","links":["ef7db36c91a02a57"],"linkType":"static","timeout":"30","x":880,"y":780,"wires":[["ec38e096ef41d6f1"]]},{"id":"02a97d5dce66eb8f","type":"function","z":"0836b7eb01a9973b","name":"set output to Ottewell Animal Clinic","func":"msg.regex.output = \"Ottewell Animal Clinic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":780,"wires":[["2ac667527df9d1d7"]]},{"id":"9bdcfc6849fded17","type":"switch","z":"0836b7eb01a9973b","name":"Is Ottewell Animal Clinic","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"OTTEWELL ANIMAL","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":780,"wires":[["02a97d5dce66eb8f"],["1f5282bd65aa514f"]]},{"id":"ec38e096ef41d6f1","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":780,"wires":[]},{"id":"4c9d41f817a77f3a","type":"function","z":"0836b7eb01a9973b","name":"set output to Andrew Glazebrook","func":"msg.regex.output = \"Andrew Glazebrook\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":820,"wires":[["12da034eb37d452e"]]},{"id":"1f5282bd65aa514f","type":"switch","z":"0836b7eb01a9973b","name":"Is Andrew Glazebrook","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^SQ \\*ANDREW GLAZEBROOK FIN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":820,"wires":[["4c9d41f817a77f3a"],["fb17eb389aed805d"]]},{"id":"a9406f5950979ea4","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":820,"wires":[]},{"id":"12da034eb37d452e","type":"link call","z":"0836b7eb01a9973b","name":"","links":["ede35fac395ef381"],"linkType":"static","timeout":"30","x":900,"y":820,"wires":[["a9406f5950979ea4"]]},{"id":"207a63745151e1d0","type":"function","z":"0836b7eb01a9973b","name":"set output to Rexall","func":"msg.regex.output = \"Rexall\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":860,"wires":[["4d5fc2c023fede19"]]},{"id":"fb17eb389aed805d","type":"switch","z":"0836b7eb01a9973b","name":"Is Rexall","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^REXALL PHARMACY #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":860,"wires":[["207a63745151e1d0"],["973e999e772ad720"]]},{"id":"4d5fc2c023fede19","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":860,"wires":[]},{"id":"df2bea98e33615b6","type":"function","z":"0836b7eb01a9973b","name":"set output to Nurgo Software","func":"msg.regex.output = \"Nurgo Software\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":900,"wires":[["5f81f80bbc6d785d"]]},{"id":"973e999e772ad720","type":"switch","z":"0836b7eb01a9973b","name":"Is Nurgo Software","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^FS \\*Nurgo-Software","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":900,"wires":[["df2bea98e33615b6"],["cc443dddbc91767c"]]},{"id":"5f81f80bbc6d785d","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":900,"wires":[]},{"id":"0b1ef0e1697f5be3","type":"function","z":"0836b7eb01a9973b","name":"set output to Meta","func":"msg.regex.output = \"Meta\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":940,"wires":[["fd019f4cf501fc8b"]]},{"id":"cc443dddbc91767c","type":"switch","z":"0836b7eb01a9973b","name":"Is Meta","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^OCULUS \\*YA7WK8KFH2\\s+oculus\\.com","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":940,"wires":[["0b1ef0e1697f5be3"],["b1bcc5737e3af02d"]]},{"id":"fd019f4cf501fc8b","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":940,"wires":[]},{"id":"4334ff3e1ab1a86d","type":"function","z":"0836b7eb01a9973b","name":"set output to Boston Pizza","func":"msg.regex.output = \"Boston Pizza\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":980,"wires":[["f652f2bbf460b9c3"]]},{"id":"b1bcc5737e3af02d","type":"switch","z":"0836b7eb01a9973b","name":"Is Boston Pizza","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^BOSTON PIZZA #\\s?[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":980,"wires":[["4334ff3e1ab1a86d"],["41cf33295f56487b"]]},{"id":"f652f2bbf460b9c3","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":980,"wires":[]},{"id":"64c9ff9d02cefa9b","type":"function","z":"0836b7eb01a9973b","name":"set output to Rent","func":"msg.regex.output = \"Rent\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1020,"wires":[["a8460817af0ca101"]]},{"id":"41cf33295f56487b","type":"switch","z":"0836b7eb01a9973b","name":"Is Rent (?)","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"000000000000000 RENT","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1020,"wires":[["64c9ff9d02cefa9b"],["97a54b2dcef5c868"]]},{"id":"a8460817af0ca101","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1020,"wires":[]},{"id":"f7122e5bce02ba20","type":"function","z":"0836b7eb01a9973b","name":"set output to SUB Photo","func":"msg.regex.output = \"SUB Photo\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1060,"wires":[["f35f690ae06eeea9"]]},{"id":"97a54b2dcef5c868","type":"switch","z":"0836b7eb01a9973b","name":"Is SUB Photo","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"SQ *SUB PHOTO","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1060,"wires":[["f7122e5bce02ba20"],["4e07bad3d73b58c2"]]},{"id":"f35f690ae06eeea9","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1060,"wires":[]},{"id":"3157f1a467eec2d1","type":"function","z":"0836b7eb01a9973b","name":"set output to Shoppers Drug Mart","func":"msg.regex.output = \"Shoppers Drug Mart\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1100,"wires":[["3904443ba6653732"]]},{"id":"4e07bad3d73b58c2","type":"switch","z":"0836b7eb01a9973b","name":"Is Shoppers Drug Mart","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"SHOPPERS DRUG M","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1100,"wires":[["3157f1a467eec2d1"],["7107c7207f15ac33"]]},{"id":"3904443ba6653732","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1100,"wires":[]},{"id":"d6260be5fd574498","type":"function","z":"0836b7eb01a9973b","name":"set output to RW&CO.","func":"msg.regex.output = \"RW&CO.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1140,"wires":[["c67c70f05f2ac829"]]},{"id":"7107c7207f15ac33","type":"switch","z":"0836b7eb01a9973b","name":"Is RW&CO.","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^RW CO #[0-9]+$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1140,"wires":[["d6260be5fd574498"],["8cf1f21c2255ce97"]]},{"id":"c67c70f05f2ac829","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1140,"wires":[]},{"id":"e5a2c106ed0645ec","type":"function","z":"0836b7eb01a9973b","name":"set output to Banana Republic","func":"msg.regex.output = \"Banana Republic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1180,"wires":[["b81cfab94988f41b"]]},{"id":"8cf1f21c2255ce97","type":"switch","z":"0836b7eb01a9973b","name":"Is Banana Republic","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"^BR FACTORY CA [0-9]$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1180,"wires":[["e5a2c106ed0645ec"],["5022f56ef90bb1ae"]]},{"id":"b81cfab94988f41b","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1180,"wires":[]},{"id":"a5c2c83546223d38","type":"function","z":"0836b7eb01a9973b","name":"set output to Co-op","func":"msg.regex.output = \"Co-op\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1220,"wires":[["abfa5ca5df4f507f"]]},{"id":"5022f56ef90bb1ae","type":"switch","z":"0836b7eb01a9973b","name":"Is Co-op","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"LEDUC CO-OP GAS","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1220,"wires":[["a5c2c83546223d38"],["82be2fde914e7477"]]},{"id":"16fa81faef0caf7b","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":1075,"y":1220,"wires":[]},{"id":"abfa5ca5df4f507f","type":"link call","z":"0836b7eb01a9973b","name":"","links":["8db009df8a074229"],"linkType":"static","timeout":"30","x":880,"y":1220,"wires":[["16fa81faef0caf7b"]]},{"id":"22b873247a49dfee","type":"function","z":"0836b7eb01a9973b","name":"set output to Booster Juice","func":"msg.regex.output = \"Booster Juice\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1260,"wires":[["631c62ce48d59bd0"]]},{"id":"82be2fde914e7477","type":"switch","z":"0836b7eb01a9973b","name":"Is Booster Juice","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"BOOSTER JUICE #","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1260,"wires":[["22b873247a49dfee"],["eb515673cbd6e6f2"]]},{"id":"631c62ce48d59bd0","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1260,"wires":[]},{"id":"724c097b26c114ef","type":"function","z":"0836b7eb01a9973b","name":"set output to miHoYo","func":"msg.regex.output = \"miHoYo\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1300,"wires":[["1cd7a0203ad52d07"]]},{"id":"eb515673cbd6e6f2","type":"switch","z":"0836b7eb01a9973b","name":"Is miHoYo","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"*MIHOYOL","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1300,"wires":[["724c097b26c114ef"],["35e25b4ea423a023"]]},{"id":"1cd7a0203ad52d07","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1300,"wires":[]},{"id":"ca6a00fb506ee714","type":"function","z":"0836b7eb01a9973b","name":"set output to Edmonton Guitar Music School","func":"msg.regex.output = \"Edmonton Guitar Music School\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1340,"wires":[["9edc5b95960016b7"]]},{"id":"35e25b4ea423a023","type":"switch","z":"0836b7eb01a9973b","name":"Is Edmonton Guitar Music School","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"EDMONTON GUITAR","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":1340,"wires":[["ca6a00fb506ee714"],["73db6c18966c2fb7"]]},{"id":"9edc5b95960016b7","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1340,"wires":[]},{"id":"053d316f6ce51068","type":"function","z":"0836b7eb01a9973b","name":"set output to Yeh! Frozen Yogurt & Caf","func":"msg.regex.output = \"Yeh! Frozen Yogurt & Caf\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1380,"wires":[["7b043cf18eb946ae"]]},{"id":"73db6c18966c2fb7","type":"switch","z":"0836b7eb01a9973b","name":"Is Yeh! Frozen Yogurt & Caf","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"YEH FROZEN YOG","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":200,"y":1380,"wires":[["053d316f6ce51068"],["ea2c0d0d15846fed"]]},{"id":"7b043cf18eb946ae","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1380,"wires":[]},{"id":"f66ca1daf303a3ee","type":"function","z":"0836b7eb01a9973b","name":"set output to Leduc Eye Centre","func":"msg.regex.output = \"Leduc Eye Centre\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1420,"wires":[["74e5ced60b79f245"]]},{"id":"ea2c0d0d15846fed","type":"switch","z":"0836b7eb01a9973b","name":"Is Leduc Eye Centre","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"LEDUC EYE CENTR","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1420,"wires":[["f66ca1daf303a3ee"],["1bee799245bd2271"]]},{"id":"74e5ced60b79f245","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1420,"wires":[]},{"id":"d60ec475c61f03b2","type":"function","z":"0836b7eb01a9973b","name":"set output to Electronic Arts","func":"msg.regex.output = \"Electronic Arts\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1460,"wires":[["cb13241ed127a847"]]},{"id":"1bee799245bd2271","type":"switch","z":"0836b7eb01a9973b","name":"Is Electronic Arts","property":"regex.input","propertyType":"msg","rules":[{"t":"eq","v":"*EA INC","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1460,"wires":[["d60ec475c61f03b2"],["79109f21a0964ff2"]]},{"id":"cb13241ed127a847","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1460,"wires":[]},{"id":"ab206d2a2a66fd25","type":"function","z":"0836b7eb01a9973b","name":"set output to Staples","func":"msg.regex.output = \"Staples\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1500,"wires":[["f89839b203e739df"]]},{"id":"79109f21a0964ff2","type":"switch","z":"0836b7eb01a9973b","name":"Is Staples","property":"regex.input","propertyType":"msg","rules":[{"t":"regex","v":"STAPLES #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":1500,"wires":[["ab206d2a2a66fd25"],["8c84a0498937ca39"]]},{"id":"f89839b203e739df","type":"link out","z":"0836b7eb01a9973b","name":"finish","mode":"link","links":["c48fb648c50d0e5d"],"x":815,"y":1500,"wires":[]},{"id":"89f60b01305b7ddd","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":980,"y":60,"wires":[]},{"id":"bf288044959c6028","type":"function","z":"ba3387d8c4ba1124","name":"Prepare output","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"source_id\",\n    \"destination_name\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":60,"wires":[["89f60b01305b7ddd"]]},{"id":"386173e34ec177ab","type":"http in","z":"ba3387d8c4ba1124","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["bd687d1e7a04b502"]]},{"id":"bd687d1e7a04b502","type":"function","z":"ba3387d8c4ba1124","name":"Prepare input","func":"const payloadStr = JSON.stringify(msg.payload);\nmsg.input = JSON.parse(payloadStr);\nmsg.output = JSON.parse(payloadStr);\nmsg.regex = { \n    attributes: {},\n    add_tags: []\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["bba012127a4ef619"]]},{"id":"57f1995e41691864","type":"catch","z":"ba3387d8c4ba1124","name":"","scope":null,"uncaught":false,"x":240,"y":140,"wires":[["3017eab9f752b0a6"]]},{"id":"363078b35b8681c2","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":640,"y":140,"wires":[]},{"id":"3017eab9f752b0a6","type":"function","z":"ba3387d8c4ba1124","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["363078b35b8681c2"]]},{"id":"bba012127a4ef619","type":"subflow:6dda729768875793","z":"ba3387d8c4ba1124","name":"","x":600,"y":60,"wires":[["bf288044959c6028"]]},{"id":"5abb3f6783cb90c3","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Phone","links":[],"x":55,"y":40,"wires":[["9a04d2f898a0924f"]]},{"id":"8425c56c6c7f76e3","type":"link out","z":"46ee80b8a4f502b5","name":"link out 1","mode":"return","links":[],"x":515,"y":40,"wires":[]},{"id":"9a04d2f898a0924f","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Phone","func":"msg.regex.attributes.bill_name = \"Phone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":40,"wires":[["8425c56c6c7f76e3"]]},{"id":"8ec02c32397fe34a","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Groceries","links":[],"x":55,"y":80,"wires":[["28d22ab8f5e45370"]]},{"id":"1bf184bf3bd198c4","type":"link out","z":"46ee80b8a4f502b5","name":"link out 2","mode":"return","links":[],"x":515,"y":80,"wires":[]},{"id":"28d22ab8f5e45370","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Groceries","func":"msg.regex.attributes.bill_name = \"Groceries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":80,"wires":[["1bf184bf3bd198c4"]]},{"id":"8db009df8a074229","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Fuel","links":[],"x":55,"y":120,"wires":[["e610f505b7d248b8"]]},{"id":"4c36bb53e07cfecf","type":"link out","z":"46ee80b8a4f502b5","name":"link out 3","mode":"return","links":[],"x":515,"y":120,"wires":[]},{"id":"e610f505b7d248b8","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Fuel","func":"msg.regex.attributes.bill_name = \"Fuel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":120,"wires":[["4c36bb53e07cfecf"]]},{"id":"42ba2541ccc37ead","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Internet","links":[],"x":55,"y":160,"wires":[["f929e97fe3fa8b15"]]},{"id":"85edc7cd09bf638f","type":"link out","z":"46ee80b8a4f502b5","name":"link out 4","mode":"return","links":[],"x":515,"y":160,"wires":[]},{"id":"f929e97fe3fa8b15","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Internet","func":"msg.regex.attributes.bill_name = \"Internet\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":160,"wires":[["85edc7cd09bf638f"]]},{"id":"c9f9ea3cbabbef59","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Vehicle Insurance and Registration","links":[],"x":55,"y":200,"wires":[["e74ab2c3c13ac0ba"]]},{"id":"e23fe71ed96ffbf6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 5","mode":"return","links":[],"x":515,"y":200,"wires":[]},{"id":"e74ab2c3c13ac0ba","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Vehicle Insurance and Registration","func":"msg.regex.attributes.bill_name = \"Vehicle Insurance and Registration\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["e23fe71ed96ffbf6"]]},{"id":"5bec47667a086540","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Subscription Services","links":[],"x":55,"y":240,"wires":[["35a594b6471c96fa"]]},{"id":"490a3fa4fddd4bd6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 6","mode":"return","links":[],"x":515,"y":240,"wires":[]},{"id":"35a594b6471c96fa","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Subscription Services","func":"msg.regex.attributes.bill_name = \"Subscription Services\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":240,"wires":[["490a3fa4fddd4bd6"]]},{"id":"1680ed4a2ebcf362","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Utilities","links":[],"x":55,"y":280,"wires":[["aa1ead2b89aaf4df"]]},{"id":"64be5c57599a2f33","type":"link out","z":"46ee80b8a4f502b5","name":"link out 7","mode":"return","links":[],"x":515,"y":280,"wires":[]},{"id":"aa1ead2b89aaf4df","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Utilities","func":"msg.regex.attributes.bill_name = \"Utilities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":280,"wires":[["64be5c57599a2f33"]]},{"id":"f632e9b33fdbecde","type":"link in","z":"46ee80b8a4f502b5","name":"set bill to Rent","links":[],"x":55,"y":320,"wires":[["0fac266418bf81fc"]]},{"id":"e6ba0a8bd0867667","type":"link out","z":"46ee80b8a4f502b5","name":"link out 8","mode":"return","links":[],"x":515,"y":320,"wires":[]},{"id":"0fac266418bf81fc","type":"function","z":"46ee80b8a4f502b5","name":"set bill to Rent","func":"msg.regex.attributes.bill_name = \"Rent\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":320,"wires":[["e6ba0a8bd0867667"]]},{"id":"ede35fac395ef381","type":"link in","z":"46ee80b8a4f502b5","name":"add tag Trade Shows","links":[],"x":55,"y":360,"wires":[["5b4a41533bb7a4e6"]]},{"id":"5b4a41533bb7a4e6","type":"function","z":"46ee80b8a4f502b5","name":"add tag Trade Shows","func":"msg.regex.add_tags.push(\"Trade Shows\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":360,"wires":[["60e76fb1ecdd96f6"]]},{"id":"60e76fb1ecdd96f6","type":"link out","z":"46ee80b8a4f502b5","name":"link out 9","mode":"return","links":[],"x":515,"y":360,"wires":[]},{"id":"ef7db36c91a02a57","type":"link in","z":"46ee80b8a4f502b5","name":"add tag Oscar","links":[],"x":55,"y":400,"wires":[["75ed8571b3713300"]]},{"id":"75ed8571b3713300","type":"function","z":"46ee80b8a4f502b5","name":"add tag Oscar","func":"msg.regex.add_tags.push(\"Oscar\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":400,"wires":[["e6230d7c3cd05737"]]},{"id":"e6230d7c3cd05737","type":"link out","z":"46ee80b8a4f502b5","name":"link out 10","mode":"return","links":[],"x":515,"y":400,"wires":[]},{"id":"80e2e4bcc774b82f","type":"file in","z":"a69df1cc3d44ad70","name":"flows.json","filename":"/data/flows.json","filenameType":"str","format":"utf8","allProps":false,"x":240,"y":60,"wires":[["39846d681fc60b3b"]]},{"id":"1888823084e0a98d","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["27a255db48fad62d"]]},{"id":"f16db8939f2c9378","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["1888823084e0a98d"]]},{"id":"a5f77e77cd5be2bc","type":"file in","z":"a69df1cc3d44ad70","name":"flows_cred.json","filename":"/data/flows_cred.json","filenameType":"str","format":"utf8","allProps":false,"x":260,"y":140,"wires":[["e8a688bebd02d0b1"]]},{"id":"0ddfd7e8667fc727","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["f8bc9d7cba181393"]]},{"id":"39846d681fc60b3b","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["f16db8939f2c9378"]]},{"id":"e8a688bebd02d0b1","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["0ddfd7e8667fc727"]]},{"id":"f8bc9d7cba181393","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":140,"wires":[["27a255db48fad62d"]]},{"id":"cf7b876a90575c50","type":"http in","z":"a69df1cc3d44ad70","name":"Input","url":"/export-flows","method":"post","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["80e2e4bcc774b82f","a5f77e77cd5be2bc"]]},{"id":"6c23814ef803fe63","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1460,"y":60,"wires":[]},{"id":"05d521556dfcaab1","type":"catch","z":"a69df1cc3d44ad70","name":"","scope":null,"uncaught":false,"x":1060,"y":220,"wires":[["dfd73780bd322b26"]]},{"id":"63b61351e18b439a","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":1460,"y":220,"wires":[]},{"id":"dfd73780bd322b26","type":"function","z":"a69df1cc3d44ad70","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["63b61351e18b439a"]]},{"id":"27a255db48fad62d","type":"join","z":"a69df1cc3d44ad70","name":"","mode":"custom","build":"array","property":"filename","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":60,"wires":[["a740d78c4157ed40"]]},{"id":"a740d78c4157ed40","type":"function","z":"a69df1cc3d44ad70","name":"Prepare response payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["6c23814ef803fe63"]]}]