flows.json
[{"id":"522b1c1dc61e2510","type":"tab","label":"Set destination","disabled":false,"info":""},{"id":"44a5ad7fafa10d57","type":"tab","label":"Scotiabank Visa Destination","disabled":false,"info":"","env":[]},{"id":"ba3387d8c4ba1124","type":"tab","label":"Http Formatting","disabled":false,"info":"","env":[]},{"id":"a69df1cc3d44ad70","type":"tab","label":"Export flows","disabled":false,"info":"","env":[]},{"id":"4c28ed616f8ae19f","type":"switch","z":"522b1c1dc61e2510","name":"Destination is empty","property":"input.destination_name","propertyType":"msg","rules":[{"t":"eq","v":"(no name)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":220,"wires":[["399111e460498a24"],["930628fa95936733"]]},{"id":"930628fa95936733","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":725,"y":220,"wires":[]},{"id":"d18b76ad13425af8","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1885,"y":540,"wires":[]},{"id":"8d4cdaa5dee619ed","type":"switch","z":"522b1c1dc61e2510","name":"Is Visa debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":540,"wires":[["6c9553cc241dd25d"],["f9c51a76712d7526"]]},{"id":"18536230c58576b0","type":"switch","z":"522b1c1dc61e2510","name":"Is Amazon","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Amazon.ca","vt":"str","case":false},{"t":"regex","v":"^AMZN Mktp CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1270,"y":1040,"wires":[["a26e1eafb799f3c1"],["a26e1eafb799f3c1"],["c1e65ed087f0a42a"]]},{"id":"2f5aebd5d4d11d05","type":"link in","z":"522b1c1dc61e2510","name":"Set destination","links":["ab4a81510304fe7b"],"x":245,"y":220,"wires":[["4c28ed616f8ae19f"]]},{"id":"6c9553cc241dd25d","type":"function","z":"522b1c1dc61e2510","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":540,"wires":[["1ecef99ac3a5db47"]]},{"id":"a26e1eafb799f3c1","type":"function","z":"522b1c1dc61e2510","name":"set dest to Amazon","func":"msg.output.destination_name = \"Amazon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1040,"wires":[["d18b76ad13425af8"]]},{"id":"e3eea09011f32aaa","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":695,"y":1900,"wires":[]},{"id":"458b95026e77b150","type":"switch","z":"522b1c1dc61e2510","name":"Is Interac Retail purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":1540,"wires":[["651d5f8c7077cb83"],["21b1d68dcae545b2"]]},{"id":"1ecef99ac3a5db47","type":"switch","z":"522b1c1dc61e2510","name":"Is Paypal","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PAYPAL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":920,"y":540,"wires":[["98876b51c02bd801"],["18536230c58576b0"]]},{"id":"6bf31897d4a93724","type":"switch","z":"522b1c1dc61e2510","name":"Is Etsy","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*ETSY.CO","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1310,"y":540,"wires":[["af1435ef7038b708"],["4c7823c53fc470fb"]]},{"id":"98876b51c02bd801","type":"function","z":"522b1c1dc61e2510","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"PAYPAL \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":540,"wires":[["6bf31897d4a93724"]]},{"id":"4b029e68e2f05438","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1435,"y":920,"wires":[]},{"id":"af1435ef7038b708","type":"function","z":"522b1c1dc61e2510","name":"set dest to Etsy","func":"msg.output.destination_name = \"Etsy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":520,"wires":[["d18b76ad13425af8"]]},{"id":"c1e65ed087f0a42a","type":"switch","z":"522b1c1dc61e2510","name":"Is Microsoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Microsoft\\*Store","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1270,"y":1120,"wires":[["b6afeb678d618398"],["f82251ceae0326d7"]]},{"id":"b6afeb678d618398","type":"function","z":"522b1c1dc61e2510","name":"set dest to Microsoft","func":"msg.output.destination_name = \"Microsoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1120,"wires":[["d18b76ad13425af8"]]},{"id":"651d5f8c7077cb83","type":"function","z":"522b1c1dc61e2510","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Interac RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1540,"wires":[["656f52b8f40b99fb"]]},{"id":"656f52b8f40b99fb","type":"switch","z":"522b1c1dc61e2510","name":"Is Canadian Tire","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ CANADIAN TIRE #$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1240,"y":1540,"wires":[["fdf2bdca0b598874"],["f0b27c944afbbd0d"]]},{"id":"f0b27c944afbbd0d","type":"switch","z":"522b1c1dc61e2510","name":"Is HomeSense","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ HOMESENSE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1240,"y":1600,"wires":[["68f105317db7ab5d"],["e2fdaadbce5cca69"]]},{"id":"fdf2bdca0b598874","type":"function","z":"522b1c1dc61e2510","name":"set dest to Canadian Tire","func":"msg.output.destination_name = \"Canadian Tire\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1520,"wires":[["d18b76ad13425af8"]]},{"id":"68f105317db7ab5d","type":"function","z":"522b1c1dc61e2510","name":"set dest to HomeSense","func":"msg.output.destination_name = \"HomeSense\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1600,"wires":[["d18b76ad13425af8"]]},{"id":"0a6532dd908a15a0","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1355,"y":1800,"wires":[]},{"id":"951e453ac1f173ee","type":"switch","z":"522b1c1dc61e2510","name":"Is Fatburger","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ FATBURGER SEC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1230,"y":1740,"wires":[["f3e7d3e2d91d895e"],["0a6532dd908a15a0"]]},{"id":"f3e7d3e2d91d895e","type":"function","z":"522b1c1dc61e2510","name":"set dest to Fatburger","func":"msg.output.destination_name = \"Fatburger\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1740,"wires":[["d18b76ad13425af8"]]},{"id":"682b4cbc75187cec","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1395,"y":1260,"wires":[]},{"id":"f82251ceae0326d7","type":"switch","z":"522b1c1dc61e2510","name":"Is SkipTheDishes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":1200,"wires":[["ab200f8fe77e1afd"],["682b4cbc75187cec"]]},{"id":"ab200f8fe77e1afd","type":"function","z":"522b1c1dc61e2510","name":"set dest to SkipTheDishes","func":"msg.output.destination_name = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1200,"wires":[["d18b76ad13425af8"]]},{"id":"21b1d68dcae545b2","type":"switch","z":"522b1c1dc61e2510","name":"Is Preauthorized debit transfer","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer PREAUTHORIZED DEBIT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":520,"y":1840,"wires":[["7c5892820a325d16"],["e3eea09011f32aaa"]]},{"id":"7c5892820a325d16","type":"function","z":"522b1c1dc61e2510","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Electronic Funds Transfer PREAUTHORIZED DEBIT \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1840,"wires":[["12b45463fe92b60a"]]},{"id":"12b45463fe92b60a","type":"switch","z":"522b1c1dc61e2510","name":"Is Virgin","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^VIRGIN PLUS","vt":"str","case":false},{"t":"regex","v":"^VIRGIN MOBILE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1210,"y":1840,"wires":[["d2b69886318669a9"],["d2b69886318669a9"],["e898fd48ed5b66eb"]]},{"id":"e898fd48ed5b66eb","type":"link out","z":"522b1c1dc61e2510","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1345,"y":1920,"wires":[]},{"id":"d2b69886318669a9","type":"function","z":"522b1c1dc61e2510","name":"set dest to Virgin Mobile","func":"msg.output.destination_name = \"Virgin Mobile\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":1840,"wires":[["6b93222433237b2d"]]},{"id":"6b93222433237b2d","type":"function","z":"522b1c1dc61e2510","name":"set bill to Phone","func":"msg.output.bill_name = \"Phone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":1840,"wires":[["d18b76ad13425af8"]]},{"id":"f9c51a76712d7526","type":"switch","z":"522b1c1dc61e2510","name":"Is Visa international debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":620,"wires":[["d97001a130805b58"],["458b95026e77b150"]]},{"id":"d97001a130805b58","type":"function","z":"522b1c1dc61e2510","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["1ecef99ac3a5db47"]]},{"id":"4c7823c53fc470fb","type":"switch","z":"522b1c1dc61e2510","name":"Is Ebay","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EBAY CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1300,"y":600,"wires":[["edd9747affe837ce"],["0667c46ccbdf8d57"]]},{"id":"edd9747affe837ce","type":"function","z":"522b1c1dc61e2510","name":"set dest to Ebay","func":"msg.output.destination_name = \"Ebay\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":600,"wires":[["d18b76ad13425af8"]]},{"id":"3fb0b0b13f7a6cc2","type":"switch","z":"522b1c1dc61e2510","name":"Is Epic Games","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EPICINT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1300,"y":880,"wires":[["8fb06a815fc151d7"],["4b029e68e2f05438"]]},{"id":"8fb06a815fc151d7","type":"function","z":"522b1c1dc61e2510","name":"set dest to Epic Games","func":"msg.output.destination_name = \"Epic Games\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":860,"wires":[["d18b76ad13425af8"]]},{"id":"0667c46ccbdf8d57","type":"switch","z":"522b1c1dc61e2510","name":"Is Nexus Mods","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*NEXUSMO ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1320,"y":680,"wires":[["69fb551d514ae293"],["3fb0b0b13f7a6cc2"]]},{"id":"69fb551d514ae293","type":"function","z":"522b1c1dc61e2510","name":"set dest to Nexus Mods","func":"msg.output.destination_name = \"Nexus Mods\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":680,"wires":[["d18b76ad13425af8"]]},{"id":"e2fdaadbce5cca69","type":"switch","z":"522b1c1dc61e2510","name":"Is Dairy Queen","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ DAIRY QUEEN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1240,"y":1660,"wires":[["23e0763b63b12b11"],["951e453ac1f173ee"]]},{"id":"23e0763b63b12b11","type":"function","z":"522b1c1dc61e2510","name":"set dest to Dairy Queen","func":"msg.output.destination_name = \"Dairy Queen\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1660,"wires":[["d18b76ad13425af8"]]},{"id":"399111e460498a24","type":"switch","z":"522b1c1dc61e2510","name":"Is Scotiabank visa purchase","property":"input.source_name","propertyType":"msg","rules":[{"t":"eq","v":"Scotia Momentum VISA Infinite","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":420,"wires":[["7a05e3f197ec2d7f"],["8d4cdaa5dee619ed"]]},{"id":"7a05e3f197ec2d7f","type":"link out","z":"522b1c1dc61e2510","name":"Scotia VISA dest in","mode":"link","links":["366330109aa5a949"],"x":705,"y":420,"wires":[]},{"id":"366330109aa5a949","type":"link in","z":"44a5ad7fafa10d57","name":"Scotia VISA dest in","links":["7a05e3f197ec2d7f"],"x":115,"y":140,"wires":[["55f6202c77849ce3"]]},{"id":"55f6202c77849ce3","type":"switch","z":"44a5ad7fafa10d57","name":"Is Amazon","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Amazon.ca","vt":"str","case":false},{"t":"regex","v":"^AMZN Mktp CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":200,"wires":[["ea0a444f67cf9502"],["ea0a444f67cf9502"],["4ff4cdd82b48e2be"]]},{"id":"ea0a444f67cf9502","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Amazon","func":"msg.output.destination_name = \"Amazon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":200,"wires":[["6dcb840af708279c"]]},{"id":"4ff4cdd82b48e2be","type":"switch","z":"44a5ad7fafa10d57","name":"Is Microsoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Microsoft\\*Subscription","vt":"str","case":false},{"t":"regex","v":"^MICROSOFT\\*STORE","vt":"str","case":false},{"t":"regex","v":"^Microsoft\\*Store\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":290,"y":280,"wires":[["423388388e4f5e49"],["423388388e4f5e49"],["423388388e4f5e49"],["218f04c9b8e29d27"]]},{"id":"423388388e4f5e49","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Microsoft","func":"msg.output.destination_name = \"Microsoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["249d6eb187f304c7"]]},{"id":"218f04c9b8e29d27","type":"switch","z":"44a5ad7fafa10d57","name":"Is SkipTheDishes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":360,"wires":[["42e0da546e5defe8"],["aa05f8c819208b43"]]},{"id":"42e0da546e5defe8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to SkipTheDishes","func":"msg.output.destination_name = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":360,"wires":[["96dd4e7e04e4d9bd"]]},{"id":"aa05f8c819208b43","type":"switch","z":"44a5ad7fafa10d57","name":"Is Safeway","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SAFEWAY #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":440,"wires":[["ee78736498add2ad"],["601880a48cc44620"]]},{"id":"ee78736498add2ad","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Safeway","func":"msg.output.destination_name = \"Safeway\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":440,"wires":[["12613d9bfac7759f"]]},{"id":"12613d9bfac7759f","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Groceries","func":"msg.output.bill_name = \"Groceries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":440,"wires":[["555b91bca5852e7c"]]},{"id":"84123c365c6f7c9d","type":"switch","z":"44a5ad7fafa10d57","name":"Is Steam","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^STEAM PURCHASE","vt":"str","case":false},{"t":"regex","v":"^4259522985\\s+BELLEVUE\\s+WA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":280,"y":600,"wires":[["e611bee2f11ff0b3"],["e611bee2f11ff0b3"],["a1e1221838b3a160"]]},{"id":"e611bee2f11ff0b3","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Steam","func":"msg.output.destination_name = \"Steam\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":600,"wires":[["875b4d9ade753669"]]},{"id":"a1e1221838b3a160","type":"switch","z":"44a5ad7fafa10d57","name":"Is Hughes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^HUGHES PETROLEUM LTD","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":680,"wires":[["7cfd0fadbe929c20"],["3b49763c87957fd3"]]},{"id":"7cfd0fadbe929c20","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Hughes","func":"msg.output.destination_name = \"Hughes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":680,"wires":[["e4384cc772e19ff5"]]},{"id":"40bdc2d1f03587db","type":"switch","z":"44a5ad7fafa10d57","name":"Is Memory Express","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Memory Express, Inc\\.","vt":"str","case":false},{"t":"regex","v":"^MemoryExpress EDM S","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":250,"y":1080,"wires":[["f6a80cfb67815589"],["f6a80cfb67815589"],["d862b70d99d8e767"]]},{"id":"f6a80cfb67815589","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Memory Express","func":"msg.output.destination_name = \"Memory Express\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1080,"wires":[["5850dae7e0ca427b"]]},{"id":"d862b70d99d8e767","type":"switch","z":"44a5ad7fafa10d57","name":"Is Ubisoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^UBISOFT EMEA SAS","vt":"str","case":false},{"t":"regex","v":"^UBISOFT\\s+SAN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":220,"y":1160,"wires":[["d77a3a7fd5750781"],["d77a3a7fd5750781"],["03a0fe8fd9f2fd2a"]]},{"id":"d77a3a7fd5750781","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Ubisoft","func":"msg.output.destination_name = \"Ubisoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1160,"wires":[["f9d587f98dc5f250"]]},{"id":"601880a48cc44620","type":"switch","z":"44a5ad7fafa10d57","name":"Is Superstore","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^REAL CDN SUPERSTORE #1","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":520,"wires":[["5a2854aad8a0460d"],["84123c365c6f7c9d"]]},{"id":"5a2854aad8a0460d","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Superstore","func":"msg.output.destination_name = \"Real Canadian Superstore\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["12613d9bfac7759f"]]},{"id":"e4384cc772e19ff5","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Fuel","func":"msg.output.bill_name = \"Fuel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":680,"wires":[["3fe00b1d01979fc2"]]},{"id":"dfe37bda3674c176","type":"switch","z":"44a5ad7fafa10d57","name":"Is Lego Store","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^LEGO, Southgate","vt":"str","case":false},{"t":"regex","v":"^LEGO, West Edmonton Ma","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":210,"y":1360,"wires":[["9476d73152d51aa8"],["9476d73152d51aa8"],["4427f6565f882647"]]},{"id":"9476d73152d51aa8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Lego Store","func":"msg.output.destination_name = \"LEGO\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1360,"wires":[["c2f5029627c510b3"]]},{"id":"4427f6565f882647","type":"switch","z":"44a5ad7fafa10d57","name":"Is Coinamatic (laundry)","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^COINAMATIC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":1440,"wires":[["8ee34c43af04afcd"],["2af5eb5f1dc0405a"]]},{"id":"8ee34c43af04afcd","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Coinamatic (laundry)","func":"msg.output.destination_name = \"Coinamatic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1440,"wires":[["cb7980b0bc0d8541"]]},{"id":"3eb04b7c6622fd79","type":"switch","z":"44a5ad7fafa10d57","name":"Is Telus","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^TELUS PRE-AUTH PAYMENT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1580,"wires":[["e4936fc8b5b6bd6e"],["b3ef3e9f4e69ffd4"]]},{"id":"e4936fc8b5b6bd6e","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Telus","func":"msg.output.destination_name = \"Telus\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1580,"wires":[["989beedd7f91fe93"]]},{"id":"989beedd7f91fe93","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Internet","func":"msg.output.bill_name = \"Internet\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1580,"wires":[["f51ae3c055e4778f"]]},{"id":"3b49763c87957fd3","type":"switch","z":"44a5ad7fafa10d57","name":"Is Petro Canada","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PETROCAN-","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":760,"wires":[["7f6eda5cb7f7d335"],["0c12ea079cd1c975"]]},{"id":"7f6eda5cb7f7d335","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Petro-Canada","func":"msg.output.destination_name = \"Petro-Canada\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":760,"wires":[["e4384cc772e19ff5"]]},{"id":"b3ef3e9f4e69ffd4","type":"switch","z":"44a5ad7fafa10d57","name":"Is Walmart","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^WAL-MART SUPERCENTER","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1660,"wires":[["a87b52d39f4db133"],["f915817f029be3cc"]]},{"id":"a87b52d39f4db133","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Walmart","func":"msg.output.destination_name = \"Walmart\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1660,"wires":[["6f3b4e2eb8334fe8"]]},{"id":"68ba79d7f330bd73","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Vehicle Insurance and Registration","func":"msg.output.bill_name = \"Vehicle Insurance and Registration\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1800,"wires":[["8f4ddd22fedb7e9a"]]},{"id":"388093f4b7b490e6","type":"switch","z":"44a5ad7fafa10d57","name":"Is AMA","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^AMA CENTRE #52","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1800,"wires":[["57d1fcc1fd24fe8b"],["1558681519721aa8"]]},{"id":"57d1fcc1fd24fe8b","type":"function","z":"44a5ad7fafa10d57","name":"set dest to AMA","func":"msg.output.destination_name = \"AMA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1800,"wires":[["68ba79d7f330bd73"]]},{"id":"f915817f029be3cc","type":"switch","z":"44a5ad7fafa10d57","name":"Is IKEA","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^IKEA EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1720,"wires":[["6b75f139d66b9121"],["388093f4b7b490e6"]]},{"id":"6b75f139d66b9121","type":"function","z":"44a5ad7fafa10d57","name":"set dest to IKEA","func":"msg.output.destination_name = \"IKEA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1720,"wires":[["989752c450cf18c0"]]},{"id":"1558681519721aa8","type":"switch","z":"44a5ad7fafa10d57","name":"Is Lowe's","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^LOWE'S EDMONTON SOUTH","vt":"str","case":false},{"t":"regex","v":"^LOWES #03716\\*","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":160,"y":1900,"wires":[["3dba52383f24488a"],["3dba52383f24488a"],["eaaa3a12d92067c2"]]},{"id":"3dba52383f24488a","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Lowe's","func":"msg.output.destination_name = \"Lowe's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1900,"wires":[["2b08246a850b544d"]]},{"id":"eaaa3a12d92067c2","type":"switch","z":"44a5ad7fafa10d57","name":"Is Spotify","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SPOTIFY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":2000,"wires":[["1b2294c6276ee718"],["3101d34aaf6b30fa"]]},{"id":"1b2294c6276ee718","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Spotify","func":"msg.output.destination_name = \"Spotify\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2000,"wires":[["fe0814f41e548f4e"]]},{"id":"fe0814f41e548f4e","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Subscription Services","func":"msg.output.bill_name = \"Subscription Services\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2000,"wires":[["734b63e65df59b12"]]},{"id":"3101d34aaf6b30fa","type":"switch","z":"44a5ad7fafa10d57","name":"Is Epcor","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^KUBRA/EPCOR EZ-PAY FEE","vt":"str","case":false},{"t":"regex","v":"^EPCORWEBRECURRING","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":2100,"wires":[["d0a17db4eafb1859"],["d0a17db4eafb1859"],["9b2d6cd782e9292d"]]},{"id":"d0a17db4eafb1859","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Epcor","func":"msg.output.destination_name = \"Epcor\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2100,"wires":[["6ff9bbed3c916d04"]]},{"id":"6ff9bbed3c916d04","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Utilities","func":"msg.output.bill_name = \"Utilities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":2100,"wires":[["c8dc6e8d0ab4d65e"]]},{"id":"9b2d6cd782e9292d","type":"switch","z":"44a5ad7fafa10d57","name":"Is Namaste","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NAMASTE INDIA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":2220,"wires":[["6cdfed0dbd386506"],["a38ff2eaaa198a45"]]},{"id":"6cdfed0dbd386506","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Namaste","func":"msg.output.destination_name = \"Namaste\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":2220,"wires":[["6a17a96d828bc546"]]},{"id":"a38ff2eaaa198a45","type":"switch","z":"44a5ad7fafa10d57","name":"Is EPark","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^EDM EPARK ONLINE PAY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":2320,"wires":[["0b3b08bf6c6b27f8"],["d59e455a751b1f88"]]},{"id":"0b3b08bf6c6b27f8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to EPark","func":"msg.output.destination_name = \"EPark\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2320,"wires":[["3089df18a5133b4b"]]},{"id":"d59e455a751b1f88","type":"switch","z":"44a5ad7fafa10d57","name":"Is Empire Park","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NBX\\*RENT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":2420,"wires":[["c84eb82eb24860b6"],["f8fab076b61f9ea3"]]},{"id":"c84eb82eb24860b6","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Empire Park","func":"msg.output.destination_name = \"Empire Park\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2420,"wires":[["7fa4cc2d9c982086"]]},{"id":"7fa4cc2d9c982086","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Rent","func":"msg.output.bill_name = \"Rent\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2420,"wires":[["931e688a862bcd64"]]},{"id":"6dcb840af708279c","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":715,"y":200,"wires":[]},{"id":"249d6eb187f304c7","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":715,"y":280,"wires":[]},{"id":"555b91bca5852e7c","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":955,"y":440,"wires":[]},{"id":"3fe00b1d01979fc2","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":955,"y":680,"wires":[]},{"id":"875b4d9ade753669","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":715,"y":580,"wires":[]},{"id":"5850dae7e0ca427b","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":675,"y":1080,"wires":[]},{"id":"f9d587f98dc5f250","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":625,"y":1160,"wires":[]},{"id":"96dd4e7e04e4d9bd","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":715,"y":360,"wires":[]},{"id":"c2f5029627c510b3","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":605,"y":1360,"wires":[]},{"id":"cb7980b0bc0d8541","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":695,"y":1440,"wires":[]},{"id":"f51ae3c055e4778f","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":845,"y":1580,"wires":[]},{"id":"6f3b4e2eb8334fe8","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":1660,"wires":[]},{"id":"989752c450cf18c0","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":535,"y":1720,"wires":[]},{"id":"8f4ddd22fedb7e9a","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":955,"y":1800,"wires":[]},{"id":"2b08246a850b544d","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":1900,"wires":[]},{"id":"734b63e65df59b12","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":855,"y":2000,"wires":[]},{"id":"c8dc6e8d0ab4d65e","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":755,"y":2100,"wires":[]},{"id":"6a17a96d828bc546","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":2220,"wires":[]},{"id":"3089df18a5133b4b","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":535,"y":2320,"wires":[]},{"id":"931e688a862bcd64","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":795,"y":2420,"wires":[]},{"id":"03a0fe8fd9f2fd2a","type":"switch","z":"44a5ad7fafa10d57","name":"Is Dream Tea","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^DREAM TEA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":1240,"wires":[["0960c60d25c59ba3"],["e0b6d26f215a2489"]]},{"id":"0960c60d25c59ba3","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Dream Tea","func":"msg.output.destination_name = \"Dream Tea\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1240,"wires":[["7d0f1d4a8e12e9be"]]},{"id":"7d0f1d4a8e12e9be","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":625,"y":1240,"wires":[]},{"id":"e0b6d26f215a2489","type":"switch","z":"44a5ad7fafa10d57","name":"Is Mogouyan","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Mogouyan Hand Pulled N","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":1300,"wires":[["395ec0482fcfcb89"],["dfe37bda3674c176"]]},{"id":"395ec0482fcfcb89","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Mogouyan","func":"msg.output.destination_name = \"Mogouyan\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1300,"wires":[["8e03584a0d359ce2"]]},{"id":"8e03584a0d359ce2","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":625,"y":1300,"wires":[]},{"id":"2af5eb5f1dc0405a","type":"switch","z":"44a5ad7fafa10d57","name":"Is Apple","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^APPLE STORE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":1500,"wires":[["f7b870a7a2b09279"],["3eb04b7c6622fd79"]]},{"id":"f7b870a7a2b09279","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Apple","func":"msg.output.destination_name = \"Apple\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1500,"wires":[["12cabd5c7d9c6b0a"]]},{"id":"12cabd5c7d9c6b0a","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":695,"y":1500,"wires":[]},{"id":"0ad5f13fe920361f","type":"switch","z":"44a5ad7fafa10d57","name":"Is Canadian Tire","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^CDN TIRE STORE","vt":"str","case":false},{"t":"regex","v":"^WWW\\.CANADIANTIRE\\.CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":180,"y":2560,"wires":[["3c2b5b639d79b861"],["3c2b5b639d79b861"],["6cef7c1f586eb107"]]},{"id":"3c2b5b639d79b861","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Canadian Tire","func":"msg.output.destination_name = \"Canadian Tire\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2560,"wires":[["d99bca9e85554962"]]},{"id":"d99bca9e85554962","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":575,"y":2560,"wires":[]},{"id":"6cef7c1f586eb107","type":"switch","z":"44a5ad7fafa10d57","name":"Is CDKeys","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^CDKEYS\\.COM","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":2640,"wires":[["6ec7907fe3175aa8"],["633c45054f98c637"]]},{"id":"6ec7907fe3175aa8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to CDKeys","func":"msg.output.destination_name = \"CDKeys\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2640,"wires":[["0b1fae205de8a34b"]]},{"id":"0b1fae205de8a34b","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":575,"y":2640,"wires":[]},{"id":"633c45054f98c637","type":"switch","z":"44a5ad7fafa10d57","name":"Is Winners","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^WINNERS 430","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":2720,"wires":[["f2d117ce4ccb3e84"],["e42024a8ee04ec35"]]},{"id":"f2d117ce4ccb3e84","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Winners","func":"msg.output.destination_name = \"Winners\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2720,"wires":[["39abe459e15ad55a"]]},{"id":"39abe459e15ad55a","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":575,"y":2720,"wires":[]},{"id":"f8fab076b61f9ea3","type":"switch","z":"44a5ad7fafa10d57","name":"Is Virgin Mobile","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^VIRGIN PLUS","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":2480,"wires":[["b662d40ec40e472a"],["0ad5f13fe920361f"]]},{"id":"b662d40ec40e472a","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Virgin Mobile","func":"msg.output.destination_name = \"Virgin Mobile\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2480,"wires":[["22ccf67ad4284f3a"]]},{"id":"22ccf67ad4284f3a","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Phone","func":"msg.output.bill_name = \"Phone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2480,"wires":[["4ffe26221b4eb57e"]]},{"id":"4ffe26221b4eb57e","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":795,"y":2480,"wires":[]},{"id":"e42024a8ee04ec35","type":"switch","z":"44a5ad7fafa10d57","name":"Is Toyota on the Trail","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^TOYOTA ON THE TRAIL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":200,"y":2820,"wires":[["522afc590ec1b21b"],["027766e3cb94d52e"]]},{"id":"522afc590ec1b21b","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Toyota on the Trail","func":"msg.output.destination_name = \"Toyota on the Trail\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2820,"wires":[["694b0a87547a3be1"]]},{"id":"694b0a87547a3be1","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":615,"y":2820,"wires":[]},{"id":"027766e3cb94d52e","type":"switch","z":"44a5ad7fafa10d57","name":"Is Wheaton Honda","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^WHEATON HONDA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":2900,"wires":[["c725168702688b50"],["098f8b62f9e5b9c1"]]},{"id":"c725168702688b50","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Wheaton Honda","func":"msg.output.destination_name = \"Wheaton Honda\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2900,"wires":[["a4700e3013d1f472"]]},{"id":"a4700e3013d1f472","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":615,"y":2900,"wires":[]},{"id":"098f8b62f9e5b9c1","type":"switch","z":"44a5ad7fafa10d57","name":"Is Gateway Toyota","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^GATEWAY TOYOTA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":2980,"wires":[["bdf130b5e980fd57"],["cedf4a93a54da208"]]},{"id":"bdf130b5e980fd57","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Gateway Toyota","func":"msg.output.destination_name = \"Gateway Toyota\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2980,"wires":[["adc37f5bb7e207cd"]]},{"id":"adc37f5bb7e207cd","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":615,"y":2980,"wires":[]},{"id":"cedf4a93a54da208","type":"switch","z":"44a5ad7fafa10d57","name":"Is Puma","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PUMA SOUTH EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":3040,"wires":[["6a3daae16e0875b2"],["3e88ade7ef9c0204"]]},{"id":"6a3daae16e0875b2","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Puma","func":"msg.output.destination_name = \"Puma\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":3040,"wires":[["4898644aaa8eda3b"]]},{"id":"4898644aaa8eda3b","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":615,"y":3040,"wires":[]},{"id":"0c12ea079cd1c975","type":"switch","z":"44a5ad7fafa10d57","name":"Is Shell","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SHELL C[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":840,"wires":[["f959455f1418c9ad"],["40bdc2d1f03587db"]]},{"id":"f959455f1418c9ad","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Shell","func":"msg.output.destination_name = \"Shell\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":840,"wires":[["e4384cc772e19ff5"]]},{"id":"3e88ade7ef9c0204","type":"switch","z":"44a5ad7fafa10d57","name":"Is OEB Breakfast","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^OEB BREAKFAST CO\\.","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":3120,"wires":[["8ed92243745ee7e7"],["b87e28d573b9164d"]]},{"id":"8ed92243745ee7e7","type":"function","z":"44a5ad7fafa10d57","name":"set dest to OEB Breakfast","func":"msg.output.destination_name = \"OEB Breakfast Co.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":3120,"wires":[["4501ad845c5c8462"]]},{"id":"4501ad845c5c8462","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":615,"y":3120,"wires":[]},{"id":"b87e28d573b9164d","type":"switch","z":"44a5ad7fafa10d57","name":"Is TD Insurance","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SECURITY NATIONAL INSURANMONTREAL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":3200,"wires":[["52519aad952eb1d8"],["74473955f7467e95"]]},{"id":"52519aad952eb1d8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to TD Insurance","func":"msg.output.destination_name = \"TD Insurance\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":3200,"wires":[["df0fe6043cb45cd9"]]},{"id":"c7ae6ac3f3ebe052","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":855,"y":3200,"wires":[]},{"id":"df0fe6043cb45cd9","type":"function","z":"44a5ad7fafa10d57","name":"set bill to Vehicle Insurance","func":"msg.output.bill_name = \"Vehicle Insurance\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3200,"wires":[["c7ae6ac3f3ebe052"]]},{"id":"74473955f7467e95","type":"switch","z":"44a5ad7fafa10d57","name":"Is IHop","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^IHOP","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":3260,"wires":[["8226bda4079a7b63"],["4f93e9d9f0baaaee"]]},{"id":"8226bda4079a7b63","type":"function","z":"44a5ad7fafa10d57","name":"set dest to IHop","func":"msg.output.destination_name = \"IHop\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":3260,"wires":[["b1c4aa4198319463"]]},{"id":"b1c4aa4198319463","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":525,"y":3260,"wires":[]},{"id":"4f93e9d9f0baaaee","type":"switch","z":"44a5ad7fafa10d57","name":"Is NAPA","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+-NAPA EDMONTON SOU","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":3340,"wires":[["2350d142fc27028f"],["761f92207d565049"]]},{"id":"2350d142fc27028f","type":"function","z":"44a5ad7fafa10d57","name":"set dest to NAPA","func":"msg.output.destination_name = \"NAPA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3340,"wires":[["aa70cb044cad4a23"]]},{"id":"aa70cb044cad4a23","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":525,"y":3340,"wires":[]},{"id":"761f92207d565049","type":"switch","z":"44a5ad7fafa10d57","name":"Is JD Sports","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^JDSF Retail \\( Canada \\) InVancouver","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":3420,"wires":[["7a4a04805fc896e8"],["b2836eedaed194f1"]]},{"id":"7a4a04805fc896e8","type":"function","z":"44a5ad7fafa10d57","name":"set dest to JD Sports","func":"msg.output.destination_name = \"JD Sports\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3420,"wires":[["1842ca64c1a58646"]]},{"id":"1842ca64c1a58646","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3420,"wires":[]},{"id":"b2836eedaed194f1","type":"switch","z":"44a5ad7fafa10d57","name":"Is Coco Tea","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^COCO TEA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":3500,"wires":[["2f9cfe095894fdd7"],["f43da735f28847b8"]]},{"id":"2f9cfe095894fdd7","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Coco Tea","func":"msg.output.destination_name = \"Coco Tea\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3500,"wires":[["97a0f3c6bc8adc5b"]]},{"id":"97a0f3c6bc8adc5b","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3500,"wires":[]},{"id":"f43da735f28847b8","type":"switch","z":"44a5ad7fafa10d57","name":"Is Calendar Club","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^CALENDAR CLUB OF CANADA #EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":3580,"wires":[["dffcd75cbfca1963"],["42fdfe7ca47f8b5b"]]},{"id":"dffcd75cbfca1963","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Calendar Club","func":"msg.output.destination_name = \"Calendar Club\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":3580,"wires":[["169f7ab59b6de8fc"]]},{"id":"169f7ab59b6de8fc","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3580,"wires":[]},{"id":"42fdfe7ca47f8b5b","type":"switch","z":"44a5ad7fafa10d57","name":"Is Scotiabank","property":"input.description","propertyType":"msg","rules":[{"t":"eq","v":"ANNUAL FEE","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":3660,"wires":[["6868b4ec99981303"],["52578c5601ac3c58"]]},{"id":"6868b4ec99981303","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Scotiabank","func":"msg.output.destination_name = \"Scotiabank\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3660,"wires":[["e6eef5de1a4dd64f"]]},{"id":"e6eef5de1a4dd64f","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3660,"wires":[]},{"id":"52578c5601ac3c58","type":"switch","z":"44a5ad7fafa10d57","name":"Is McDonald's","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^MCDONALD'S #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":3760,"wires":[["50e0eb321f688fd1"],["a8b97e2ddcf50169"]]},{"id":"50e0eb321f688fd1","type":"function","z":"44a5ad7fafa10d57","name":"set dest to McDonald's","func":"msg.output.destination_name = \"McDonald's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":3760,"wires":[["2c339c8c1e09b415"]]},{"id":"2c339c8c1e09b415","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3760,"wires":[]},{"id":"a8b97e2ddcf50169","type":"switch","z":"44a5ad7fafa10d57","name":"Is Youtube","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^GOOGLE \\*YouTube Member","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":3860,"wires":[["b89cc9fb19c8492c"],["1438512ff1b9ccee"]]},{"id":"b89cc9fb19c8492c","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Youtube","func":"msg.output.destination_name = \"Youtube\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3860,"wires":[["f4742ded2bd8f83d"]]},{"id":"f4742ded2bd8f83d","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3860,"wires":[]},{"id":"1438512ff1b9ccee","type":"switch","z":"44a5ad7fafa10d57","name":"Is Home Depot","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^THE HOME DEPOT #7065","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":3920,"wires":[["380cb415e983a3c7"],["72b980437c7f73af"]]},{"id":"380cb415e983a3c7","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Home Depot","func":"msg.output.destination_name = \"Home Depot\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":3920,"wires":[["783b8f595d18e3d7"]]},{"id":"783b8f595d18e3d7","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":3920,"wires":[]},{"id":"72b980437c7f73af","type":"switch","z":"44a5ad7fafa10d57","name":"Is Pizza 73","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PIZZA 73 #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":4000,"wires":[["c7acb5665946fb88"],["ec067fe134fa9dd2"]]},{"id":"c7acb5665946fb88","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Pizza 73","func":"msg.output.destination_name = \"Pizza 73\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":4000,"wires":[["b6001d7e33a988c8"]]},{"id":"b6001d7e33a988c8","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":4000,"wires":[]},{"id":"ec067fe134fa9dd2","type":"switch","z":"44a5ad7fafa10d57","name":"Is Rockin' Robyn's","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^ROCKIN ROBYNS LTD","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":4080,"wires":[["de3e7654556367b1"],["13d53fcccc7f3435"]]},{"id":"de3e7654556367b1","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Rockin' Robyn's","func":"msg.output.destination_name = \"Rockin' Robyn's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":4080,"wires":[["f70b1d177f2c0f8f"]]},{"id":"f70b1d177f2c0f8f","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":4080,"wires":[]},{"id":"13d53fcccc7f3435","type":"switch","z":"44a5ad7fafa10d57","name":"Is Tres Carnales","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^TRES CARNALES TAQUERIA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":4160,"wires":[["e8f4b451a6c3609f"],["77df781c3f2c70fa"]]},{"id":"e8f4b451a6c3609f","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Tres Carnales","func":"msg.output.destination_name = \"Tres Carnales\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":4160,"wires":[["af3d4b4a875c7491"]]},{"id":"af3d4b4a875c7491","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":535,"y":4160,"wires":[]},{"id":"77df781c3f2c70fa","type":"switch","z":"44a5ad7fafa10d57","name":"Is Animethon","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^ASAPA ANIMETHON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":4240,"wires":[["a8544e8a8e7d0cab"],["7ae30c269da9e8f2"]]},{"id":"a8544e8a8e7d0cab","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Animethon","func":"msg.output.destination_name = \"Animethon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":4240,"wires":[["d44673f3fb042b2a"]]},{"id":"d44673f3fb042b2a","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":535,"y":4240,"wires":[]},{"id":"7ae30c269da9e8f2","type":"switch","z":"44a5ad7fafa10d57","name":"Is Nando's","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NANDO'S EDMONTON GATEW","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":4320,"wires":[["8c4db7b7583b2823"],["2028cd13910d2e44"]]},{"id":"8c4db7b7583b2823","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Nando's","func":"msg.output.destination_name = \"Nando's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":4320,"wires":[["b76bb6ae215848e5"]]},{"id":"b76bb6ae215848e5","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":555,"y":4320,"wires":[]},{"id":"2028cd13910d2e44","type":"switch","z":"44a5ad7fafa10d57","name":"Is Trapped","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SQ \\*TRAPPED EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":4420,"wires":[["72d0c706401b7d6f"],["ce468a37943e8d81"]]},{"id":"72d0c706401b7d6f","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Trapped","func":"msg.output.destination_name = \"Trapped\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":4420,"wires":[["09d89de3fd1070e3"]]},{"id":"09d89de3fd1070e3","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4420,"wires":[]},{"id":"e97e56486d3e592d","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1485,"y":1160,"wires":[]},{"id":"ce468a37943e8d81","type":"switch","z":"44a5ad7fafa10d57","name":"Is A&W","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^A&W-CAP CORNER #1730","vt":"str","case":false},{"t":"regex","v":"A&W #[0-9]+\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":4500,"wires":[["4cc37f12d9e66096"],["4cc37f12d9e66096"],["9798c1b343824776"]]},{"id":"4cc37f12d9e66096","type":"function","z":"44a5ad7fafa10d57","name":"set dest to A&W","func":"msg.output.destination_name = \"A&W\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":4500,"wires":[["9fb5606f395e30e8"]]},{"id":"9fb5606f395e30e8","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4500,"wires":[]},{"id":"9798c1b343824776","type":"switch","z":"44a5ad7fafa10d57","name":"Is Blowers & Grafton","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^BLOWERS & GRAFTON \\(EDMONT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":4580,"wires":[["6f15194a2cfd1d3e"],["5a3f34b336bdae1e"]]},{"id":"6f15194a2cfd1d3e","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Blowers & Grafton","func":"msg.output.destination_name = \"Blowers & Grafton\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":4580,"wires":[["f28c4dc8b91385bd"]]},{"id":"f28c4dc8b91385bd","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4580,"wires":[]},{"id":"5a3f34b336bdae1e","type":"switch","z":"44a5ad7fafa10d57","name":"Is Dollarama","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^DOLLARAMA # 466","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":4660,"wires":[["e65f68d7100c609d"],["892898ee10144fc1"]]},{"id":"e65f68d7100c609d","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Dollarama","func":"msg.output.destination_name = \"Dollarama\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":4660,"wires":[["12ce69cc9f9e833c"]]},{"id":"12ce69cc9f9e833c","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4660,"wires":[]},{"id":"892898ee10144fc1","type":"switch","z":"44a5ad7fafa10d57","name":"Is Freshii","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^FRESHII CALGARY TRAIL EDM","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":4740,"wires":[["cdecdc08d477f245"],["da0634590f184c1e"]]},{"id":"cdecdc08d477f245","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Freshii","func":"msg.output.destination_name = \"Freshii\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":4740,"wires":[["e5d2062f94ba80f5"]]},{"id":"e5d2062f94ba80f5","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4740,"wires":[]},{"id":"da0634590f184c1e","type":"switch","z":"44a5ad7fafa10d57","name":"Is United Sport & Cycle","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^UNITED SPORT & CYCLE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":190,"y":4820,"wires":[["c176a2a92e5b59bb"],["242a4508824b7c8d"]]},{"id":"c176a2a92e5b59bb","type":"function","z":"44a5ad7fafa10d57","name":"set dest to United Sport & Cycle","func":"msg.output.destination_name = \"United Sport & Cycle\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":4820,"wires":[["a7dbfdd2f262604c"]]},{"id":"a7dbfdd2f262604c","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4820,"wires":[]},{"id":"242a4508824b7c8d","type":"switch","z":"44a5ad7fafa10d57","name":"Is Move Learn Play","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^CITYOFEDMONTON-MOVELEARNP","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":4900,"wires":[["ce1db3ae85fcb638"],["b6a98a18f53ba750"]]},{"id":"ce1db3ae85fcb638","type":"function","z":"44a5ad7fafa10d57","name":"set dest to City of Edmonton","func":"msg.output.destination_name = \"City of Edmonton\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":4900,"wires":[["f9789298c8182816"]]},{"id":"f9789298c8182816","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":645,"y":4900,"wires":[]},{"id":"b6a98a18f53ba750","type":"link out","z":"44a5ad7fafa10d57","name":"to top 1","mode":"link","links":["95ef488c7c1f0a80"],"x":295,"y":4960,"wires":[]},{"id":"da14f1c6ceea60a9","type":"switch","z":"44a5ad7fafa10d57","name":"Is Gander Disc Golf","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SP GANDER DISC GOLF","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1230,"y":200,"wires":[["3592b305700f9033"],["d845000dd8ac8630"]]},{"id":"3592b305700f9033","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Gander Disc Golf","func":"msg.output.destination_name = \"Gander Disc Golf\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":200,"wires":[["84a02b3a1bebeea2"]]},{"id":"84a02b3a1bebeea2","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":200,"wires":[]},{"id":"95ef488c7c1f0a80","type":"link in","z":"44a5ad7fafa10d57","name":"from top 1","links":["b6a98a18f53ba750"],"x":1085,"y":200,"wires":[["da14f1c6ceea60a9"]]},{"id":"d845000dd8ac8630","type":"switch","z":"44a5ad7fafa10d57","name":"Is Spool3D","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SPOOL3D - 3D PRINTING","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":280,"wires":[["893a70c094ea925f"],["fdd6eca4c32f8c13"]]},{"id":"893a70c094ea925f","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Spool3D","func":"msg.output.destination_name = \"Spool3D\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":280,"wires":[["ce8494e9408df2f3"]]},{"id":"ce8494e9408df2f3","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":280,"wires":[]},{"id":"fdd6eca4c32f8c13","type":"switch","z":"44a5ad7fafa10d57","name":"Is Uber Eats","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^UBER CANADA\\/UBEREATS","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":360,"wires":[["52b6ae8eaf3688c3"],["2f10988f54b86989"]]},{"id":"52b6ae8eaf3688c3","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Uber Eats","func":"msg.output.destination_name = \"Uber Eats\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":360,"wires":[["5253ebfd1bc9d412"]]},{"id":"5253ebfd1bc9d412","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":360,"wires":[]},{"id":"2f10988f54b86989","type":"switch","z":"44a5ad7fafa10d57","name":"Is AliExpress","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^aliexpress\\s+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":440,"wires":[["49648405f4083beb"],["d749a3c7f9dd226e"]]},{"id":"49648405f4083beb","type":"function","z":"44a5ad7fafa10d57","name":"set dest to AliExpress","func":"msg.output.destination_name = \"AliExpress\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":440,"wires":[["9b464f4f3502ecd4"]]},{"id":"9b464f4f3502ecd4","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":440,"wires":[]},{"id":"d749a3c7f9dd226e","type":"switch","z":"44a5ad7fafa10d57","name":"Is HiPi Industries","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^HIPI INDUSTRIES INC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1230,"y":520,"wires":[["1aa334808023429a"],["6b7d4216bf5f0f22"]]},{"id":"1aa334808023429a","type":"function","z":"44a5ad7fafa10d57","name":"set dest to HiPi Industries","func":"msg.output.destination_name = \"HiPi Industries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":520,"wires":[["92a05b0a96210ea2"]]},{"id":"92a05b0a96210ea2","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":520,"wires":[]},{"id":"6b7d4216bf5f0f22","type":"switch","z":"44a5ad7fafa10d57","name":"Is Namecheap","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NAME-CHEAP\\.COM\\* AE9X76   WWW\\.NAMECHEAPAZ AMT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":600,"wires":[["26977f62cfd2df67"],["4d9ef0ea738b5bd8"]]},{"id":"26977f62cfd2df67","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Namecheap","func":"msg.output.destination_name = \"Namecheap\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":600,"wires":[["cb663ed05f75f16d"]]},{"id":"cb663ed05f75f16d","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":600,"wires":[]},{"id":"4d9ef0ea738b5bd8","type":"switch","z":"44a5ad7fafa10d57","name":"Is Starbucks","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^STARBUCKS COFFEE #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":680,"wires":[["ccdd34a1f6b29710"],["78526f8e9b2a9581"]]},{"id":"ccdd34a1f6b29710","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Starbucks","func":"msg.output.destination_name = \"Starbucks\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":680,"wires":[["227693894a9cf242"]]},{"id":"227693894a9cf242","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":680,"wires":[]},{"id":"78526f8e9b2a9581","type":"switch","z":"44a5ad7fafa10d57","name":"Is Wok Box","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^WOK BOX #[0-9]+","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":760,"wires":[["9cb02b9ba8db53a6"],["3b0e72b83bd8c215"]]},{"id":"9cb02b9ba8db53a6","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Wok Box","func":"msg.output.destination_name = \"Wok Box\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":760,"wires":[["6cb3b5dce6d55b48"]]},{"id":"6cb3b5dce6d55b48","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":760,"wires":[]},{"id":"3b0e72b83bd8c215","type":"switch","z":"44a5ad7fafa10d57","name":"Is The Hexagon Board Game Cafe","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^THE HEXAGON BOARD GAME CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1280,"y":840,"wires":[["ec6ea29d9197fb18"],["5d6098fd82d20c68"]]},{"id":"ec6ea29d9197fb18","type":"function","z":"44a5ad7fafa10d57","name":"set dest to The Hexagon Board Game Cafe","func":"msg.output.destination_name = \"The Hexagon Board Game Cafe\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":840,"wires":[["b591eb2fddef5d6e"]]},{"id":"b591eb2fddef5d6e","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":840,"wires":[]},{"id":"5d6098fd82d20c68","type":"switch","z":"44a5ad7fafa10d57","name":"Is Panini's Italian Cucina","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PANINI'S ITALIAN CUCINA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1250,"y":920,"wires":[["16dd7ae4b5364179"],["b2cb51d05fb879b3"]]},{"id":"16dd7ae4b5364179","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Panini's Italian Cucina","func":"msg.output.destination_name = \"Panini's Italian Cucina\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":920,"wires":[["a5c7aaaef4bf2680"]]},{"id":"a5c7aaaef4bf2680","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":920,"wires":[]},{"id":"b2cb51d05fb879b3","type":"switch","z":"44a5ad7fafa10d57","name":"Is Foot Locker","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^FOOT LOCKER CANADA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":1000,"wires":[["8d7ab6dcb58ae9d0"],["acc131993604826e"]]},{"id":"8d7ab6dcb58ae9d0","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Foot Locker","func":"msg.output.destination_name = \"Foot Locker\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1000,"wires":[["7c7a87fd05840691"]]},{"id":"7c7a87fd05840691","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":1000,"wires":[]},{"id":"acc131993604826e","type":"switch","z":"44a5ad7fafa10d57","name":"Is Sport Check","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^#[0-9]+ SPORT CHEK   ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1220,"y":1080,"wires":[["e578af53c8dd0d00"],["e97e56486d3e592d"]]},{"id":"e578af53c8dd0d00","type":"function","z":"44a5ad7fafa10d57","name":"set dest to Sport Check","func":"msg.output.destination_name = \"Sport Check\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":1080,"wires":[["ea309e310fd72ff7"]]},{"id":"ea309e310fd72ff7","type":"link out","z":"44a5ad7fafa10d57","name":"Http Out","mode":"link","links":["b02a1a9c6ec3f7ef"],"x":1845,"y":1080,"wires":[]},{"id":"89f60b01305b7ddd","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":500,"y":120,"wires":[]},{"id":"b02a1a9c6ec3f7ef","type":"link in","z":"ba3387d8c4ba1124","name":"Http out","links":["e898fd48ed5b66eb","e3eea09011f32aaa","0a6532dd908a15a0","4b029e68e2f05438","682b4cbc75187cec","d18b76ad13425af8","930628fa95936733","1bc47599f27c2210","df0b7125bb81596f","9c18f9dfb52ca3a6","6dcb840af708279c","249d6eb187f304c7","555b91bca5852e7c","3fe00b1d01979fc2","875b4d9ade753669","5850dae7e0ca427b","f9d587f98dc5f250","96dd4e7e04e4d9bd","c2f5029627c510b3","cb7980b0bc0d8541","f51ae3c055e4778f","6f3b4e2eb8334fe8","989752c450cf18c0","8f4ddd22fedb7e9a","2b08246a850b544d","734b63e65df59b12","c8dc6e8d0ab4d65e","6a17a96d828bc546","3089df18a5133b4b","931e688a862bcd64","7d0f1d4a8e12e9be","8e03584a0d359ce2","12cabd5c7d9c6b0a","d99bca9e85554962","0b1fae205de8a34b","39abe459e15ad55a","4ffe26221b4eb57e","694b0a87547a3be1","a4700e3013d1f472","adc37f5bb7e207cd","4898644aaa8eda3b","4501ad845c5c8462","c7ae6ac3f3ebe052","b1c4aa4198319463","aa70cb044cad4a23","1842ca64c1a58646","8599d05c610b824e","97a0f3c6bc8adc5b","169f7ab59b6de8fc","e6eef5de1a4dd64f","2c339c8c1e09b415","f4742ded2bd8f83d","783b8f595d18e3d7","b6001d7e33a988c8","f70b1d177f2c0f8f","af3d4b4a875c7491","d44673f3fb042b2a","b76bb6ae215848e5","b7443391a55e06ec","09d89de3fd1070e3","e97e56486d3e592d","9fb5606f395e30e8","f28c4dc8b91385bd","12ce69cc9f9e833c","e5d2062f94ba80f5","a7dbfdd2f262604c","f9789298c8182816","33aac4eab9b864b2","4c0b946f6a27ba1e","84a02b3a1bebeea2","ce8494e9408df2f3","5253ebfd1bc9d412","9b464f4f3502ecd4","92a05b0a96210ea2","cb663ed05f75f16d","227693894a9cf242","6cb3b5dce6d55b48","b591eb2fddef5d6e","a5c7aaaef4bf2680","7c7a87fd05840691","ea309e310fd72ff7"],"x":195,"y":120,"wires":[["bf288044959c6028"]]},{"id":"bf288044959c6028","type":"function","z":"ba3387d8c4ba1124","name":"Prepare output","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"source_id\",\n    \"destination_name\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["89f60b01305b7ddd"]]},{"id":"386173e34ec177ab","type":"http in","z":"ba3387d8c4ba1124","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["bd687d1e7a04b502"]]},{"id":"bd687d1e7a04b502","type":"function","z":"ba3387d8c4ba1124","name":"Prepare input","func":"msg.input = msg.payload;\nmsg.output = JSON.parse(JSON.stringify(msg.input));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["ab4a81510304fe7b"]]},{"id":"ab4a81510304fe7b","type":"link out","z":"ba3387d8c4ba1124","name":"Http In","mode":"link","links":["2f5aebd5d4d11d05"],"x":535,"y":60,"wires":[]},{"id":"57f1995e41691864","type":"catch","z":"ba3387d8c4ba1124","name":"","scope":null,"uncaught":false,"x":240,"y":180,"wires":[["3017eab9f752b0a6"]]},{"id":"363078b35b8681c2","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":640,"y":180,"wires":[]},{"id":"3017eab9f752b0a6","type":"function","z":"ba3387d8c4ba1124","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["363078b35b8681c2"]]},{"id":"80e2e4bcc774b82f","type":"file in","z":"a69df1cc3d44ad70","name":"flows.json","filename":"/data/flows.json","filenameType":"str","format":"utf8","allProps":false,"x":240,"y":60,"wires":[["39846d681fc60b3b"]]},{"id":"1888823084e0a98d","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["27a255db48fad62d"]]},{"id":"f16db8939f2c9378","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["1888823084e0a98d"]]},{"id":"a5f77e77cd5be2bc","type":"file in","z":"a69df1cc3d44ad70","name":"flows_cred.json","filename":"/data/flows_cred.json","filenameType":"str","format":"utf8","allProps":false,"x":260,"y":140,"wires":[["e8a688bebd02d0b1"]]},{"id":"0ddfd7e8667fc727","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["f8bc9d7cba181393"]]},{"id":"39846d681fc60b3b","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["f16db8939f2c9378"]]},{"id":"e8a688bebd02d0b1","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["0ddfd7e8667fc727"]]},{"id":"f8bc9d7cba181393","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":140,"wires":[["27a255db48fad62d"]]},{"id":"cf7b876a90575c50","type":"http in","z":"a69df1cc3d44ad70","name":"Input","url":"/export-flows","method":"post","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["80e2e4bcc774b82f","a5f77e77cd5be2bc"]]},{"id":"6c23814ef803fe63","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1460,"y":60,"wires":[]},{"id":"05d521556dfcaab1","type":"catch","z":"a69df1cc3d44ad70","name":"","scope":null,"uncaught":false,"x":1060,"y":220,"wires":[["dfd73780bd322b26"]]},{"id":"63b61351e18b439a","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":1460,"y":220,"wires":[]},{"id":"dfd73780bd322b26","type":"function","z":"a69df1cc3d44ad70","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["63b61351e18b439a"]]},{"id":"27a255db48fad62d","type":"join","z":"a69df1cc3d44ad70","name":"","mode":"custom","build":"array","property":"filename","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":60,"wires":[["a740d78c4157ed40"]]},{"id":"a740d78c4157ed40","type":"function","z":"a69df1cc3d44ad70","name":"Prepare response payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["6c23814ef803fe63"]]}]